{% extends "progress/base.html" %}
{% load i18n %}

{% block inhead %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/progress/progresslist.css?version=3.0.0">
    <link rel="stylesheet" href="/static/css/progress/progresscard.css?version=3.0.0">
    <script src="/static/js/progress/progresslist.js?version=3.0.0"></script>
{% endblock inhead %}

{% block nav-btn %}
    {% include "progress/navdropdown.html" %}
{% endblock nav-btn %}

{% block function-btn %}
    <a class="btn btn-success btn-sm" href="/progress/new">
        <span class="fas fa-plus"></span>
        <span class="hidden-xs">{% trans "新增进度" %}</span>
    </a>
    <a class="btn btn-default btn-sm ani-fast fold-xs" href="javascript:void(0);" role="button" onclick="toggleSearchRow(this)">
        <span class="fas fa-search"></span>
        <span class="hidden-xs">{% trans "搜索" %}</span>
    </a>
{% endblock function-btn %}
