{% extends "base.html" %}

{% block inhead %}
    {{ block.super }}
    <link rel="manifest" href="/static/json/progress/manifest.json">
    <script>
        function serviceWorkerRegister () {
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', function() {
                    navigator.serviceWorker.register('/progress-service-worker.js').then(function (registration) {  // Registration was successful
                        console.log('[Service Worker] Registration OK, Scope: ', registration.scope)
                    }, function (err) {  // registration failed :(
                        console.log('[Service Worker] Registration KO, Error: ', err)
                    })
                })
            }
        }
        // serviceWorkerRegister()  // Unregister will be a mess, so just keep this TODO.
    </script>
{% endblock inhead %}

{% block icon %}
    <link rel="icon" href="/static/img/Logo_List.png" />
    <link href="/static/img/Logo_List.png" rel="apple-touch-icon">
{% endblock icon %}
