{% extends "progress/base.html" %}
{% load i18n %}

{% block inhead %}
    <link rel="stylesheet" href="/static/css/progress/list/common.css?version=2.0.0">
    <link rel="stylesheet" href="/static/css/progress/progresscard.css?version=2.0.2">
    <script src="/static/js/progress/list/common.js"></script>
{% endblock inhead %}


{% block nav-btn %}
    {% include "progress/navdropdown.html" %}
{% endblock nav-btn %}


{% block function-btn %}
    <a href="/progress/new" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hidden-xs">{% trans "新增进度" %}</span>
    </a>
{% endblock function-btn %}
