{% extends "base.html" %}

{% block inhead %}
    {{ block.super }}
    <link rel="manifest" href="/progress/manifest.json">
    <script>
        function registerServiceWorker () {
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', function () {
                    navigator.serviceWorker.register('/progress/service-worker.js').then(function (registration) {  // Registration was successful
                        console.debug('[Service Worker] Registration OK, Scope:', registration.scope)
                    }, function (err) {  // registration failed :(
                        console.debug('[Service Worker] Registration KO, Error:', err)
                    })
                })
                navigator.serviceWorker.addEventListener('message', function (event) {
                    console.debug('[Service Worker] Message received:', event.data)
                    if (event.data === 'offline') {
                        $("#offline-indicator").fadeIn()
                    }
                })
            }
        }
        function unregisterServiceWorker () {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.getRegistrations().then(function (registrations) {
                    for (let registration of registrations) {
                        registration.unregister().then(function (isSuccess) {
                            if (isSuccess) {
                                console.debug('[Service Worker] Unregistration OK')
                            } else {
                                console.debug('[Service Worker] Unregistration KO')
                            }
                        })
                    }
                })
            }
        }
        {% if cuser.serviceworker_on %}
            registerServiceWorker()
        {% else %}
            unregisterServiceWorker()
        {% endif %}
    </script>
{% endblock inhead %}

{% block icon %}
    <link rel="icon" href="/static/img/Logo_List.png" />
    <link href="/static/img/Logo_List.png" rel="apple-touch-icon">
{% endblock icon %}
