{% extends "progress/base.html" %}


{% block inhead %}
    <link rel="stylesheet" href="/static/css/progress/list/common.css">
    <link rel="stylesheet" href="/static/css/progress/progresscard.css">
    <script src="/static/js/progress/list/common.js"></script>
{% endblock inhead %}


{% block nav-btn %}
    {% include 'progress/navdropdown.html' %}
{% endblock nav-btn %}


{% block function-btn %}
    <a href="/progress/new" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"></span> 新增进度
    </a>
{% endblock function-btn %}
