{% extends "base.html" %}
{% block title %}进度：{{ opus.name }}{% endblock title %}
{% block icon %}<link rel="icon" href="/static/img/Logo_List.png" />{% endblock icon %}

{% block css %}
<style type="text/css">
    .container {
        font-family: 'Microsoft YaHei';
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .progress-card .table {
        margin: 0;
        font-size: 13px;
    }
    .progress-card .subtitle {
        font-size: 15px;
    }
    .progress-card .persent {
        font-size: 15px;
    }

    /* progress bar */
    .progress-card .progress {
        height: 26px;
        margin: 0;
    }
    .progress-card .progress b{
        font-size: 15px;
    }
    #updateform, #deleteform {
        display: inline-block;
    }
    table td{
        font-size: 14px;
    }
    .editable {
        font-size: 14px !important;
        width: 100%;
        border-bottom: 0 !important;
    }
    .editmode {
        display: none;
    }
    .first-panel-body {
        background-color: #eeeeee;
        padding: 0px;
        padding-bottom: 0px;
        border-bottom: dashed silver 1px;
    }
    input[name="newcurrent"] {
        text-align: right;
    }
    form {
        margin-bottom: 0;
    }
    .form-group {
        margin-bottom: 0;
    }
    .panel-footer {
        padding: 0;
    }
    .fastupdate-total {
        padding-left: 0;
    }
    .fastupdate-div {
        padding-top: 1px;
    }
    .label-persent {
        background-color: #51ABFF;
    }
    .label-tag {
        background-color: white;
        border: silver 1px solid;
    }
    .label-subtitle {
        background-color: #3080BB;
    }
    #reset, #giveup, #delete {
        float: left;
    }
    .rating-aux {
        color: silver;
    }
    #opus-type {
        color: #bbbbbb;
        text-decoration: none;
    }
</style>
{% endblock css %}

{% block js %}
<script type="text/javascript">
    var bookinfo = {};
    var movieinfo = {};
    $(function(){
        getOpusInfo()
        $('.disableBtn').click(function(){
            $('.btn').attr('disabled','disabled')
        });
    });
    function getOpusInfo(){
        var book_subs = ['书','书籍','book','pdf','漫画','comic','文字','doc','txt']
        var movie_subs = ['动画','anime','电影','movie','电视剧','tv','show','美剧','英剧','韩剧']
        var sub = $("input[name='subtitle']").val().toLowerCase()
        if(book_subs.indexOf(sub) >= 0){
            getBookInfo('book')
        } else if(movie_subs.indexOf(sub) >= 0) {
            getMovieInfo('movie')
        } else {
            getBookInfo('compare')
            getMovieInfo('compare')
        }
    }
    function checkTagRating(info){
        if(info.tags.length == 0){
            $('#tag-tr').hide()
        }
        if(parseInt(info.rating) == 0 || info.rating == ""){
            $('#rating-tr').hide()
        }
    }

    function setInfo(setType){
        var total = $("input[name='total']").val()
        switch(setType){
            case 'book':
                if(bookinfo.title){
                    $('#opus-type').addClass('glyphicon-book');
                    $('#opus-type').attr('href', bookinfo.url);
                    $('#opus-type').attr('title', bookinfo.title);
                    $('#tag-tag').text( bookinfo.tags.join('，') );
                    $('#rating-av').text(bookinfo.rating);
                }
                checkTagRating(bookinfo)
                break;
            case 'movie':
                if(movieinfo.title){
                    $('#opus-type').addClass('glyphicon-film');
                    $('#opus-type').attr('href', movieinfo.url);
                    $('#opus-type').attr('title', movieinfo.title);
                    $('#tag-tag').text( movieinfo.tags.join('，') );
                    $('#rating-av').text(movieinfo.rating);
                }
                checkTagRating(movieinfo)
                break;
            case 'compare':
                if(bookinfo.finish && movieinfo.finish){
                    if(bookinfo.title && !movieinfo.title){
                        setInfo('book')
                    } else if(!bookinfo.title && movieinfo.title){
                        setInfo('movie')
                    } else if(parseInt(total) == parseInt(bookinfo.pages)){
                        setInfo('book')
                    } else { // default
                        setInfo('movie')
                    }
                }
                break;
        }
    }
    function getBookInfo(setType){
        var bookname = $("input[name='name']").val()
        if(bookname != ''){
            $.getBookInfo(bookname, function(info){
                bookinfo = info;
                bookinfo.finish = true;
                setInfo(setType)
            });
        }
    }
    function getMovieInfo(setType){
        var moviename = $("input[name='name']").val()
        if(moviename != ''){
            $.getMovieInfo(moviename, function(info){
                movieinfo = info;
                movieinfo.finish = true;
                setInfo(setType)
            });
        }
    }
    function confirmDelete(){
        var result = confirm("确定删除此进度？")
        if(result){
            $("#deleteform").submit();
        } else {
            $.info("删除操作已取消")
        }
    }
    function enterEdit(){
        $('.editable').removeAttr('readonly')
        $('.viewmode').hide()
        $('.editmode').show()
        $('.viewunlock').attr('disabled','disabled')
        $('.editunlock').addClass('warning');
        $.success('输入框已解锁');
    }
    function cancelEdit(){
        $('.editable').attr('readonly','');
        $('.viewmode').show()
        $('.editmode').hide()
        $('.viewunlock').removeAttr('disabled')
        $('input[name="name"]').val('{{opus.name}}')
        $('input[name="subtitle"]').val('{{opus.subtitle}}')
        $('input[name="total"]').val('{{opus.total}}')
        $('input[name="current"]').val('{{prg.current}}')
        $('.editunlock').removeClass('warning');
        checkUpdateButtonLock();
        $.warning('已撤销修改');
    }
    function saveEdit(){
        var name = $('input[name="name"]').val()
        var subtitle = $('input[name="subtitle"]').val()
        var total = $('input[name="total"]').val()
        var current = $('input[name="current"]').val()
        if(name == ""){
            $.danger('名称不能为空')
            return false;
        }
        if(total == ""){
            $.danger('总页数不能为空、或包含非数字')
            return false;
        }
        if(total == "0"){
            $.danger('总页数不能为 0')
            return false;
        }
        if(current == ""){
            $('input[name="current"]').val("0")
        }
        if(parseInt(current) > parseInt(total)){
            $.danger('当前进度不能大于总页数')
            return false;
        }
        $('#saveform').submit();
    }
    function submitUpdateForm(){
        var newcurrent = $('input[name="newcurrent"]').val();
        var total = $('input[name="total"]').val();
        if( isNaN(newcurrent) ){
            $('input[name="newcurrent"]').parent().addClass('has-error');
            $.danger('输入的更新的进度 '+newcurrent+' 必须是纯数字！')
            return false;
        }
        if( newcurrent == '' ){
            $('input[name="newcurrent"]').parent().addClass('has-error');
            $.danger('当前的更新进度为空 或 存在特殊字符')
            return false;
        }
        if( parseInt(newcurrent) > parseInt(total) ){
             $('input[name="newcurrent"]').parent().addClass('has-error');
            $.danger('当前进度 '+newcurrent+' 超过最大值 '+total);
            return false;
        }
        $("#updateform").submit();
    }
    function focusNewcurrent(){
        var nc = $('input[name="newcurrent"]');
        if(nc.val() == '{{prg.current}}'){
            nc.val('');
        }
    }
    function blurNewcurrent(){
        var nc = $('input[name="newcurrent"]');
        if(nc.val() == ''){
            nc.val('{{prg.current}}');
        }
        checkUpdateButtonLock();
    }
    function checkUpdateButtonLock(){
        var nc = $('input[name="newcurrent"]');
        if(nc.val()=='{{prg.current}}'){
            $('#fastupdate').attr('disabled','disabled');
        } else {
            $('#fastupdate').removeAttr('disabled');
        }
    }

    function addOneCurrent(){
        var newcurrent = $('input[name="newcurrent"]').val();
        var total = $('input[name="total"]').val();
        if( isNaN(newcurrent) ){
            $('input[name="newcurrent"]').parent().addClass('has-error');
            $.danger('当前的更新进度 '+newcurrent+' 必须是纯数字！')
            return false;
        }
        if( newcurrent == '' ){
            $('input[name="newcurrent"]').parent().addClass('has-error');
            $.danger('当前的更新进度为空 或 存在特殊字符')
            return false;
        }
        if( parseInt(newcurrent) >= parseInt(total) ){
             $('input[name="newcurrent"]').parent().addClass('has-error');
            $.warning('进度已达到最大值');
            return false;
        }
        $('input[name="newcurrent"]').val(parseInt(newcurrent)+1);
        checkUpdateButtonLock();
    }
</script>
{% endblock js %}

{% block nav-btn %}
<a href="/progress/list" class="btn btn-warning btn-sm">
    <span class="glyphicon glyphicon-arrow-left"></span> 回到列表
</a>
{% endblock nav-btn %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 progress-card" progressid="{{ prg.id }}">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="panel-title">
                        {% ifequal prg.status 'giveup' %}
                        <span class="persent label label-danger">已弃置</span>
                        {% endifequal %}
                        <span class="persent label label-persent">{{prg.getPersent}}%</span>
                        <span>《 <b>{{opus.name}}</b> 》</span>
                        {% if opus.subtitle %}
                        <span class="subtitle label label-subtitle">{{opus.subtitle}}</span>
                        {% endif %}
                    </span>
                </div>
                <div class="panel-body first-panel-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active {{prg.getBartype}}" style="width: {{prg.getPersent}}%;">
                            <b>{{prg.current}} / {{opus.total}}</b>
                        </div>
                    </div>
                    <div class="row fastupdate-div">
                        <div class="text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="text-right">
                                <form id="updateform" action="/progress/fastupdate/" method="post">
                                    <input type="hidden" name="id" value="{{prg.id}}">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="tel" name="newcurrent" class="viewunlock form-control"
                                                placeholder="当前 {{prg.current}}" value="{{prg.current}}"
                                                onfocus="focusNewcurrent()" onblur="blurNewcurrent()" oninput="checkUpdateButtonLock()">
                                            <span class="input-group-addon fastupdate-total">/{{opus.total}}</span>
                                            <span class="input-group-btn">
                                                <div class="viewunlock btn btn-default" onclick="addOneCurrent()">+1</div>
                                                <div id='fastupdate' class="viewunlock btn btn-primary disableBtn" onclick="submitUpdateForm()" disabled='disabled'>更新</div>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form id="saveform" action="/progress/update/" method="post">
                        <input type="hidden" name="id" value="{{prg.id}}">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <table class="table table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th>作品信息</th>
                                            <td class="text-muted text-right">
                                                <a id="opus-type" class="glyphicon" href="" target="_blank"></a>
                                                 / Id:{{opus.id}}
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-info editunlock">
                                            <td>名称</td>
                                            <td>
                                                <input type="text" placeholder="{{opus.name}}" name="name" value="{{opus.name}}" readonly class="editable">
                                            </td>
                                        </tr>
                                        <tr class="text-info editunlock">
                                            <td>副标题</td>
                                            <td>
                                                <input type="text" placeholder="{{opus.subtitle}}" name="subtitle" value="{{opus.subtitle}}" readonly class="editable">
                                            </td>
                                        </tr>
                                        <tr class="text-info editunlock">
                                            <td>总共</td>
                                            <td>
                                                <input type="number" placeholder="{{opus.total}}" name="total" value="{{opus.total}}" readonly class="editable">
                                            </td>
                                        </tr>
                                        <tr id="rating-tr">
                                            <td>豆瓣评分</td>
                                            <td>
                                                <b id="rating-av"></b>
                                                <span class="rating-aux"> / 10</span>
                                            </td>
                                        </tr>
                                        <tr id="tag-tr">
                                            <td id="tag-label">
                                                标签
                                            </td>
                                            <td id="tag-tag">
                                            </td>
                                        </td>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix visible-xs-block visible-sm-block">
                                <hr/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <table class="table table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th>进度信息</th>
                                            <td class="text-muted text-right">
                                                User:{{prg.userid}} / Opus:{{prg.opusid}} / Id:{{prg.id}}
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-primary">
                                            <td>状态</td>
                                            <td><b>{{prg.getStatus}}</b></td>
                                        </tr>
                                        <tr>
                                            <td>阅读百分比</td>
                                            <td>{{prg.getPersent}}%</td>
                                        </tr>
                                        <tr class="text-info editunlock">
                                            <td>当前进度</td>
                                            <td>
                                                <input type="number" placeholder="{{prg.current}}" name="current" value="{{prg.current}}" readonly class="editable">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>开始时间</td>
                                            <td>{{prg.getCreated}}</td>
                                        </tr>
                                        <tr>
                                            <td>上次更新</td>
                                            <td>{{prg.getModified}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                            <form id="deleteform" action="/progress/delete/" method="post">
                                <input type="hidden" name="id" value="{{prg.id}}">
                            </form>
                            <form id="giveupform" action="/progress/giveup/" method="post">
                                <input type="hidden" name="id" value="{{prg.id}}">
                            </form>
                            <form id="resetform" action="/progress/reset/" method="post">
                                <input type="hidden" name="id" value="{{prg.id}}">
                            </form>
                            <div class="viewmode">
                                {% if prg.status == 'giveup' %}
                                    <button class="btn btn-danger disableBtn" id='reset' onclick="$('#resetform').submit()">取消弃置</button>
                                {% else %}
                                    <button class="btn btn-danger disableBtn" id='giveup' onclick="$('#giveupform').submit()">弃置</button>
                                {% endif %}
                                <a class="btn btn-success disableBtn" id='new' href="/progress/new">新增</a>
                                <a class="btn btn-warning" id='edit' onclick="enterEdit()">进入编辑</a>
                            </div>
                            <span class="editmode">
                                <button class="btn btn-danger" id='delete' onclick="confirmDelete()">彻底删除</button>
                                <a class="btn btn-success disableBtn" id="save" onclick="saveEdit()">保存</a>
                                <a class="btn btn-default" id="cancel" onclick="cancelEdit()">取消</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--col-->
    </div><!--row-->
</div>
{% endblock content %}
