{% extends "progress/base.html" %}


{% block title %}进度：{{ opus.name }}{% endblock title %}


{% load tags_url %}


{% block css %}
<style>
    .progress-card .table {
        margin: 0;
    }
    .progress-card .panel-heading {
        overflow-x: auto;
        overflow-y: hidden;
        word-break: keep-all;
    }
    /* progress bar */
    .progress-card .progress {
        height: 25px;
        line-height: 25px;
        margin-bottom: 0;
    }
    .progress-card .progress .progress-bar {
        line-height: inherit;
    }
    .editable {
        width: 100%;
    }
    input[name="current"] {
        text-align: right;
    }
    form {
        margin-bottom: 0;
    }
    .form-group {
        margin-bottom: 0;
    }
    #saveform th {
        min-width: 6em;
    }
    #title-tr,
    #rating-tr,
    #tag-tr,
    #douban-info-panel {
        display: none;
    }
    #color-indicator {
        color: transparent;
    }
    @media (max-width: 768px) {
        #left-half-panel,
        #right-half-panel {
            padding-left: 0;
            padding-right: 0;
        }
    }
</style>
{% endblock css %}


{% block nav-btn %}
<div class="btn-group">
    {% if prg.status == 'giveup' or prg.status == 'done' %}
        <a class="btn btn-warning btn-sm" href="/progress/archive">
            <span class="glyphicon glyphicon-inbox"></span> 进度存档
        </a>
    {% else %}
        <a class="btn btn-warning btn-sm" href="/progress/list">
            <span class="glyphicon glyphicon-th-list"></span> 进度列表
        </a>
    {% endif %}
    <a class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </a>
    {% include 'progress/navlink.html' %}
</div>
{% endblock nav-btn %}


{% block function-btn %}
    <a href="/progress/new" class="btn btn-success btn-sm hide-when-edit">
        <span class="glyphicon glyphicon-plus"></span> 新增进度
    </a>
{% endblock function-btn %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 progress-card" progressid="{{ prg.id }}">
            <div class="panel panel-primary" id="main-panel">
                <div class="panel-heading text-nowrap">
                    <span class="panel-title">
                        <a class="btn btn-primary btn-xs pull-left" data-toggle="tooltip" data-placement="top" data-container='body' href="/opus/detail?id={{opus.id}}" title="看看还有谁在看这本书">
                            <span class="glyphicon glyphicon-qrcode"></span>
                        </a>
                        《<b>{{ opus.name }}</b>》
                        {% if opus.subtitle %}
                            <em class="subtitle small">
                                {{ opus.subtitle }}
                            </em>
                        {% endif %}
                    </span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-{{prg.getContextualType}}" style="width: {{prg.persent}}%; min-width: 7em;">
                        {% if opus.total == 0 %}
                            <b>{{prg.current}} / ∞</b>
                        {% else %}
                            <b>{{prg.current}} / {{opus.total}}</b>
                            <span class='pull-right'>{{ prg.persent }}%</span>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-body second-panel-body">
                    <div class="row">
                        <div id='left-half-panel' class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <form id="saveform" action="/progress/update/" method="post">
                                {% csrf_token %}
                                <input name="id" type="hidden" value="{{prg.id}}">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <span>进度信息</span>
                                    </div>
                                    <div class="panel-body">
                                        {% if prg.status == 'giveup' %}
                                            <span class="label label-danger center-block">已冻结</span>
                                        {% endif %}
                                        <table class="table table-condensed table-hover">
                                            <tr>
                                                <th>状态</th>
                                                <td>
                                                    {{ prg.get_status_display }}
                                                    <span class="text-muted text-capitalize">{{ prg.status }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>百分比</th>
                                                <td>{{prg.persent}}%</td>
                                            </tr>
                                            <tr class="text-info" id='name-tr' data-toggle="popover" data-placement='top' data-container='body'>
                                                <th>名称</th>
                                                <td class="text-info">
                                                    <input class="editable form-control"
                                                      name="name"
                                                      type="text"
                                                      value="{{opus.name}}"
                                                      data-original="{{opus.name}}"
                                                      autocomplete="off"
                                                      placeholder="{{opus.name}}"
                                                      required="required">
                                                </td>
                                            </tr>
                                            <tr class="text-info">
                                                <th>备注</th>
                                                <td class="text-info">
                                                    <input class="editable form-control"
                                                      name="subtitle"
                                                      type="text"
                                                      value="{{opus.subtitle}}"
                                                      data-original="{{opus.subtitle}}"
                                                      placeholder="{{opus.subtitle}}"
                                                      autocomplete="off">
                                                </td>
                                            </tr>
                                            <tr class="text-info">
                                                <th>总共</th>
                                                <td class="text-info">
                                                    <input class="editable form-control"
                                                      name="total"
                                                      type="number"
                                                      min="0"
                                                      placeholder="{{opus.total}}"
                                                      value="{{opus.total}}"
                                                      data-original="{{opus.total}}"
                                                      autocomplete="off"
                                                      oninput='syncTotal()'>
                                                </td>
                                            </tr>
                                            <tr class="text-info">
                                                <th>当前进度</th>
                                                <td class="text-info">
                                                    <div class="form-group form-group-lg has-feedback">
                                                        <div class='input-group'>
                                                            <span class="input-group-btn">
                                                                <div class="btn btn-lg btn-default" onclick="addOneCurrent()">
                                                                    <span class='glyphicon glyphicon-plus'></span>
                                                                </div>
                                                            </span>
                                                            <input class="editable form-control"
                                                              name="current"
                                                              type="number"
                                                              min="0"
                                                              max="{{opus.total|default:''}}"
                                                              value="{{prg.current}}"
                                                              data-original='{{prg.current}}'
                                                              onfocus="if(this.value==this.dataset.original){this.value=''}"
                                                              onblur="if(this.value==''){this.value=this.dataset.original}"
                                                              placeholder="{{prg.current}}">
                                                            <span class="form-control-feedback" aria-hidden="true">
                                                                <span>/</span>
                                                                <span id='total-as-feedback'></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="text-info" title="{{prg.weblink}}">
                                                <th>链接</th>
                                                <td class="text-info">
                                                    <div class='input-group'>
                                                        {% if prg.weblink and prg.weblink|isurl %}
                                                            <span class="input-group-btn">
                                                                <a class="btn btn-default"
                                                                  data-toggle="tooltip"
                                                                  data-placement="right"
                                                                  data-container='body'
                                                                  title="在新窗口打开链接"
                                                                  href='{{prg.weblink}}'
                                                                  target='_blank'>
                                                                    <span class='glyphicon glyphicon-link'></span>
                                                                </a>
                                                            </span>
                                                        {% else %}
                                                            <span class="input-group-addon">
                                                                <span class='glyphicon glyphicon-link'
                                                                  data-toggle="tooltip"
                                                                  data-placement="right"
                                                                  data-container='body'
                                                                  title="请以 http 或 https 开头">
                                                                </span>
                                                            </span>
                                                        {% endif %}
                                                        <input class="editable form-control"
                                                          name="weblink"
                                                          type="text"
                                                          value="{{prg.weblink}}"
                                                          placeholder="http://"
                                                          data-original="{{prg.weblink}}"
                                                          placeholder="{{prg.weblink}}">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div><!--.panel-body-->
                                    <div class='row'>
                                        <div class='col-xs-12'>
                                            <a id="save" class="btn btn-success" onclick="saveEdit()">
                                                <span class="glyphicon glyphicon-ok"></span> 保存
                                            </a>
                                            <a id="cancel" class="btn btn-default" onclick="cancelEdit()">
                                                <span class="glyphicon glyphicon-remove"></span> 取消编辑
                                            </a>
                                        </div>
                                    </div>
                                </div><!--.panel-->
                            </form>
                        </div><!--.col#left-half-panel-->
                        <div id='right-half-panel' class="col-xs-12 col-sm-12 col-md-6 col-lg-6 hide-when-edit">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <span>时间信息</span>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-condensed table-hover">
                                        <tr>
                                            <th>开始时间</th>
                                            <td>
                                                <span>{{prg.created|date:'Y-m-d H:i'}}</span>
                                                <small class='text-muted'>{{aux.time.c2n}}</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            {% ifequal prg.status "done" %}
                                                <th>完成时间</th>
                                            {% else %}
                                                <th>上次更新</th>
                                            {% endifequal %}
                                            <td>
                                                <span>{{prg.modified|date:'Y-m-d H:i' }}</span>
                                                <small class="text-muted">{{aux.time.m2n}}</small>
                                            </td>
                                        </tr>
                                        {% if aux.time.speed %}
                                            <tr class="text-success">
                                                <td>平均速度</td>
                                                <td>
                                                    {{ aux.time.speed }}
                                                    <small id="speed-unit" class="text-muted">每个</small>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if prg.status == 'done' %}
                                            <tr class="text-success">
                                                <td>用时</td>
                                                <td>{{ aux.time.c2m }}</td>
                                            </tr>
                                        {% elif aux.esti.finish_date %}
                                            <tr class="text-success">
                                                <td>预计完成</td>
                                                <td>
                                                    <span>{{aux.esti.finish_date|date:'Y-m-d'}}</span>
                                                    <small class="text-muted">{{aux.esti.finish_time}}</small>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </div><!--.panel-body-->
                            </div><!--.panel-->
                            <div id="douban-info-panel" class="panel panel-primary">
                                <div class="panel-heading">
                                    <span><b>作品信息</b></span>
                                    <a id="opus-type-a" class='btn btn-xs btn-primary pull-right' href="" target="_blank">
                                        <span id='opus-type' class="glyphicon"></span>
                                    </a>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-condensed table-hover">
                                        <tr id="title-tr">
                                            <td colspan="2">
                                                《<a id="title-link" href="" target="_blank"></a>》
                                                <span class='text-muted' id="original-title"></span>
                                                <a id='color-indicator' class='btn btn-xs btn-link pull-right'>
                                                    <span class='glyphicon glyphicon-tint'></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr id="rating-tr">
                                            <td>豆瓣评分</td>
                                            <td>
                                                <b id="rating-av"></b>
                                                <span class="text-muted rating-aux"> / 10</span>
                                                <span class='text-muted small hidden'>
                                                    （<span class="glyphicon"></span>
                                                    <span id='rate-number'></span>）
                                                <span>
                                            </td>
                                        </tr>
                                        <tr id="tag-tr">
                                            <td id="tag-label">标签</td>
                                            <td id="tag-tag">无</td>
                                        </tr>
                                    </table>
                                </div><!--.panel-body-->
                            </div><!--.panel-->
                        </div><!--.col#right-half-panel-->
                    </div><!--.row-->
                </div>
                <div class="row">
                    <div class="col-xs-12 hide-when-edit">
                        <button class="btn btn-danger" id='delete' onclick="confirmDelete()">
                            <span class="glyphicon glyphicon-trash"></span> 彻底删除
                        </button>
                        {% if prg.status == 'giveup' %}
                            <a id='reset' class="btn btn-warning" onclick="$('#resetform').submit()">
                                <span class="glyphicon glyphicon-ok-circle"></span> 激活
                            </a>
                        {% else %}
                            <a id='giveup' class="btn btn-warning" onclick="$('#giveupform').submit()">
                                <span class="glyphicon glyphicon-ban-circle"></span> 冻结
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div><!--col-->
    </div><!--row-->
    <form id="deleteform" action="/progress/delete/" method="post">
        {% csrf_token %}
        <input name="id" type="hidden" value="{{prg.id}}">
    </form>
    <form id="giveupform" action="/progress/giveup/" method="post">
        {% csrf_token %}
        <input name="id" type="hidden" value="{{prg.id}}">
    </form>
    <form id="resetform" action="/progress/reset/" method="post">
        {% csrf_token %}
        <input name="id" type="hidden" value="{{prg.id}}">
    </form>
</div>
{% endblock content %}

{% block js %}
<script>
    $(function(){
        window.infos = {
            book: {},
            movie: {},
            guess: {}
        }
        window.inputs = {
            name: $('input[name="name"]'),
            subtitle: $('input[name="subtitle"]'),
            weblink: $('input[name="weblink"]'),
            total: $('input[name="total"]'),
            current: $('input[name="current"]')
        }
        getOpusInfo()
        checkEditMode()
        syncTotal()
        $('[data-toggle="tooltip"]').tooltip();
        $('input.editable').keydown(function(){
            if(event.keyCode==13){
                $('#save').click()
                return false
            }
        })
        $('input.editable').on('input', function(){
            checkEditMode()
        })
    });
    function syncTotal(){
        var target_ele = $('#total-as-feedback')
        if(inputs.total.val() == "" || inputs.total.val() == '∞' || inputs.total.val() == '0'){
            target_ele.text('∞')
        } else {
            target_ele.text(inputs.total.val())
        }
    }
    function getOpusInfo(){
        var book_subs = ['书','书籍','book','pdf','漫画','comic','文字','doc','txt','小说']
        var movie_subs = ['动画','anime','电影','movie','电视剧','tv','show','美剧','英剧','韩剧','日剧','公开课','视频']
        var sub = inputs.subtitle.val().toLowerCase()
        if(book_subs.indexOf(sub) >= 0){
            getBookInfo('book')
        } else if(movie_subs.indexOf(sub) >= 0) {
            getMovieInfo('movie')
        } else {
            getBookInfo('compare')
            getMovieInfo('compare')
        }
    }
    function checkInfoVisibility(info){
        if(!info || !info.exist || !info.match){  // 作品不存在、未精确匹配时不显示整个面板
            return false
        } else  {  //作品存在且精确匹配
            $('#title-tr').popover('destroy')
            $("#douban-info-panel").addClass('viewmode').fadeIn()
            if(info.tags.length != 0){  // 作品有 tag
                $('#tag-tr').show()
            }
            if(info.rating && parseInt(info.rating) > 0){  // 作品评分 > 0
                $('#rating-tr').show()
            }
            if(info.title){
                $('#title-tr').show()
            }
            if($('#rate-number').text()){
                $('#rate-number').parent().removeClass('hidden')
            }
            return true
        }
    }
    function applyGuess(){
        inputs.name.val(infos.guess.title)
        checkEditMode()
    }
    function showGuess(info){
        infos.guess = info
        var title_a = '<a href="' + infos.guess.url + '" target="_blank">' + infos.guess.title + '</a>'
        var guess_title = '《' + title_a + '》'
        var guess_subtype = infos.guess.subtype ? "（" + infos.guess.subtype.toUpperCase() + "）" : ''
        var apply_guess = "<span id='apply-guess' class='text-success glyphicon glyphicon-ok' onclick='applyGuess()'></span>"
        var content_html = '是' + guess_title + guess_subtype + '吗？' + apply_guess
        $('#name-tr').popover({
            delay: {'show':0, 'hide':0},
            html: true,
            trigger: 'focus',
            container: 'body',
            content: function(){
                return content_html
            },
        });
    }
    function showImageColor(info){
        OpusInfoGetter.getImageColor(info.images.small, '{{opus.id}}', function(result){
            $('#color-indicator').css('color', result.color)
        });
    }
    function showInfo(info){
        $('#title-link').attr('href', info.url)
        $('#title-link').text(info.title)
        var img_in_title = info.images.small ? '<img src="' + info.images.small + '" style="width: 100%">' : '作品详细信息'
        $('#title-link').parent().tooltip({
            html: true,
            title: img_in_title,
            placement: "top",
        })
        $('#tag-tag').text(info.tags.join('，'))
        $('#rating-av').text(info.rating)
        if(info.type == 'book'){
            $('#original-title').text(info.origin_title)
            $('#rate-number').text(info.numrater).siblings('.glyphicon').addClass('glyphicon-user')
            $('#opus-type').addClass('glyphicon-book')
            $('#speed-unit').text('每页')
        } else if(info.type == 'movie'){
            $('#original-title').text(info.original_title)
            $('#rate-number').text(info.stars).siblings('.glyphicon').addClass('glyphicon-star')
            $('#opus-type').addClass('glyphicon-film')
            $('#speed-unit').text('每集')
        }
        $('#opus-type-a').attr('title', info.title)
        $('#opus-type-a').attr('href', info.api)
        showImageColor(info)
        checkInfoVisibility(info)
    }

    function setInfo(setType){
        var total = inputs.total.val()
        if(total == ""){
            total = 0;
        }
        switch(setType){
            case 'book':
                if(infos.book.exist){
                    if(infos.book.match){
                        showInfo(infos.book)
                    } else {
                        showGuess(infos.book)
                    }
                }
                break;
            case 'movie':
                if(infos.movie.exist){
                    if(infos.movie.match){
                        showInfo(infos.movie)
                    } else {
                        showGuess(infos.movie)
                    }
                }
                break;
            case 'compare':
                if(infos.book.finish && infos.movie.finish){
                    if(infos.book.exist && !infos.movie.exist){
                        setInfo('book')
                    } else if(!infos.book.exist && infos.movie.exist){
                        setInfo('movie')
                    } else if(infos.book.match && !infos.movie.match){
                        setInfo('book')
                    } else if(!infos.book.match && infos.movie.match){
                        setInfo('movie')
                    } else if(parseInt(total) == 0){  //follow
                        setInfo('movie')
                    } else if(parseInt(total) == parseInt(infos.book.pages)){
                        setInfo('book')
                    } else { // default
                        setInfo('movie')
                    }
                }
                break;
        }
    }
    function getBookInfo(setType){
        var bookname = inputs.name.val()
        if(bookname){
            OpusInfoGetter.getBookInfo(bookname, function(info){
                infos.book = info;
                infos.book.finish = true;
                setInfo(setType)
            });
        }
    }
    function getMovieInfo(setType){
        var moviename = inputs.name.val()
        if(moviename){
            OpusInfoGetter.getMovieInfo(moviename, function(info){
                infos.movie = info;
                infos.movie.finish = true;
                setInfo(setType)
            });
        }
    }
    function confirmDelete(){
        var result = confirm("确定删除此进度？\n（删除操作不可恢复）")
        if(result){
            disableAllBtn()
            $("#deleteform").submit();
        } else {
            $.info("删除操作已取消")
        }
    }
    function isEditableChanged(){
        var is_changed = false
        $('.editable').each(function(){
            if($(this).val() != this.dataset.original){
                is_changed = true
            }
        })
        return is_changed
    }
    function checkEditMode(){
        if(isEditableChanged()){
            enterEdit()
        } else {
            exitEdit()
        }
    }
    function enterEdit(){  // 隐藏不是编辑时的栏，
        $('.hide-when-edit').hide()
        $('#save').fadeIn()
        $('#cancel').fadeIn()
    }
    function exitEdit(){
        $('.hide-when-edit').fadeIn()
        $('#save').hide()
        $('#cancel').hide()
    }
    function cancelEdit(){
        $('.editable').each(function(){
            $(this).val(this.dataset.original)
        })
        checkEditMode()
    }
    function fullValidation(){
        if(inputs.name.val() == ""){
            $.danger('名称不能为空')
            return false;
        }
        if(inputs.total.val() == '∞' || inputs.total.val() == ""){
            inputs.total.val(0);
        }
        if(inputs.current.val() == ''){
            inputs.current.val(0)
        }
        if(isNaN(inputs.current.val())){
            $.danger('输入的更新的进度 ' + inputs.current.val() +' 必须是纯数字！')
            return false;
        }
        if(parseInt(inputs.total.val()) > 0 && parseInt(inputs.current.val()) > parseInt(inputs.total.val())){
            $.danger('错误：当前进度 ' + inputs.current.val() + ' 大于总共 ' + inputs.total.val())
            return false;
        }
        return true
    }
    function saveEdit(){
        if(fullValidation()){
            disableAllBtn()
            $('#saveform').submit();
            return true
        } else {
            return false
        }
    }
    function addOneCurrent(){
        if(!fullValidation()){
            return false
        }
        if(parseInt(inputs.total.val()) > 0 && parseInt(inputs.current.val()) == parseInt(inputs.total.val())){
            $.warning('进度已达到最大值');
            return false;
        }
        inputs.current.val(parseInt(inputs.current.val()) + 1);
        checkEditMode()
    }
</script>
{% endblock js %}
