{% extends "progress/base-list.html" %}


{% block title %}进度列表{% endblock title %}


{% block content %}
    <div class="container">
        <div class='row'>
            <div class="col-xs-12 col-sm-12 col-md-8 right-bordered">
                <div class="page-header" data-toggle="collapse" data-target="#list-inprogress">
                    <h5>
                        <span class="glyphicon glyphicon-chevron-up text-muted"></span>
                        进行中
                        <small>Inprogress</small>
                        <small class="prg-counts">({{ prglist.inprogress|length }})</small>
                    </h5>
                </div>
                <div class="collapse in" id="list-inprogress">
                    <div class="row">
                        {% for prg in prglist.inprogress %}
                            {% include 'progress/progresscard.html' with prg=prg size='col-sm-6 col-xs-12' %}
                        {% empty %}
                            <div class="well">
                                您还没有任何进度哦~
                            </div>
                        {% endfor %}
                    </div><!--.row-->
                </div><!--.col-->
            </div><!--.row-->

            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="page-header" data-toggle="collapse" data-target="#list-follow">
                    <h5>
                        <span class="glyphicon glyphicon-chevron-up text-muted"></span>
                        追剧中
                        <small>Follow</small>
                        <small class="prg-counts">({{ prglist.follow|length }})</small>
                    </h5>
                </div>
                <div class="collapse in" id="list-follow">
                    <div class="row">
                    {% for prg in prglist.follow %}
                        {% include 'progress/progresscard.html' with prg=prg size='col-xs-12 col-sm-6 col-md-12' %}
                    {% empty %}
                        <div class="well">
                            您没有在追剧的进度哦~
                        </div>
                    {% endfor %}
                    </div><!--.row-->
                </div><!--.col-->
            </div><!--.row-->
        </div>

        <div class='row'>
            <div class='col-xs-12'>
                <div class="page-header" data-toggle="collapse" data-target="#list-todo" onmouseover='$("#list-todo").collapse("show");'>
                    <h5>
                        <span class="glyphicon glyphicon-chevron-down text-muted"></span>
                        待阅读
                        <small>Todo</small>
                        <small class="prg-counts">({{ prglist.todo|length }})</small>
                    </h5>
                </div>
                <div class="row collapse in" id="list-todo">
                    <div class="col-xs-12">
                        <div class="row">
                        {% for prg in prglist.todo %}
                            {% include 'progress/progresscard.html' with prg=prg size='col-md-4 col-sm-6 col-xs-12' %}
                        {% empty %}
                            <div class="well">
                                您没有尚未开始的进度哦~
                            </div>
                        {% endfor %}
                        </div><!--.row-->
                    </div><!--.col-->
                </div><!--.row-->
            </div>
        </div>

        {% if prglist.error %}
            <div class='row'>
                <div class='col-xs-12'>
                    <div class="page-header" data-toggle="collapse" data-target="#list-error">
                        <h5>
                            <span class="glyphicon glyphicon-plus text-muted"></span>
                            出错
                            <small>Error</small>
                            <small class="prg-counts">({{ prglist.error|length }})</small>
                        </h5>
                    </div>
                    <div class="row collapse" id="list-giveup">
                        <div class="col-xs-12">
                            <div class="row">
                            {% for prgrg in prglist.error %}
                                {% include 'progress/progresscard.html' with prg=prg size='col-md-4 col-sm-6 col-xs-12'%}
                            {% endfor %}
                            </div><!--.row-->
                        </div><!--.col-->
                    </div><!--.row-->
                </div>
            </div>
        {% endif %}
    </div><!--.container-->
{% endblock content %}
