{% extends "progress/base-list.html" %}
{% load i18n %}

{% block title %}{% trans "进度列表" %}{% endblock title %}


{% block content %}
    <div class="container">
        <div id="inprogress-and-follow-row" class="row">
            <div class="col-xs-12">
                <div class="page-header" data-toggle="collapse" data-target="#list-inprogress-and-follow">
                    <h5>
                        <span class="glyphicon glyphicon-chevron-up text-muted"></span>
                        {% trans "进行中" %} & {% trans "追剧中" %}
                        <small class="prg-counts">({{ prglist.inprogress_and_follow|length }})</small>
                    </h5>
                </div>
                <div class="collapse in" id="list-inprogress-and-follow">
                    <div class="row">
                        {% for prg in prglist.inprogress_and_follow %}
                            {% include "progress/progresscard.html" with prg=prg size="col-xs-12 col-sm-6 col-md-4" %}
                        {% empty %}
                            <div class="well">
                                {% trans "您还没有任何进行中的进度" %}
                            </div>
                        {% endfor %}
                    </div><!--.row-->
                </div>
            </div><!--.col-->
        </div><!--.row-->

         <div id="follow-row" class="row hidden">
            <div class="col-xs-12">
                <div class="page-header" data-toggle="collapse" data-target="#list-follow">
                    <h5>
                        <span class="glyphicon glyphicon-chevron-up text-muted"></span>
                        {% trans "追剧中" %}
                        <small class="prg-counts">({{ prglist.follow|length }})</small>
                    </h5>
                </div>
                <div class="collapse in" id="list-follow">
                    <div class="row">
                        {% for prg in prglist.follow %}
                            {% include "progress/progresscard.html" with prg=prg size="col-xs-12 col-sm-6 col-md-4" %}
                        {% empty %}
                            <div class="well">
                                {% trans "您没有在追剧的进度" %}
                            </div>
                        {% endfor %}
                    </div><!--.row-->
                </div>
            </div><!--.col-->
        </div><!--.row-->

        <div class="row">
            <div class="col-xs-12">
                <div class="page-header" data-toggle="collapse" data-target="#list-todo" onmouseover="$('#list-todo').collapse('show');">
                    <h5>
                        <span class="glyphicon glyphicon-chevron-up text-muted"></span>
                        {% trans "待阅读" %}
                        <small class="prg-counts">({{ prglist.todo|length }})</small>
                    </h5>
                </div>
                <div class="row collapse in" id="list-todo">
                    <div class="col-xs-12">
                        <div class="row">
                            {% for prg in prglist.todo %}
                                {% include "progress/progresscard.html" with prg=prg size="col-xs-12 col-sm-6 col-md-4" %}
                            {% empty %}
                                <div class="well">
                                    {% trans "您没有尚未开始的进度" %}
                                </div>
                            {% endfor %}
                        </div><!--.row-->
                    </div><!--.col-->
                </div><!--.row-->
            </div>
        </div>

        {% if prglist.error %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header" data-toggle="collapse" data-target="#list-error">
                        <h5>
                            <span class="glyphicon glyphicon-plus text-muted"></span>
                            {% trans "出错" %}
                            <small class="prg-counts">({{ prglist.error|length }})</small>
                        </h5>
                    </div>
                    <div class="row collapse" id="list-deactivated">
                        <div class="col-xs-12">
                            <div class="row">
                                {% for prgrg in prglist.error %}
                                    {% include "progress/progresscard.html" with prg=prg size="col-md-4 col-sm-6 col-xs-12"%}
                                {% endfor %}
                            </div><!--.row-->
                        </div><!--.col-->
                    </div><!--.row-->
                </div>
            </div>
        {% endif %}
    </div><!--.container-->
{% endblock content %}
