{% extends "base.html" %}
{% block title %}我的进度{% endblock title %}

{% block css %}
<style>
    .container {
        padding-top: 51px;
    }
    /* progress-card */
    .progress-card .panel:hover {
        box-shadow: 4px 4px 4px silver;
    }
    .progress-card .panel-heading {
        cursor: hand;
    }
    .progress-card .panel-footer {
        padding: 0;
        text-align: right;
    }
    .progress-card .progress {
        height: 21px;
        margin: 0;
    }
    .progress-card .table {
        margin: 0;
        font-size: 13px;
    }
    .progress-card .subtitle {
        font-size: 15px;
    }
    .progress-card .persent {
        font-size: 15px;
    }

    /* page-header */
    .page-header > h1 > span {
        font-size: 25px;
        color: silver;
    }
    .page-header h1 {
        font-size: 30px;
    }
    .page-header small {
        font-size: 26px;
    }
    .page-header {
        padding-bottom: 2px;
        cursor: hand;
    }
</style>
{% endblock css %}

{% block js %}
<script type="text/javascript">
    $(function(){
        $('.progress-card').mouseover(function(){
            $(this).find('.progress').addClass('active').addClass('progress-striped');
        });
        $('.progress-card').mouseout(function(){
            $(this).find('.progress').removeClass('active').removeClass('progress-striped');
        });
        $('.progress-card .panel-heading').click(function(){
            var progressid = $(this).parent('.panel').parent('.progress-card').attr('progressid');
            window.location.href="/progress/detail?id=" + progressid;
        });
        $('.page-header').mouseover(function(){
            $(this).find('h1>span').css('color','red');
        });
        $('.page-header').mouseout(function(){
            $(this).find('h1>span').css('color','silver');
        });
    });
</script>
{% endblock js %}

{% block content %}
<div class="container">
    <div class="page-header" data-toggle="collapse" data-target="#list-inprogress">
        <h1>
            <span class="glyphicon glyphicon-plus"></span>
            在读 <small>Inprogress</small>
        </h1>
    </div>
    <div class="row collapse in" id="list-inprogress">
        {% for p in listinprogress %}
            {% include 'progress/list-progresscard.html' %}
        {% endfor %}
    </div><!--row-->

    <div class="page-header" data-toggle="collapse" data-target="#list-done">
        <h1>
            <span class="glyphicon glyphicon-plus"></span>
            已阅 <small>Done</small>
        </h1>
    </div>
    <div class="row collapse" id="list-done">
        {% for p in listdone %}
            {% include 'progress/list-progresscard.html' %}
        {% endfor %}
    </div><!--row-->

    <div class="page-header" data-toggle="collapse" data-target="#list-giveup">
        <h1>
            <span class="glyphicon glyphicon-plus"></span>
            放弃 <small>Giveup</small>
        </h1>
    </div>
    <div class="row collapse" id="list-giveup">
        {% for p in listgiveup %}
            {% include 'progress/list-progresscard.html' %}
        {% endfor %}
    </div><!--row-->

</div>
{% endblock content %}
