<ul class="dropdown-menu">
    <li>
        <a href="/progress/list">
            <span class="glyphicon glyphicon-th-list"></span> 列表
        </a>
    </li>
    <li>
        <a href="/progress/archive">
            <span class="glyphicon glyphicon-inbox"></span> 存档
        </a>
    </li>
    <li>
        <a href="/progress/search">
            <span class="glyphicon glyphicon-search"></span> 搜索
        </a>
    </li>
    <li>
        <a href="/progress/timeline">
            <span class="glyphicon glyphicon-time"></span> 历程
        </a>
    </li>
</ul>
