{% load i18n %}

<ul class="dropdown-menu">
    <li class="progress-dropdown-li">
        <a href="/progress/list">
            <span class="glyphicon glyphicon-th-list"></span>
            {% trans "进度列表" %}
        </a>
    </li>
    <li class="progress-dropdown-li">
        <a href="/progress/archive">
            <span class="glyphicon glyphicon-inbox"></span>
            {% trans "进度存档" %}
        </a>
    </li>
    <li class="progress-dropdown-li">
        <a href="/progress/search">
            <span class="glyphicon glyphicon-search"></span>
            {% trans "进度搜索" %}
        </a>
    </li>
    <li class="progress-dropdown-li">
        <a href="/progress/timeline">
            <span class="glyphicon glyphicon-time"></span>
            {% trans "进度历程" %}
        </a>
    </li>
</ul>
<script>
    $(function(){
        var current_path = "{{ request.path }}".replace(/\/$/, "")
        var current_ele = $(".progress-dropdown-li a[href='" + current_path + "']").parents(".progress-dropdown-li")
        current_ele.addClass("active")
    })
</script>
