{% extends "progress/base.html" %}
{% block title %}新增进度{% endblock title %}


{% block inhead %}
    <script src="/static/js/quagga.min.js"></script>
{% endblock %}


{% block css %}
    <style>
        .container {
            font-family: 'Microsoft YaHei';
        }
        .panel-body {
            font-size: 15px;
        }
        .panel-footer {
            padding: 0;
        }
        #theform .row {
            font-size: 15px;
            padding-bottom: 20px;
        }
        .editable {
            font-size: 15px !important;
            width: 100%;
        }
        #subtitle-group .dropdown-menu {
            padding: 5px;
            width: 255px;
        }
        .category {
            margin: 5px;
            float: right;
        }
    </style>
{% endblock css %}


{% block nav-btn %}
    <a href="javascript:void(0)" class="btn btn-warning btn-sm" onclick="history.back()">
        <span class="glyphicon glyphicon-arrow-left"></span> 回到上一页
    </a>
{% endblock nav-btn %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12" progressid="{{ prg.id }}">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="panel-title">
                        <span class="glyphicon glyphicon-plus"></span>
                        新增进度
                    </span>
                </div>
                <div class="panel-body">
                    <form id="theform" action="/progress/add/" method="post">
                        {% csrf_token %}
                        <div class='row'>
                            <div class='col-xs-12 col-sm-10 col-sm-offset-1'>
                                <div class="row">
                                    <span class="col-xs-12">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon text-muted">名称</span>
                                            <input type="text" class='form-control' placeholder="作品名称" name="name" class="editable clearable" onchange="Guess.getInfo()">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default" role="button" onclick='$("#barcode-input").click()'>
                                                    <span class='glyphicon glyphicon-barcode'></span>
                                                </span>
                                            </span>
                                        </div>
                                    </span>
                                </div>
                                <span class='text-muted'>选填：</span>
                                <div class="row">
                                    <span class="col-xs-12">
                                        <div id='subtitle-group' class="input-group">
                                            <span class="input-group-addon text-muted">备注</span>
                                            <input type="text" class='form-control' placeholder="作品的分类或备注" name="subtitle" class="editable clearable">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default dropdown-toggle" role="button" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                 </button>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <span class='btn btn-default category' role="button">书</span>
                                                    <span class='btn btn-default category' role="button">PDF</span>
                                                    <span class='btn btn-default category' role="button">漫画</span>
                                                    <span class='btn btn-default category' role="button">动画</span>
                                                    <span class='btn btn-default category' role="button">电视剧</span>
                                                    <span class='btn btn-default category' role="button">公开课</span>
                                                    <span class='btn btn-default category' role="button">纪录片</span>
                                                    <span class='btn btn-default category' role="button">视频</span>
                                                    <span class='btn btn-default category' role="button">小说</span>
                                                    <span class='btn btn-default category' role="button">Kindle</span>
                                                </ul>
                                            </div><!-- /btn-group -->
                                        </div>
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon text-muted">总共</span>
                                            <input type="number" class='form-control' placeholder="总页数／总集数（追剧请填 0）" name="total" class="editable clearable">
                                            <span class="input-group-btn">
                                                <span id='guess-total' class="btn btn-default" role="button" onclick='Guess.ask()'>
                                                    <span class='guess-icon glyphicon glyphicon-cloud text-muted'></span>
                                                </span>
                                            </span>
                                        </div>
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon text-muted">当前进度</span>
                                            <input type="number" class='form-control' placeholder="当前页数／集数" name="current" class="editable clearable">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default" role="button" onclick='addOneCurrent()'>+</span>
                                            </span>
                                        </div>
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="col-xs-12">
                                        <div class="input-group has-feedback">
                                            <span class="input-group-addon text-muted">作品链接</span>
                                            <input type="text" class='form-control' placeholder="（请以 http 开头）" name="weblink" class="editable clearable">
                                            <span class="glyphicon glyphicon-link form-control-feedback"></span>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <a class="btn btn-default" href="javascript:history.back()" onclick='disableAllBtn()'>
                                <span class="glyphicon glyphicon-remove"></span> 取消
                            </a>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
                            <div class="text-right">
                                <button class="btn btn-warning" role="button" onclick="Form.clear()">
                                    <span class="glyphicon glyphicon-refresh"></span> 清空
                                </button>
                                <button class="btn btn-success" role="button" onclick="Form.submit()">
                                        <span class="glyphicon glyphicon-ok"></span> 保存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--col-->
    </div><!--row-->
    <input id='barcode-input' class='hidden' type='file' accept="image/*" capture="camera">
{% endblock content %}

{% block js %}
<script>
    $(function(){
        $('.category').click(function(){
            $('input[name="subtitle"]').val($(this).text().trim())
        })
        $("#barcode-input").on("change", function(e) {
            if (e.target.files && e.target.files.length) {
                Quagga.decodeSingle({
                    inputStream: {
                        size: 800,
                        singleChannel: false
                    },
                    locator: {
                        patchSize: "medium",
                        halfSample: true
                    },
                    decoder: {
                        readers: [{
                            format: "ean_reader",
                            config: {}
                        }]
                    },
                    locate: true,
                    src: URL.createObjectURL(e.target.files[0])
                }, function(data){
                    if(data && data.codeResult && data.codeResult.code){
                        OpusInfoGetter.getIsbnInfo(data.codeResult.code, function(result){
                            $('input[name="name"]').val(result.title)
                            $('input[name="total"]').val(result.pages)
                        }, function(){
                            $.warning('未找到 ISBN:' + data.codeResult.code + ' 的书籍')
                        })
                    } else {
                        $.warning('未能解析条形码')
                    }
                })
            }
        })
    });

    var Form = {
        'clear': function(){
            $('input.form-control').val('')
        },
        'submit': function(){
            var name = $('input[name="name"]').val()
            var subtitle = $('input[name="subtitle"]').val()
            var total = $('input[name="total"]').val()
            var current = $('input[name="current"]').val()
            if(name == ""){
                $.danger('名称不能为空')
                return false;
            }
            if(current == ""){
                current = 0;
                $('input[name="current"]').val(current)
            }
            if(total == ""){
                total = 0
                $('input[name="total"]').val(total)
            }
            if(total!=0){
                if(parseInt(current) > parseInt(total)){
                    $.danger('初始进度不能大于总页数')
                    return false;
                }
            }
            disableAllBtn()
            $('#theform').submit();
        }
    }

    var Guess = {  // 根据书名猜测页数
        'bookinfo': null,
        'clear': function(){
            $('#guess-total .guess-icon').addClass('text-muted')  // 还原图标颜色
            $('#guess-total .guess-icon').addClass('glyphicon-cloud').removeClass('glyphicon-cloud-download')  // 还原图标
            $('input[name="name"]').attr('title', '')  // 还原名称处 title
            Guess.bookinfo = null  // 清空
        },
        'ask': function(){
            if(!Guess.bookinfo){
                var bookname = $('input[name="name"]').val()
                if(!bookname){
                    $.warning('请先填写进度名称')
                } else {
                    $.danger('未获取到《' + bookname + '》的信息')
                }
                return false
            }
            question_txt = '\n《'+ Guess.bookinfo.title + '》'
            if(Guess.bookinfo.tags.length > 0){  // 有 tag
                question_txt += '\n(' + Guess.bookinfo.tags.join('，') + ')'
            }
            question_txt += '\n页数：' + Guess.bookinfo.pages
            question_txt += '\n\n“书籍信息正确吗？”\n'
            if(confirm(question_txt)){
                Guess.apply(Guess.bookinfo.title, parseInt(Guess.bookinfo.pages))
            }
        },
        'apply': function(title, pages){
            $('input[name="name"]').val(title)
            $('input[name="total"]').val(pages)
        },
        'getInfo': function(){
            Guess.clear()
            var bookname = $('input[name="name"]').val()
            if(!bookname){
                return false
            }
            OpusInfoGetter.getBookInfo(bookname, function(info){
                if(parseInt(info.pages) > 0){  // 不一定是精确匹配
                    Guess.bookinfo = info
                    $('#guess-total .guess-icon').removeClass('text-muted')
                    if(info.match){  // 精确匹配
                        $('#guess-total .guess-icon').addClass('glyphicon-cloud-download').removeClass('glyphicon-cloud')
                        $('input[name="name"]').attr('title', '《' + info.title + '》')
                    } else {  // 非精确匹配
                        $('input[name="name"]').attr('title', '是《' + info.title + '》吗？')
                    }
                }
            })
        },
    }

    function addOneCurrent(){
        var current = $('input[name="current"]');
        if( isNaN(current.val()) || current.val() == '' ){
            current.val('0')
        }
        $('input[name="current"]').val(parseInt(current.val()) + 1);
    }
</script>
{% endblock js %}
