{% extends "base.html" %}
{% block title %}进度：{{ opus.name }}{% endblock title %}
{% block icon %}<link rel="icon" href="/static/img/Logo_List.png" />{% endblock icon %}

{% block css %}
<style>
    .container {
        font-family: 'Microsoft YaHei';
    }
    .panel-body {
        font-size: 15px;
    }
    .panel-footer {
        padding: 0;
    }
    #theform .row {
        font-size: 15px;
        padding-bottom: 20px;
    }
    .editable {
        font-size: 15px !important;
        width: 100%;
    }
    .extra-info {
        display: none;
    }
</style>
{% endblock css %}

{% block js %}
<script>
    $(function(){
        $('.disableBtn').click(function(){
            $('.btn').attr('disabled','disabled')
        });
    });
    function clearForm(){
        $('input.clearable').val('')
    }
    function submitForm(){
        var name = $('input[name="name"]').val()
        var subtitle = $('input[name="subtitle"]').val()
        var total = $('input[name="total"]').val()
        var current = $('input[name="current"]').val()
        if(name == ""){
            $.danger('名称不能为空')
            return false;
        }
        if(current == ""){
            current = 0;
            $('input[name="current"]').val(current)
        }
        if(total == ""){
            total = 0
            $('input[name="total"]').val(total)
        }
        if(total!=0){
            if(parseInt(current) > parseInt(total)){
                $.danger('初始进度不能大于总页数')
                return false;
            }
        }
        disableAllBtn()
        $('#theform').submit();
    }
    function getPages(){
        var bookname = $('input[name="name"]').val()
        if(bookname != ''){
            $.getBookInfo(bookname, function(info){
                pages = parseInt(info.pages)
                if(pages > 0){
                    $('input[name="total"]').val(pages)
                }
            });
        }
    }
    function showExtraInfo(){
        $('#show-extra-info-div').slideUp();
        $('.extra-info').slideDown();
        $('.extra-info.clearfix').addClass('visible-xs-block');
    }
</script>
{% endblock js %}

{% block nav-btn %}
<a href="/progress/list" class="btn btn-warning btn-sm">
    <span class="glyphicon glyphicon-arrow-left"></span> 回到列表
</a>
{% endblock nav-btn %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12" progressid="{{ prg.id }}">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="panel-title">
                        <span class="glyphicon glyphicon-plus"></span>
                        新增进度
                    </span>
                </div>
                <div class="panel-body">
                    <form id="theform" action="/progress/add/" method="post">
                        <div class="row">
                            <span class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-right text-danger ">名称</span>
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                                <input type="text" placeholder="必填（不要加书名号）" name="name" class="editable clearable" onchange="getPages()">
                            </span>
                            <span class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-9 col-xs-offset-3">
                                <span class="text-danger">动漫名、电视剧名、书名</span>
                            </span>
                        </div>
                        <div class="extra-info clearfix">
                            <hr/>
                        </div>
                        <div class="extra-info row">
                            <span class="col-sm-2 col-xs-4 text-right text-warning">副标题</span>
                            <span class="col-sm-6 col-xs-8">
                                <input type="text" placeholder="可不填（尽量简短）" name="subtitle" class="editable clearable">
                            </span>
                            <span class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-9 col-xs-offset-3">
                                <span>作品的副标题、备注、分类</span>
                            </span>
                        </div>
                        <div class="clearfix visible-xs-block">
                            <hr/>
                        </div>
                        <div class="row">
                            <span class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-right text-warning">总共</span>
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                                <input type="number" placeholder="可不填（纯数字，追剧请填 0）" name="total" class="editable clearable">
                            </span>
                            <span class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-9 col-xs-offset-3">
                                <span>总共几页、总共几集？</span>
                            </span>
                        </div>
                        <div class="clearfix visible-xs-block">
                            <hr/>
                        </div>
                        <div class="row" id="show-extra-info-div">
                            <div class="btn btn-default col-sm-8 col-sm-offset-2 col-xs-12" id="show-extra-info-btn" onclick="showExtraInfo()">更多信息</div>
                        </div>
                        <div class="extra-info row">
                            <span class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-right text-warning">当前进度</span>
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                                <input type="number" placeholder="可不填（必须为纯数字）" name="current" class="editable clearable">
                            </span>
                            <span class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-9 col-xs-offset-3">
                                <span>已看到第几集</span>
                            </span>
                        </div>
                        <div class="extra-info clearfix">
                            <hr/>
                        </div>
                        <div class="extra-info row">
                            <span class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-right text-warning">链接</span>
                            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                                <input type="text" placeholder="可不填（须以 http:// 开头）" name="weblink" class="editable clearable">
                            </span>
                            <span class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-9 col-xs-offset-3">
                                <span>作品的链接地址</span>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <a class="btn btn-default disableBtn" href="javascript:history.back()">
                                <span class="glyphicon glyphicon-remove"></span> 取消
                            </a>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
                            <div class="text-right">
                                <button class="btn btn-warning" onclick="clearForm()">
                                    <span class="glyphicon glyphicon-refresh"></span> 清空
                                </button>
                                <button class="btn btn-success disableBtn" onclick="submitForm()">
                                        <span class="glyphicon glyphicon-ok"></span> 保存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--col-->
    </div><!--row-->
</div>
{% endblock content %}
