{% load tags_url %}

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 progress-card" progressid="{{ p.prg.id }}" progressname="{{ p.opus.name }}">
    <a href="/progress/detail?id={{p.prg.id}}" class="no-decoration">
        <div class="panel panel-default beveryfast hover-shadow">
            <div class="panel-heading progress-title">
                <span class="panel-title">
                    <span class="persent badge">{{ p.prg.getPersent }}%</span>
                    <span class='opus-name'>《 <b>{{ p.opus.name|truncatechars:25 }}</b> 》</span>
                    {% if p.prg.weblink and p.prg.weblink|isurl %}
                    <span class="weblink label btn-link" href="{{p.prg.weblink}}" title="{{p.prg.weblink}}" target="_blank">
                        <span class="glyphicon glyphicon-link"></span>
                    </span>
                    {% endif %}
                    {% if p.opus.subtitle %}
                    <span class="subtitle label label-info">
                        {{ p.opus.subtitle|truncatechars:9 }}
                    </span>
                    {% endif %}
                </span>
            </div>
            <div class="div-table panel-heading hidden-xs">
                <div class='row'>
                    {% if p.prg.current == p.opus.total and p.prg.current != 0 %}
                    <div class="text-center col-xs-12">完成：{{ p.prg.getModified }}</div>
                    {% else %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">开始：{{ p.prg.getCreated }}</div>
                    <div class="text-right col-xs-12 col-sm-6 col-md-6 col-lg-6">上次：{{ p.prg.getModified }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar {{ p.prg.getBartype }}" style="width: {{p.prg.getPersent}}%; min-width: 5em;">
                    {% if p.opus.total != 0 %}
                        <b>{{p.prg.current}} / {{p.opus.total}}</b>
                    {% else %}
                        <b>{{p.prg.current}} / ∞</b>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </a>
</div><!--col-->
