{% load tags_url %}

<div class="{{size}} progress-card befast" progressid="{{prg.id}}" progressname="{{prg.opus.name}}">
    <a href="/progress/detail?id={{prg.id}}" class="no-decoration">
        <div class="panel panel-{{ prg.getContextualType|default:'default' }} beveryfast hover-shadow"
            {% if prg.opus.covercolor %}style="box-shadow: 0 0 2px 2px {{prg.opus.covercolor}}"{% endif %}>
            <div class="panel-heading no-bottom-border progress-title text-nowrap">
                <span class="panel-title">
                    {% if prg.weblink and prg.weblink|isurl %}
                        <span class="weblink btn btn-default btn-xs pull-left" href="{{prg.weblink}}" title="{{prg.weblink}}" target="_blank">
                            <span class="glyphicon glyphicon-link"></span>
                        </span>
                    {% endif %}
                    <span class='opus-name'>《<b>{{ prg.opus.name|truncatechars:25 }}</b>》</span>
                    {% if prg.opus.subtitle %}
                        <em class="subtitle small">
                            {{ prg.opus.subtitle|truncatechars:9 }}
                        </em>
                    {% endif %}
                </span>
            </div>
            <table class='hidden-xs table table-condensed table-hover table-responsive small text-{{ prg.getContextualType|default:"muted" }}'>
                <tr>
                    {% if prg.status == 'done' %}
                        <td class="text-center bg-primary" title="完成时间：{{ prg.modified|date:'Y-m-d H:i' }}">
                            <span class='glyphicon glyphicon-ok'></span>
                            <span class=''>{{ prg.modified|date:'Y-m-d' }}</span>
                        </td>
                    {% elif prg.created.date == prg.modified.date %}
                        <td class="text-center {{ prg.getContextualType|default:'active' }}">
                            <span class='glyphicon glyphicon-plus'></span>
                            <span title="创建时间">{{ prg.created|date:'Y-m-d' }}</span>
                        </td>
                    {% else %}
                        <td class="text-left {{ prg.getContextualType|default:'active' }}">
                            <span class='glyphicon glyphicon-play'></span>
                            <span title="开始时间">{{ prg.created|date:'Y-m-d' }}</span>
                        </td>
                        <td class="text-right {{ prg.getContextualType|default:'active' }}">
                            <span class='glyphicon glyphicon-pause'></span>
                            <span title="上次更新">{{ prg.modified|date:'Y-m-d' }}</span>
                        </td>
                    {% endif %}
                </tr>
            </table>
            <div class="progress text-center">
                <div class="progress-bar progress-bar-{{ prg.getContextualType }}" style="width: {{ prg.persent }}%;">
                    {% if prg.persent < 25 %}
                </div>
                <div class='small'>
                    {% endif %}
                        <b>{{prg.current}}</b> / <b>{% if prg.opus.total != 0 %}{{prg.opus.total}}{% else %}∞{% endif %}</b>
                        {% if prg.persent > 0 and prg.persent < 100 %}
                            <span class='pull-right'>{{ prg.persent }}%</span>
                        {% endif %}
                </div>
            </div>
        </div>
    </a>
</div><!--col-->
