{% extends "progress/base-list.html" %}
{% load i18n %}

{% block title %}{% trans "进度搜索" %}{% endblock title %}

{% block css %}
<style>
    #db-search-result-header {
        display: none;
    }
    .page-header {
        cursor: default;
    }
    #clear-search-btn:hover,
    #start-speech-btn:hover {
        color: #C14140;
    }
</style>
{% endblock css %}


{% block content %}
    <div class="container">
        <div id="search-div" class="row">
            <div class="col-sm-7 col-xs-12">
                <form id="db-search-form" action="/progress/search" method="get">
                    <div class="input-group">
                        <input id="db-search-input" type="text" class="form-control" name="keyword" placeholder="{% trans '搜索' %}{% trans '名称' %}{% trans '和' %}{% trans '备注' %}" value="{{ keyword }}" autocomplete="off">
                        <input id="db-search-submit" type="submit" hidden>
                        <div class="input-group-btn">
                            <a class="btn btn-default" role="button" onclick="$('#db-search-submit').click()">
                                <span class="glyphicon glyphicon-search"></span>
                                <span>{% trans "进度搜索" %}</span>
                            </a>
                        </div>
                    </div>
                </form>
            </div><!-- .col -->
        </div><!-- .row -->
        <div id="show-all-header" class="page-header">
            <span>
                <span class="glyphicon glyphicon-th-list text-muted"></span>
                {% if keyword %}
                    <span>{% trans "进度搜索" %}{% trans "：" %}</span>
                    <strong>{{ keyword }}</strong>
                {% else %}
                    <span>{% trans "所有进度" %}</span>
                {% endif %}
                <small class="prg-counts">({{ prglist|length }})</small>
            </span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    {% for prg in prglist %}
                        {% include "progress/progresscard.html" with prg=prg size="col-xs-12 col-sm-6 col-lg-4" %}
                    {% empty %}
                        <div class="well">
                            {% trans "没有符合条件的进度" %}
                        </div>
                    {% endfor %}
                </div><!--.row-->
            </div><!--.col-->
        </div><!--.row-->
    </div>
{% endblock content %}


{% block js %}
    <script>
        $(function () {
            $("[data-toggle='tooltip']").tooltip()
        })
    </script>
{% endblock %}
