{% extends "progress/base.html" %}


{% block title %}进度历程{% endblock title %}


{% block inhead %}
    {{ super }}
    <link rel="stylesheet" href="/static/jqtimeline/css/jquery.jqtimeline.zh.css">
    <script src="/static/jqtimeline/js/jquery.jqtimeline.zh.js"></script>
    <link rel="stylesheet" href="/static/timelineMe/jquery.timelineMe.css">
    <script src="/static/timelineMe/jquery.timelineMe.js"></script>
{% endblock %}

{% block css %}
    <style>
        /* timeline */
        #hide-timeline {
            text-align: center;
            font-size: 16px;
            margin-bottom: -26px;
        }
        #hide-timeline span.glyphicon-chevron-up {
            z-index: 2;
            border-radius: 100%;
        }
        #hide-timeline span.glyphicon-chevron-up:hover {
            color: red;
            -webkit-transform: rotate(360deg) scale(1.2);
               -moz-transform: rotate(360deg) scale(1.2);
                -ms-transform: rotate(360deg) scale(1.2);
                 -o-transform: rotate(360deg) scale(1.2);
                    transform: rotate(360deg) scale(1.2);
        }
        .animate-hide {
            -webkit-transition: all 0.7s linear;
               -moz-transition: all 0.7s linear;
                -ms-transition: all 0.7s linear;
                 -o-transition: all 0.7s linear;
                    transition: all 0.7s linear;
        }
        .timeline-me-label .timeline-me-same-position {  /* Hack timelineme */
            display: none;
        }
        .timeline-me-smallitem .timeline-me-fullcontent .timeline-me-same-position,
        .timeline-me-smallitem .timeline-me-shortcontent .timeline-me-same-position {  /* Hack timelineme */
            display: block;
            border-top: 1px solid silver;
            margin-top: 10px;
            padding-top: 10px;
        }
        @media (max-width: 768px) {
            .well-in-sm {  /* Hack bootstrap's well */
                padding: 0;
            }
            .timeline-me-smallitem.timeline-me-left .timeline-me-content-container, .timeline-me-smallitem:not(.timeline-me-top):not(.timeline-me-right):not(.timeline-me-bottom) .timeline-me-content-container {  /* Hack timelineme */
                width: 45%;
                margin-left: 5%;
            }
            .timeline-me-smallitem.timeline-me-right .timeline-me-content-container {  /* Hack timelineme */
              width: 45%;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div id='timeline-zone' class='hidden-xs well row'>
            <div id="last-year-timeline-zone">
                <div id="hide-timeline">
                    <span class="glyphicon glyphicon-chevron-up text-muted animate-hide" onmouseenter="hideTimeline()" onmouseout='stopHideTimeline()'></span>
                </div>
                <div id="event-timeline-last-year"></div>
            </div>
            <div id="this-year-timeline-zone">
                <div id="event-timeline-this-year"></div>
            </div>
        </div>
        <div id='timelineme-zone' class='well well-in-sm row'>
            <div id='timelineme'>
            </div>
        </div>
    </div><!--.container-->
{% endblock content %}

{% block js %}
<script>
    $(function(){
        var this_year_events = [
            {% for prg in prg_timeline_this_year %}
                {
                    progressid: {{prg.id}},
                    name: "<span class='text-info'>开始看</span>《{{prg.opus.name}}》",
                    on: new Date({{prg.created.year}}, {{prg.created.month|add:-1}}, {{prg.created.day}})
                },
                {% if prg.status == 'done' %}
                    {
                        progressid: {{prg.id}},
                        name: "<span class='text-success'>完成</span>《{{prg.opus.name}}》！",
                        on: new Date({{prg.modified.year}}, {{prg.modified.month|add:-1}}, {{prg.modified.day}})
                    },
                {% elif prg.status == 'giveup' %}
                    {
                        progressid: {{prg.id}},
                        name: "<span class='text-danger'>冻结了</span>《{{prg.opus.name}}》",
                        on: new Date({{prg.modified.year}}, {{prg.modified.month|add:-1}}, {{prg.modified.day}})
                    },
                {% elif prg.status == 'inprogress' %}
                    {
                        progressid: {{prg.id}},
                        name: "《{{prg.opus.name}}》<span class='text-primary'>进行至 </span>{{prg.persent}}%",
                        on: new Date({{prg.modified.year}}, {{prg.modified.month|add:-1}}, {{prg.modified.day}})
                    },
                {% elif prg.status == 'follow' %}
                    {
                        progressid: {{prg.id}},
                        name: "《{{prg.opus.name}}》<span class='text-primary'>追剧至 </span>第 {{prg.current}} 集",
                        on: new Date({{prg.modified.year}}, {{prg.modified.month|add:-1}}, {{prg.modified.day}})
                    },
                {% endif %}
            {% endfor %}
        ];
        var last_year_events = [
            {% for prg in prg_timeline_last_year %}
                {
                    progressid: {{prg.id}},
                    name: "<span class='text-info'>开始看</span>《{{prg.opus.name}}》",
                    on: new Date({{prg.created.year}}, {{prg.created.month|add:-1}}, {{prg.created.day}})
                },
                {% if prg.status == 'done' %}
                    {
                        progressid: {{prg.id}},
                        name: "<span class='text-success'>完成</span>《{{prg.opus.name}}》！",
                        on: new Date({{prg.modified.year}}, {{prg.modified.month|add:-1}}, {{prg.modified.day}})
                    },
                {% elif prg.status == 'giveup' %}
                    {
                        progressid: {{prg.id}},
                        name: "<span class='text-danger'>冻结了</span>《{{prg.opus.name}}》",
                        on: new Date({{prg.modified.year}}, {{prg.modified.month|add:-1}}, {{prg.modified.day}})
                    },
                {% elif prg.status == 'inprogress' %}
                    {
                        progressid: {{prg.id}},
                        name: "《{{prg.opus.name}}》<span class='text-primary'>进行至 </span>{{prg.persent}}%",
                        on: new Date({{prg.modified.year}}, {{prg.modified.month|add:-1}}, {{prg.modified.day}})
                    },
                {% elif prg.status == 'follow' %}
                    {
                        progressid: {{prg.id}},
                        name: "《{{prg.opus.name}}》<span class='text-primary'>追剧至 </span>第 {{prg.current}} 集",
                        on: new Date({{prg.modified.year}}, {{prg.modified.month|add:-1}}, {{prg.modified.day}})
                    },
                {% endif %}
            {% endfor %}
        ];
        $('#event-timeline-this-year').jqtimeline({
            events: this_year_events,
            showToolTip: true,
            gap: $('.container').width() / 12 * 0.9,
            numYears: 1,
            startYear: (new Date()).getFullYear(),
            groupEventWithinPx: 9,
            click: function(e,event){
                window.location='/progress/detail?id=' + event.progressid
            },
        });
        $('#event-timeline-last-year').jqtimeline({
            events: last_year_events,
            showToolTip: true,
            gap: $('.container').width() / 12 * 0.9,
            numYears: 1,
            startYear: (new Date()).getFullYear() - 1,
            groupEventWithinPx: 9,
            click: function(e,event){
                window.location='/progress/detail?id=' + event.progressid
            },
        });
        $('#timelineme').timelineMe({
            // orientation: 'horizontal',
            items: [
                {% for prg in prglist %}
                    {% ifchanged prg.modified.year %}
                        {
                            label: '<h1><span class="label label-primary">{{ prg.modified.year }}</span></h1>',
                            type: 'bigItem',
                            relativePosition: -{{ prg.modified|date:'Y' }}0000,  //-20170000
                        },
                    {% endifchanged %}
                    {% ifchanged prg.modified.month %}
                        {
                            label: '<span class="label label-primary">{{ prg.modified.year }}-{{ prg.modified.month }}</span>',
                            type: 'milestone',
                            relativePosition: -{{ prg.modified|date:'Ym' }}00,  //-20170100
                        },
                    {% endifchanged %}
                    {
                        label: '<span class="text-muted">{{ prg.modified|date:"Y-m-d" }}</span>',
                        type: 'smallItem',
                        showMore: '',
                        showLess: '',
                        relativePosition: -{{ prg.modified|date:'Ymd' }},  //-20170101
                        {% if prg.status == 'done' %}
                            picto: '<span class="glyphicon glyphicon-ok text-success"></span>',
                            shortContent: "<span class='text-success'>完成</span>《{{prg.link|safe}}》",
                            forcePosition: 'right',
                        {% elif prg.status == 'giveup' %}
                            picto: '<span class="glyphicon glyphicon-ban-circle text-danger"></span>',
                            shortContent: "<span class='text-danger'>冻结了</span>《{{prg.link|safe}}》",
                            forcePosition: 'right',
                        {% elif prg.status == 'inprogress' %}
                            picto: '<span class="glyphicon glyphicon-play"></span>',
                            shortContent: "《{{prg.link|safe}}》进行至 <span class='text-info'>{{prg.persent}}%</span>",
                            forcePosition: 'left',
                        {% elif prg.status == 'follow' %}
                            shortContent: "《{{prg.link|safe}}》追剧至<span class='text-info'>第 {{prg.current}} 集</span>",
                            forcePosition: 'left',
                        {% elif prg.status == 'todo' %}
                            picto: '<span class="glyphicon glyphicon-plus"></span>',
                            shortContent: "《{{prg.link|safe}}》加入<span class='text-info'>待阅读</span>",
                            forcePosition: 'left',
                        {% endif %}
                    },
                {% endfor %}
            ]
        });

    });

    var timer_hTl
    function hideTimeline(ele){
        clearTimeout(timer_hTl)
        var tl_ele = $('#timeline-zone')
        timer_hTl = setTimeout(function(){
            tl_ele.slideUp('slow')
        }, 700);
    }

    function stopHideTimeline(){
        clearTimeout(timer_hTl)
    }
</script>
{% endblock %}
