{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "欢迎" %}{% endblock title %}

{% block css %}
    <style>
        .padding-top-left-15 {
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 0;
        }
        .padding-right-15 {
            padding-right: 15px;
        }
        .flex-center-container {
            display: flex;
        }
        .flex-center {
            margin: auto;
        }
        .height-vh {
            height: 19vh;
        }
        .bg-blue {
            background: #0376a5;
        }
        .bg-red {
            background: #C73E3A;
        }
        .bg-grey {
            background: #909090;
        }
        .bg-yellow {
            background: #F7C242;
        }
        .text-white {
            color: white;
        }
        .text-white small {
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row padding-right-15">
        <div class="col-xs-12 col-sm-6 padding-top-left-15">
            <a class="no-decoration" href="/progress/list">
                <div class="flex-center-container height-vh img-rounded bg-blue">
                    <div class="flex-center text-center text-white">
                        <h2>{% trans "我的进度" %}</h2>
                        <small>{% trans "管理您的进度" %}</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 padding-top-left-15">
            <a class="no-decoration" href="/chat/conversation?mode=quicknote">
                <div class="flex-center-container height-vh img-rounded bg-grey">
                    <div class="flex-center text-center text-white">
                        <h2>{% trans "临时笔记" %}</h2>
                        <small>{% trans "随手记录您的想法" %}</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 padding-top-left-15">
            <a class="no-decoration" href="//www.duetime.cn/beijingmore">
                <div class="flex-center-container height-vh img-rounded bg-red">
                    <div class="flex-center text-center text-white">
                        <h2>Beijing More</h2>
                        <small>Every Street Has A Story</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 padding-top-left-15">
            <a class="no-decoration" href="/robotalk">
                <div class="flex-center-container height-vh img-rounded bg-yellow">
                    <div class="flex-center text-center text-white">
                        <h2>{% trans "智械聊天" %}</h2>
                        <small>{% trans "快来加入我们的聊天吧" %}</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock content %}
