{% extends "base.html" %}
{% block title %}Welcome 欢迎{% endblock title %}

{% block css %}
    <style>
        .container-metro {
            padding: 2px;
        }
        .col-12 img,
        .col-6 img {
            border: white solid 1px;
        }
        .col-6 img {
            width: 50%;
            float: left;
        }
        .col-12 img {
            width: 100%;
        }
        .header img {
            height: 47px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-metro">
    <div class='header col-12'>
        <img class="img-responsive" src="/static/img/index/m-header.jpg">
    </div>
    <div class='col-12'>
        <a class="no-decoration" href="/progress/list">
            <img class="img-responsive" src="/static/img/index/m-prolist.jpg">
        </a>
    </div>
    <div class='col-6'>
        <a class="no-decoration" href="/chat/conversation?mode=quicknote">
            <img class="img-responsive" src="/static/img/index/m-quicknote.jpg">
        </a>
    </div>
    <div class='col-6'>
        <a class="no-decoration" href="http://www.duetime.cn/beijingmore">
            <img class="img-responsive" src="/static/img/index/m-bjmore.jpg">
        </a>
    </div>
    <div class='col-12'>
        <a class="no-decoration" href="/robotalk">
            <img class="img-responsive" src="/static/img/index/m-robotalk.jpg">
        </a>
    </div>
    <div class='col-12'>
        <a class="no-decoration" href="http://thinking.superfarmer.net/">
            <img class="img-responsive" src="/static/img/index/m-thinking.jpg">
        </a>
    </div>
</div>
{% endblock content %}
