{% extends "base.html" %}
{% block title %}Welcome 欢迎{% endblock title %}

{% block css %}
    <style>/*背景相关部分*/
        .bg-div, .fg-div { /*隔一个DIV换一个背景图*/
            width: 100% !important;
        }
        .div1 {
            background: url('/static/img/index/index_bg_div1.jpg') !important;
            height: 97%;
        }
        .div2 {
            background: url('/static/img/index/index_bg_div2.jpg') !important;
            height: 97%;
        }
        .div3 {
            background: url('/static/img/index/index_bg_div3.jpg') !important;
            height: auto;
        }
        .div4 {
            background: url('/static/img/index/index_bg_div4.jpg') !important;
            height: 97%;
        }
        .div5 {
            background: url('') !important;
            height: 90%;
        }
        .div6 {
            background: url('/static/img/index/index_bg_div6.jpg') !important;
            height: 95%;
        }
        .bg-div {
            background-attachment: fixed !important;
            background-size: cover !important;
            background-position: 50% 50% !important;
        }
        .fg-div {
            display: inline-block;
            box-shadow: 0 0 25px black;
            background-size: cover !important;
            background-position: 50% 50% !important;
        }
    </style>

    <style>/*左右半*/
        .container {
            padding: 0;
            margin: 0;
            border: 0;
            width: 100%;
        }
        .left-half {
            width: 50%;
            height: 100%;
            float: left;
            padding-left: 10%;
        }
        .right-half {
            width: 50%;
            height: 100%;
            float: right;
            padding-right: 10%;
        }
        .top-half {
            width: 100%;
            height: 50%;
        }
        .bottom-half {
            width: 100%;
            height: 50%;
        }

        /* global */
        body {
            font-family: "微软雅黑","Microsoft Yahei","Helvetica Neue",Helvetica,"Hiragino Sans GB","Segoe UI",Tahoma,Arial,STHeiti,sans-serif !important;
        }

        /*div1*/
        .div1 .left-half {
            border-right: 1px solid white;
            width: 61%;
            color: white;
            background-color: transparent;
        }
        .div1 .right-half {
            width: 39%;
            padding-left: 3%;
            color: white;
            background-color: rgba(0,0,0,0.2);
        }
        .div1 .left-half, .div1 .right-half {
            padding-top: 100px;
        }

        /* div5 */
        .div5 .right-half {
            width: 40%;
            padding-left: 0;
            padding-right: 0;
            margin-right: 10%;
        }
    </style>
    <style>
        /* div1 */
        .div1 {
            padding-top: 7%;
            padding-bottom: 7%;
        }

        .div1 p{
            font-size: 29px;
        }
        .div1 h1{
            font-size: 65px;
            color: white;
        }
        .div1 #d1-word4 {
            text-align: center;
        }
        .div1 .no-see {
            color: rgba(255,255,255,0.5); /*white*/
            -webkit-filter: blur(9px);
            -moz-filter: blur(9px);
            -o-filter: blur(9px);
            -ms-filter: blur(9px);
            filter: blur(9px);
        }
        .div1 .no-see.entered {
            color: rgba(255,255,255,1); /*white*/
            -webkit-filter: blur(0);
            -moz-filter: blur(0);
            -o-filter: blur(0);
            -ms-filter: blur(0);
            filter: blur(0);
            transition: all 2.5s ease;
            -moz-transition: all 2.5s ease; /* Firefox 4 */
            -webkit-transition: all 2.5s ease; /* Safari 和 Chrome */
            -o-transition: all 2.5s ease; /* Opera */
        }
        .div1 #d1-word2.entered {
            transition-delay: 2.5s;
            -moz-transition-delay: 2.5s; /* Firefox 4 */
            -webkit-transition-delay: 2.5s; /* Safari 和 Chrome */
            -o-transition-delay: 2.5s; /* Opera */
        }
        .div1 #d1-word3.entered {
            transition-delay: 5s;
            -moz-transition-delay: 5s; /* Firefox 4 */
            -webkit-transition-delay: 5s; /* Safari 和 Chrome */
            -o-transition-delay: 5s; /* Opera */
        }
        .div1 #d1-word4.entered {
            transition-delay: 6s;
            -moz-transition-delay: 6s; /* Firefox 4 */
            -webkit-transition-delay: 6s; /* Safari 和 Chrome */
            -o-transition-delay: 6s; /* Opera */
        }

        /* div3 */
        .div3 {
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 166px;
            padding-bottom: 166px;
            height: auto;
        }
        .div3 .thumbnail {
            background-color: rgba(255,255,255,0.6);
            opacity: 0;
            position: relative;
            top: 0;
        }
        .div3 .thumbnail.entered {
            opacity: 1;
            transition: all 1s linear;
            -moz-transition: all 1s linear; /* Firefox 4 */
            -webkit-transition: all 1s linear; /* Safari 和 Chrome */
            -o-transition: all 1s linear; /* Opera */
        }
        .div3 #d3-thumb2 {
            transition-delay: 0.5s;
            -moz-transition-delay: 0.5s; /* Firefox 4 */
            -webkit-transition-delay: 0.5s; /* Safari 和 Chrome */
            -o-transition-delay: 0.5s; /* Opera */
        }
        .div3 #d3-thumb3 {
            transition-delay: 1s;
            -moz-transition-delay: 1s; /* Firefox 4 */
            -webkit-transition-delay: 1s; /* Safari 和 Chrome */
            -o-transition-delay: 1s; /* Opera */
        }
        .div3 #d3-thumb4 {
            transition-delay: 1.5s;
            -moz-transition-delay: 1.5s; /* Firefox 4 */
            -webkit-transition-delay: 1.5s; /* Safari 和 Chrome */
            -o-transition-delay: 1.5s; /* Opera */
        }
        .div3 .thumbnail > img{
            width: 100%;
            opacity: 0.9;
        }

        /* div4 */
        .div4 {
            padding-top: 125px;
            padding-bottom: 125px;
        }
        .div4 #mucheng {
            background-color: rgba(0,0,0,0.5);
            margin: auto;
            height: 100%;
            width: 75%;
            color: white;
            padding-left: 75px;
            padding-right: 75px;
            transition: all 0.5s ease;
            -moz-transition: all 0.5s ease; /* Firefox 4 */
            -webkit-transition: all 0.5s ease; /* Safari 和 Chrome */
            -o-transition: all 0.5s ease; /* Opera */
            overflow: hidden;
        }
        .div4 #mucheng-title {
            width: 40%;
            height: 75px;
            line-height: 75px;
            font-size: xx-large;
            float: left;
            overflow: hidden;
            text-align: center;
        }

        .div4 #mucheng-author {
            font-size: large;
            color: rgba(255,255,255,0.8);
        }

        .div4 #mucheng-player {
            float: right;
            width: 59%;
            height: 75px;
            line-height: 75px;
            top: 50%;
        }

        .div4 #mucheng-player audio{
            width: 100%;
            margin: auto;
            margin-top: 22.5px;
        }

        .div4 #mucheng-holder {
            width: 100%;
            height: 75px;
            border-bottom: solid 1px silver;
        }
        .div4 #mucheng-arrow {
            cursor: hand;
            height: 25px;
            text-align: center;
            line-height: 25px;
            font-size: 17px;
            padding-top: 2.5px;
        }
        .div4 #mucheng-lyrics {
            transition: all 1s ease;
            -moz-transition: all 1s ease; /* Firefox 4 */
            -webkit-transition: all 1s ease; /* Safari 和 Chrome */
            -o-transition: all 1s ease; /* Opera */
            overflow: hidden;
            height: 79%;
        }
        .div4 #mucheng-lyrics li{
            vertical-align: middle;
            display: block;
            list-style:none;
            height: 22%;
        }
        .div4 .lyrics {
            font-size: 16px;
            padding-top: 15px;
        }
        .div4 .lyrics.top {
            width: 100%;
            height: 50%;
        }
        .div4 .lyrics.top.top1 {
            width: 50%;
            height: 100%;
            float: left;
            text-align: right;
            padding-right: 5%;
        }
        .div4 .lyrics.top.top2 {
            width: 50%;
            height: 100%;
            float: right;
            text-align: left;
            padding-left: 5%;
        }
        .div4 .lyrics.buttom {
            width: 100%;
            height: 50%;
        }
        .div4 .lyrics.buttom.buttom1 {
            width: 30%;
            float: left;
            text-align: right;
            height: 100%;
        }
        .div4 .lyrics.buttom.buttom2 {
            width: 30%;
            margin: auto;
            text-align: center;
            height: 100%;
        }
        .div4 .lyrics.buttom.buttom3 {
            width: 30%;
            float: right;
            text-align: left;
            height: 100%;
        }

        /* div5 */
        .div5 .fronts {
            position: relative;
            pointer-events: none;
        }
        .div5 .carousel-control {
            width: 5%;
        }
        #carousel-slide5 {
            position: absolute;
            height: inherit;
            width: 100%;
            overflow: hidden;
        }
        #carousel-slide5 .carousel-inner{
            height: 100%;
            width: 100%;
        }
        #carousel-slide5 .item{
            width: 100%;
            height: 100%;
        }
        #carousel-slide5 img{
            min-width: 100%;
            min-height: 100%;
            max-height: none;
            max-width: none;
        }
    </style>
    <style>
        .mobile-view {
            padding-top: 51px;
            background: url('/static/img/index/index_bg_div6.jpg') !important;
            min-height: 100%;
        }
        .mobile-view .panel {
            width: 90%;
            margin: auto;
        }
    </style>
{% endblock css %}

{% block nav-btn %}
<a href="#webapps" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-list-alt"></span> WebApps
</a>
{% endblock nav-btn %}

{% block content %}
<div class="container hidden-xs">
    <div class="fg-div div1" onmouseover="$('.div1 .no-see').addClass('entered');">
        <div class="left-half">
            <p id="d1-word1" class="no-see">Life's battle doesn't always go to the stronger or faster man.</p>
            <p id="d1-word2" class="no-see">But sooner or later, the man who wins,</p>
            <h1 id="d1-word3" class="no-see">is the man</h1>
            <h1 id="d1-word4" class="no-see">who believes he can.</h1>
        </div>
        <div class="right-half">
            <h1>Enjoy!</h1>
            <p>Welcome to <b>SuperFarmer.net</b></p>
            <p><a class="btn btn-primary btn-lg" href="http://www.superfarmer.net/thinking" role="button">Visit My Blog</a></p>
        </div>
    </div><!--div1-->

    <div class="bg-div div2">
    </div><!--div2-->

    <div class="fg-div div3" onmouseover="$('.div3 .thumbnail').addClass('entered');">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail" id="d3-thumb1">
                    <img src="/static/img/index/div3_name.jpg" alt="My Name">
                    <div class="caption">
                        <h3>Kyan</h3>
                        <p>
                            网站主人<br/>
                            深沉的爱着一切美好的事物。
                        </p>
                        <p>
                            <a href="http://www.superfarmer.net" class="btn btn-primary" role="button">My Site</a>
                            <a href="mailto: hikyan@outlook.com" class="btn btn-default" role="button">Email</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail" id="d3-thumb2">
                    <img src="/static/img/index/div3_music.png" alt="My Music">
                    <div class="caption">
                        <h3>音乐</h3>
                        <p>
                            Guitar, Voice, Piano.<br/>
                            When Words Fail, Music Speaks
                        </p>
                        <p>
                            <a href="http://superfarmer.net/thinking/?cat=19" class="btn btn-primary" role="button">My Musics</a>
                            <a href="http://superfarmer.net/thinking/?p=175" class="btn btn-default" role="button">《牧城少年》</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail" id="d3-thumb3">
                    <img src="/static/img/index/div3_products.png" alt="My Products">
                    <div class="caption">
                        <h3>成就</h3>
                        <p>
                            Creativity, Possibility,<br/>
                            Enthusiasm, Willpower.
                        </p>
                        <p>
                            <a href="https://github.com/kyan001" class="btn btn-primary" role="button">My Github</a>
                            <a href="https://chrome.google.com/webstore/detail/timer-25/gmdbcklinofignhfmibchnmgjcocccbh" class="btn btn-default" role="button">Timer25</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail" id="d3-thumb4">
                    <img src="/static/img/index/div3_ideas.png" alt="My Thoughts">
                    <div class="caption">
                        <h3>想法</h3>
                        <p>
                            Keep Thinking,<br/>
                            Keep Cool.
                        </p>
                        <p>
                            <a href="http://www.superfarmer.net/thinking" class="btn btn-primary" role="button">My Blog</a>
                            <a href="http://superfarmer.net/thinking/?page_id=195" class="btn btn-default" role="button">Talk To Me</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--div1-->

    <div class="bg-div div4">
        <div id="mucheng">
            <div id="mucheng-title" class="mucheng-top">
                <span>《牧城少年》</span>
                <span id="mucheng-author">by Kyan</span>
            </div>
            <div id="mucheng-player" class="mucheng-top">
                <audio src="/media/muchengshaonian.mp3" controls="controls" preload="none"></audio>
            </div>
            <div id="mucheng-holder">
            </div>
            <div id="mucheng-arrow" onclick="toggleMucheng()">
                <span id="down-arrow" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                <span id="up-arrow" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            </div>
            <div id="mucheng-lyrics">
                <div class="lyrics top">
                    <div id="lyrics-top1" class="lyrics top top1">
                        <li>稚气的脸，迷失曾经的少年，</li>
                        <li>那纯真的世界在哪边，</li>
                        <li>谁藏起写下朝思暮想的笔尖，</li>
                        <li>在牧城的荒途里辗转成歌。</li>
                    </div>
                    <div id="lyrics-top2" class="lyrics top top2">
                        <li>熟悉的脸，不见当年的笑颜，</li>
                        <li>是不是这世界在改变，</li>
                        <li>谁卷起湖边枫叶尽染的画面，</li>
                        <li>在牧城的古道边与子成说。</li>
                    </div>
                </div>
                <div class="lyrics buttom">
                    <div id="lyrics-buttom1" class="lyrics buttom buttom1">
                        <li>不必害怕，我有时间的魔法</li>
                        <li>谱出现实的神话</li>
                        <li>你会长大，披上最动人的纱</li>
                        <li>去吧，像盛开的花</li>
                    </div>
                    <div id="lyrics-buttom3" class="lyrics buttom buttom3">
                        <li>我不害怕，我有妈妈的牵挂</li>
                        <li>陪着我一起出发</li>
                        <li>你会长大，披上最动人的纱</li>
                        <li>去吧，像盛开的花</li>
                    </div>
                    <div id="lyrics-buttom2" class="lyrics buttom buttom2">
                        <li>不必害怕，我有梦想的宝塔</li>
                        <li>守护现实的童话</li>
                        <li>你会长大，盘起最温柔的发</li>
                        <li>去吧，像盛开的花</li>
                    </div>
                </div>
            </div>
        </div>
    </div><!--div4-->

    <div class="fg-div div5">
        <div id="carousel-slide5" class="carousel slide" data-ride="carousel" data-interval="4000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-slide5" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-slide5" data-slide-to="1"></li>
                <li data-target="#carousel-slide5" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="hover-notblur beveryfast" src="/static/img/index/index_div5_slide1.jpg" alt="index_div5_slide1.jpg">
                </div>
                <div class="item">
                    <img class="hover-notblur beveryfast" src="/static/img/index/index_div5_slide2.jpg" alt="index_div5_slide2.jpg">
                </div>
                <div class="item">
                    <img class="hover-notblur beveryfast" src="/static/img/index/index_div5_slide3.jpg" alt="index_div5_slide3.jpg">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-slide5" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-slide5" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="fronts row" id="webapps">
            <div class="col-lg-6 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                {% include 'index/index-webapps.html' %}
            </div><!--col-->
        </div><!-- fronts -->
    </div><!--div5-->

    <div class="bg-div div6">
    </div>
</div>
<div class="container">
    <div class="mobile-view bg-div visible-xs-block">
        {% include 'index/index-webapps.html' %}
    </div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(function(){
        toggleMucheng();
    });
    function toggleMucheng(){
        var currentHeight = $('#mucheng').height();
        if('100' == currentHeight){
            $('#mucheng').height("100%");
            $("#down-arrow").hide();
            $("#up-arrow").show();
            $("#mucheng-lyrics").css("color","rgba(255,255,255,1)");
        } else {
            $('#mucheng').height("100px");
            $("#down-arrow").show();
            $("#up-arrow").hide();
            $("#mucheng-lyrics").css("color","rgba(255,255,255,0)");
        }
    }
</script>
{% endblock js %}
