<style>
    .webapps-panel {
        height: 82%;
        width: 100%;
        margin-top: 9%;
        margin-bottom: 9%;
        background-color:rgba(255,255,255,0.5);
        pointer-events: auto;
        overflow:auto;
    }
    .webapps-panel .panel-heading {
        text-align: center;
        font-size: 17px;
    }
    .webapps-panel .list-group-item-heading {
        font-weight: 600;/*normal=400, bold=700*/
        font-size: 19px;
    }
</style>

<div class="panel panel-primary webapps-panel">
    <div class="panel-heading">页面列表 Webapps</div>
    <div class="panel-body">
        <div class="list-group" id="simple-link-list">
            <a href="/progress/list"
                class="list-group-item">
                <i class="alignright silver">管理您的进度</i>
                <div class="list-group-item-heading">进度追踪</div>
                <p class="list-group-item-text darkgray">
                    添加作品、记录当前阅读进度<br/>
                </p>
            </a>
            <a href="http://www.superfarmer.net/portal/one/timer" target="_blank"
                class="list-group-item">
                <i class="alignright silver">基于 Raphael.js</i>
                <div class="list-group-item-heading">查看当前时间</div>
                <p class="list-group-item-text darkgray">
                    用色彩鲜艳的圆圈显示当前时间的小页面。<br/>
                </p>
            </a>
            <a href="http://www.superfarmer.net/portal/one/dabingtu" target="_blank"
                class="list-group-item">
                <i class="alignright silver">基于 Raphael.js</i>
                <div class="list-group-item-heading">神奇大饼图</div>
                <p class="list-group-item-text darkgray">
                    当你点击饼图的某一个部分时，此部分会把其他部分逐渐“挤”走。
                    点起来十分上瘾。<br/>
                </p>
            </a>
            <a href="https://github.com/kyan001/Portal-Django#updates"
                class="list-group-item">
                <i class="alignright silver">@github.com</i>
                <div class="list-group-item-heading">网站更新日志</div>
                <p class="list-group-item-text darkgray">
                    详细了解功能的迭代，提出您的建议，报告BUG，查看源代码等<br/>
                </p>
            </a>
        </div>
    </div><!--panel-body-->
</div><!--panel-->
