{% extends "base.html" %}
{% block title %}Welcome 欢迎{% endblock title %}

{% block inhead %}
    <script src="/static/js/jquery.lazyload.min.js"></script>
    <script src="/static/swiper/swiper-3.2.7.jquery.min.js"></script>
    <link rel="stylesheet" href="/static/swiper/swiper-3.2.7.min.css">
{% endblock %}

{% block css %}
    <style>/*背景相关部分*/
        .bg-div,
        .fg-div { /*隔一个DIV换一个背景图*/
            width: 100% !important;
        }
        #div1 {
            height: 97%;
        }
        #div-apps {
            overflow: hidden;
        }
        #div2 {
            height: 40%;
        }
        #div-card {
            height: auto;
        }
        #div-song {
            height: 97%;
        }

        #div-last {
            height: 100%;
        }
        .bg-div {
            background-attachment: fixed !important;
            background-size: cover !important;
            background-position: 50% 50% !important;
        }
        .swiper-slide,
        .fg-div {
            background-size: cover !important;
            background-position: 50% 50% !important;
        }
        .swiper-wrap {
            min-height: 100%;
        }
    </style>

    <style>/*左右半*/
        body {
            width: 100%;
        }
        .container {
            padding: 0 !important;
            margin: 0;
            border: 0;
            width: 100%;
        }
        .left-half {
            width: 50%;
            height: 100%;
            float: left;
            padding-left: 10%;
        }
        .right-half {
            width: 50%;
            height: 100%;
            float: right;
            padding-right: 10%;
        }
        .top-half {
            width: 100%;
            height: 50%;
        }
        .bottom-half {
            width: 100%;
            height: 50%;
        }

        /*div1*/
        #div1 .left-half {
            border-right: 1px solid white;
            width: 61%;
            color: white;
            background-color: transparent;
        }
        #div1 .right-half {
            width: 39%;
            padding-left: 3%;
            color: white;
            background-color: rgba(0,0,0,0.2);
        }
        #div1 .left-half, #div1 .right-half {
            padding-top: 100px;
        }
    </style>
    <style>
        /* div1 */
        #div1 {
            padding-top: 7%;
            padding-bottom: 7%;
        }

        #div1 p{
            font-size: 29px;
        }
        #div1 h1{
            font-size: 65px;
            color: white;
        }
        #div1 #d1-word4 {
            text-align: center;
        }
        #div1 .no-see {
            color: rgba(255,255,255,0.5); /*white*/
            -webkit-filter: blur(9px);
            -moz-filter: blur(9px);
            -o-filter: blur(9px);
            -ms-filter: blur(9px);
            filter: blur(9px);
        }
        #div1 .no-see.entered {
            color: rgba(255,255,255,1); /*white*/
            -webkit-filter: blur(0);
            -moz-filter: blur(0);
            -o-filter: blur(0);
            -ms-filter: blur(0);
            filter: blur(0);
            transition: all 2.5s ease;
            -moz-transition: all 2.5s ease; /* Firefox 4 */
            -webkit-transition: all 2.5s ease; /* Safari 和 Chrome */
            -o-transition: all 2.5s ease; /* Opera */
        }
        #div1 #d1-word2.entered {
            transition-delay: 2.5s;
            -moz-transition-delay: 2.5s; /* Firefox 4 */
            -webkit-transition-delay: 2.5s; /* Safari 和 Chrome */
            -o-transition-delay: 2.5s; /* Opera */
        }
        #div1 #d1-word3.entered {
            transition-delay: 5s;
            -moz-transition-delay: 5s; /* Firefox 4 */
            -webkit-transition-delay: 5s; /* Safari 和 Chrome */
            -o-transition-delay: 5s; /* Opera */
        }
        #div1 #d1-word4.entered {
            transition-delay: 6s;
            -moz-transition-delay: 6s; /* Firefox 4 */
            -webkit-transition-delay: 6s; /* Safari 和 Chrome */
            -o-transition-delay: 6s; /* Opera */
        }

        /* div-apps */
        .swiper-slide {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        #slide-progress {
            background-image: url('/static/img/index/slide_progress.jpg');
        }
        #slide-quicknote {
            background-image: url('/static/img/index/slide_quicknote.jpg');
        }
        #slide-bjmore {
            background-image: url('/static/img/index/slide_bjmore.jpg');
        }
        #slide-robotalk {
            background-image: url('/static/img/index/slide_robotalk.jpg');
        }
        .talkrobo-img {
            max-height: 200px;
        }
        /* div-card */
        #div-card {
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 166px;
            padding-bottom: 166px;
            height: auto;
        }
        #div-card .thumbnail {
            background-color: rgba(255,255,255,0.6);
            opacity: 0;
            position: relative;
            top: 0;
        }
        #div-card .thumbnail.entered {
            opacity: 1;
            transition: all 1s linear;
            -moz-transition: all 1s linear; /* Firefox 4 */
            -webkit-transition: all 1s linear; /* Safari 和 Chrome */
            -o-transition: all 1s linear; /* Opera */
        }
        #div-card #d3-thumb2 {
            transition-delay: 0.5s;
            -moz-transition-delay: 0.5s; /* Firefox 4 */
            -webkit-transition-delay: 0.5s; /* Safari 和 Chrome */
            -o-transition-delay: 0.5s; /* Opera */
        }
        #div-card #d3-thumb3 {
            transition-delay: 1s;
            -moz-transition-delay: 1s; /* Firefox 4 */
            -webkit-transition-delay: 1s; /* Safari 和 Chrome */
            -o-transition-delay: 1s; /* Opera */
        }
        #div-card #d3-thumb4 {
            transition-delay: 1.5s;
            -moz-transition-delay: 1.5s; /* Firefox 4 */
            -webkit-transition-delay: 1.5s; /* Safari 和 Chrome */
            -o-transition-delay: 1.5s; /* Opera */
        }
        #div-card .thumbnail > img{
            width: 100%;
            opacity: 0.9;
        }

        /* div-song */
        #div-song {
            padding-top: 125px;
            padding-bottom: 125px;
        }
        #div-song #mucheng {
            background-color: rgba(0,0,0,0.5);
            margin: auto;
            height: 100%;
            width: 75%;
            color: white;
            padding-left: 75px;
            padding-right: 75px;
            transition: all 0.5s ease;
            -moz-transition: all 0.5s ease; /* Firefox 4 */
            -webkit-transition: all 0.5s ease; /* Safari 和 Chrome */
            -o-transition: all 0.5s ease; /* Opera */
            overflow: hidden;
        }
        #div-song #mucheng-title {
            width: 40%;
            height: 75px;
            line-height: 75px;
            font-size: xx-large;
            float: left;
            overflow: hidden;
            text-align: center;
        }

        #div-song #mucheng-author {
            font-size: large;
            color: rgba(255,255,255,0.8);
        }

        #div-song #mucheng-player {
            float: right;
            width: 59%;
            height: 75px;
            line-height: 75px;
            top: 50%;
        }

        #div-song #mucheng-player audio{
            width: 100%;
            margin: auto;
            margin-top: 22.5px;
        }

        #div-song #mucheng-holder {
            width: 100%;
            height: 75px;
            border-bottom: solid 1px silver;
        }
        #div-song #mucheng-arrow {
            cursor: pointer;
            height: 25px;
            text-align: center;
            line-height: 25px;
            font-size: 17px;
            padding-top: 2.5px;
        }
        #div-song #mucheng-lyrics {
            transition: all 1s ease;
            -moz-transition: all 1s ease; /* Firefox 4 */
            -webkit-transition: all 1s ease; /* Safari 和 Chrome */
            -o-transition: all 1s ease; /* Opera */
            overflow: hidden;
            height: 79%;
        }
        #div-song #mucheng-lyrics li{
            vertical-align: middle;
            display: block;
            list-style: none;
            height: 22%;
        }
        #div-song .lyrics {
            font-size: 16px;
            padding-top: 15px;
        }
        #div-song .lyrics.top {
            width: 100%;
            height: 50%;
        }
        #div-song .lyrics.top.top1 {
            width: 50%;
            height: 100%;
            float: left;
            text-align: right;
            padding-right: 5%;
        }
        #div-song .lyrics.top.top2 {
            width: 50%;
            height: 100%;
            float: right;
            text-align: left;
            padding-left: 5%;
        }
        #div-song .lyrics.buttom {
            width: 100%;
            height: 50%;
        }
        #div-song .lyrics.buttom.buttom1 {
            width: 30%;
            float: left;
            text-align: right;
            height: 100%;
        }
        #div-song .lyrics.buttom.buttom2 {
            width: 30%;
            margin: auto;
            text-align: center;
            height: 100%;
        }
        #div-song .lyrics.buttom.buttom3 {
            width: 30%;
            float: right;
            text-align: left;
            height: 100%;
        }
    </style>
{% endblock css %}

{% block nav-btn %}
<div class="btn-group">
    <a class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-list-alt"></span> Web Apps <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="/progress/list">
                <span class="glyphicon glyphicon-th-list"></span> 我的进度
            </a>
        </li>
        <li>
            <a href="/chat/conversation?mode=quicknote">
                <span class="glyphicon glyphicon-list-alt"></span> 临时笔记
            </a>
        </li>
        <li>
            <a href="/robotalk">
                <span class="glyphicon glyphicon-comment"></span> 聊天机器人
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a href="http://www.duetime.cn/beijingmore">
                <span class="glyphicon glyphicon-bold"></span> 北京·默
            </a>
        </li>
    </ul>
</div>
{% endblock nav-btn %}

{% block content %}
<div class="container">
    <div class="fg-div lazyload hidden-xs" id="div1" data-original='/static/img/index/div1_bg.jpg' onmouseover="$('#div1 .no-see').addClass('entered');">
        <div class="left-half">
            <p id="d1-word1" class="no-see">Life's battle doesn't always go to the stronger or faster man.</p>
            <p id="d1-word2" class="no-see">But sooner or later, the man who wins,</p>
            <h1 id="d1-word3" class="no-see">is the man</h1>
            <h1 id="d1-word4" class="no-see">who believes he can.</h1>
        </div>
        <div class="right-half">
            <h1>Enjoy!</h1>
            <p>Welcome to <b>{{ tld }}</b></p>
            <p><a class="btn btn-primary btn-lg" href="/user/signup" role="button">I'm in!</a></p>
        </div>
    </div><!--#div1-->

    <div class="fg-div" id="div-apps">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" id='slide-progress'>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-md-9">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>「<a class="no-decoration" href="/progress/list">我的进度</a>」<small>管理您的进度</small></h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <div class="thumbnail">
                                                <img class="hidden-xs" src="/static/img/index/progress_intro_1.jpg" alt="progress list">
                                                <div class="caption">
                                                    <h5>你想要记录...</h5>
                                                    <li><b>《纸牌屋》</b>昨天更新到了第 3 集</li>
                                                    <li>今天<b>《笑傲江湖》</b>读到了第 510 页</li>
                                                    <li>下周想重温一遍<b>《海贼王》</b></li>
                                                    <li>坚持<b>跑步</b> 2 / 7 天</li>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="thumbnail">
                                                <img class="hidden-xs" src="/static/img/index/div_song_bg.jpg" alt="progress list">
                                                <div class="caption">
                                                    <h5>我可以帮你...</h5>
                                                    <li>填写书籍总页数</li>
                                                    <li>查看作品评分、短评、演员表</li>
                                                    <li>分类整理进度：追剧、待开始、已完成 ...</li>
                                                    <li>预测进度完成日期</li>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="thumbnail">
                                                <img class="hidden-xs" src="/static/img/index/progress_intro_3.jpg" alt="progress list">
                                                <div class="caption">
                                                    <h5>你还可以...</h5>
                                                    <li>用手机更新进度，随时随地！</li>
                                                    <li>谁正在看这本书，志同道合！</li>
                                                    <li>为进度添加连接，一键跳转！</li>
                                                    <li>统计阅读习惯，更了解自己！</li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--.panel-body-->
                            </div>
                        </div>
                    </div>
                </div><!--.swiper-slide-->
                <div class="swiper-slide" id='slide-quicknote'>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>「<a class="no-decoration" href="/chat/conversation?mode=quicknote">临时笔记</a>」<small>随手记笔记</small></h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="thumbnail">
                                                <img class="hidden-xs" src="/static/img/index/quicknote_intro_1.jpg" alt="quicknote">
                                                <div class="caption">
                                                    <h5>发给自己的消息：</h5>
                                                    <li><b>Idea</b>，灵机一动，不容错过</li>
                                                    <li><b>网址</b>，Read it later</li>
                                                    <li><b>歌名、电影名</b>，晚点儿再下载</li>
                                                    <li><b>代码片段</b>，说不定什么时候能用上</li>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="thumbnail">
                                                <img class="hidden-xs" src="/static/img/index/quicknote_intro_2.jpg" alt="quicknote">
                                                <div class="caption">
                                                    <h5>我可以帮你...</h5>
                                                    <li>按时间排序</li>
                                                    <li>删除后不留任何痕迹</li>
                                                    <li>不会丢，别人看不到</li>
                                                    <li>提到用户自动连接</li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--.panel-body-->
                            </div>
                        </div>
                    </div>
                </div><!--.swiper-slide-->
                <div class="swiper-slide" id='slide-robotalk'>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>「<a class="no-decoration" href="/robotalk">聊天机器人</a>」<small>RoboTalk</small></h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="thumbnail">
                                                <img class="talkrobo-img hidden-xs" src="/static/img/robotalk/robo1.jpg" alt="talkrobo">
                                                <div class="caption">
                                                    <h5>我可以陪你 ...</h5>
                                                    <li>聊各种各样的事情~</li>
                                                    <li>查天气~</li>
                                                    <li>告诉你这个单词的意思~</li>
                                                    <li>消磨时间~</li>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="thumbnail">
                                                <img class="talkrobo-img hidden-xs" src="/static/img/robotalk/robo2.jpg" alt="talkrobo">
                                                <div class="caption">
                                                    <h5>我还不能够 ...</h5>
                                                    <li>将你说的话联系起来</li>
                                                    <li>保证每句话都完美无瑕</li>
                                                    <li>学会你教给我的事情</li>
                                                    <li>记住我们的相遇 ...</li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--.panel-body-->
                            </div>
                        </div>
                    </div>
                </div><!--.swiper-slide-->
                <div class="swiper-slide" id='slide-bjmore'>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>「<a class="no-decoration" href="http://www.duetime.cn/beijingmore">北京·默</a>」<small>BeijingMore</small></h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="thumbnail">
                                                <img class="hidden-xs" src="/static/img/index/bjmore_intro_1.jpg" alt="progress list">
                                                <div class="caption">
                                                    <h5>It's about ...</h5>
                                                    <li>Foods</li>
                                                    <li>Music</li>
                                                    <li>Sports</li>
                                                    <li>Shopping</li>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="thumbnail">
                                                <img class="hidden-xs" src="/static/img/index/bjmore_intro_2.jpg" alt="progress list">
                                                <div class="caption">
                                                    <h5>What's more?</h5>
                                                    <li>Roast Duck</li>
                                                    <li>Beijing Opera</li>
                                                    <li>Guoan F.C.</li>
                                                    <li>Daoxiangcun</li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--.panel-body-->
                            </div>
                        </div>
                    </div>
                </div><!--.swiper-slide-->
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div><!--#div-apps-->

    <div class="bg-div lazyload hidden-xs" id="div2" data-original='/static/img/index/div2_bg.jpg'>
    </div><!--#div2-->

    <div class="fg-div lazyload hidden-xs" id="div-card" data-original='/static/img/index/div_card_bg.jpg' onmouseover="$('#div-card .thumbnail').addClass('entered');">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail" id="d3-thumb1">
                    <img src="/static/img/index/div_card_name.jpg" alt="My Name">
                    <div class="caption">
                        <h3>Kyan</h3>
                        <p>
                            网站主人<br/>
                            深沉的爱着一切美好的事物。
                        </p>
                        <p>
                            <a href="http://www.kyan001.com" class="btn btn-primary" role="button">My Site</a>
                            <a href="mailto: kai@kyan001.com" class="btn btn-default" role="button">Email</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail" id="d3-thumb2">
                    <img src="/static/img/index/div_card_music.png" alt="My Music">
                    <div class="caption">
                        <h3>音乐</h3>
                        <p>
                            Guitar, Voice, Piano.<br/>
                            When Words Fail, Music Speaks
                        </p>
                        <p>
                            <a href="http://thinking.kyan001.com/?cat=19" class="btn btn-primary" role="button">My Musics</a>
                            <a href="http://thinking.kyan001.com/?p=175" class="btn btn-default" role="button">《牧城少年》</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail" id="d3-thumb3">
                    <img src="/static/img/index/div_card_products.png" alt="My Products">
                    <div class="caption">
                        <h3>成就</h3>
                        <p>
                            Creativity, Possibility,<br/>
                            Enthusiasm, Willpower.
                        </p>
                        <p>
                            <a href="https://github.com/kyan001" class="btn btn-primary" role="button">My Github</a>
                            <a href="https://chrome.google.com/webstore/detail/timer-25/gmdbcklinofignhfmibchnmgjcocccbh" class="btn btn-default" role="button">Timer25</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail" id="d3-thumb4">
                    <img src="/static/img/index/div_card_ideas.png" alt="My Thoughts">
                    <div class="caption">
                        <h3>想法</h3>
                        <p>
                            Keep Thinking,<br/>
                            Keep Cool.
                        </p>
                        <p>
                            <a href="http://thinking.kyan001.com/" class="btn btn-primary" role="button">My Blog</a>
                            <a href="http://www.{{ tld }}/chat/conversation?receiver=%E5%94%AF%E7%AC%91%E7%AB%B9" class="btn btn-default" role="button">Talk To Me</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--#div-card-->

    <div class="bg-div lazyload hidden-xs" id="div-song" data-original='/static/img/index/div_song_bg.jpg'>
        <div id="mucheng">
            <div id="mucheng-title" class="mucheng-top">
                <span>《牧城少年》</span>
                <span id="mucheng-author">by Kyan</span>
            </div>
            <div id="mucheng-player" class="mucheng-top">
                <audio src="/static/audio/muchengshaonian.mp3" controls="controls" preload="none"></audio>
            </div>
            <div id="mucheng-holder">
            </div>
            <div id="mucheng-arrow" onclick="toggleMucheng()">
                <span id="down-arrow" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                <span id="up-arrow" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            </div>
            <div id="mucheng-lyrics">
                <div class="lyrics top">
                    <div id="lyrics-top1" class="lyrics top top1">
                        <li>稚气的脸，迷失曾经的少年，</li>
                        <li>那纯真的世界在哪边，</li>
                        <li>谁藏起写下朝思暮想的笔尖，</li>
                        <li>在牧城的荒途里辗转成歌。</li>
                    </div>
                    <div id="lyrics-top2" class="lyrics top top2">
                        <li>熟悉的脸，不见当年的笑颜，</li>
                        <li>是不是这世界在改变，</li>
                        <li>谁卷起湖边枫叶尽染的画面，</li>
                        <li>在牧城的古道边与子成说。</li>
                    </div>
                </div>
                <div class="lyrics buttom">
                    <div id="lyrics-buttom1" class="lyrics buttom buttom1">
                        <li>不必害怕，我有时间的魔法</li>
                        <li>谱出现实的神话</li>
                        <li>你会长大，披上最动人的纱</li>
                        <li>去吧，像盛开的花</li>
                    </div>
                    <div id="lyrics-buttom3" class="lyrics buttom buttom3">
                        <li>我不害怕，我有妈妈的牵挂</li>
                        <li>陪着我一起出发</li>
                        <li>你会长大，披上最动人的纱</li>
                        <li>去吧，像盛开的花</li>
                    </div>
                    <div id="lyrics-buttom2" class="lyrics buttom buttom2">
                        <li>不必害怕，我有梦想的宝塔</li>
                        <li>守护现实的童话</li>
                        <li>你会长大，盘起最温柔的发</li>
                        <li>去吧，像盛开的花</li>
                    </div>
                </div>
            </div>
        </div>
    </div><!--#div-song-->

    <div class="bg-div lazyload hidden-xs" id="div-last" data-original='/static/img/index/div_last_bg.jpg'>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
    $(function(){
        toggleMucheng();
        //init
        initSwiper();
        initLazyload();
    });
    function initLazyload(){
        $('.lazyload').lazyload({
            effect: 'fadeIn'
        })
    }
    function initSwiper(){
        var swiper = new Swiper('.swiper-container', {
            // basic
            shortSwipes: true,
            grabCursor: true,
            speed: 1000,
            autoplay: 10000,
            autoHeight: true,
            // clicks
            preventClicks: false,
            // pagination
            pagination: '.swiper-pagination',
            paginationClickable: true,
            // effects
            effect: 'coverflow',
            cube: {
                slideShadows: true,
                shadow: true,
                shadowOffset: 20,
                shadowScale: 1,
            },
            // navigation buttons
            prevButton:'.swiper-button-prev',
            nextButton:'.swiper-button-next',
            // scollbar
            scrollbar:'.swiper-scrollbar',
            // slides grid
            slidesPerView: 1,
            breakpoints: {
                768: {
                    slidesPerView: 1,
                },
            },
        });
    }
    function toggleMucheng(){
        var currentHeight = $('#mucheng').height();
        if('100' == currentHeight){
            $('#mucheng').height("100%");
            $("#down-arrow").hide();
            $("#up-arrow").show();
            $("#mucheng-lyrics").css("color","rgba(255,255,255,1)");
        } else {
            $('#mucheng').height("100px");
            $("#down-arrow").show();
            $("#up-arrow").hide();
            $("#mucheng-lyrics").css("color","rgba(255,255,255,0)");
        }
    }
</script>
{% endblock js %}
