{% extends "base.html" %}

{% block title %}RoboTalk{% endblock %}

{% block icon %}
    <link rel="icon" href="/static/img/Logo_Robotalk.png">
    <link href="/static/img/Logo_Robotalk.png" rel="apple-touch-icon">
{% endblock %}

{% block css %}
    <style>
        /* html {
            overflow: scroll;
        }
        html,
        body,
        #the-very-div,
        .container-fluid {
            height: auto;
        } */
        .user-img {
            width: 100%;
        }
        .user-img:hover {
            -webkit-transform: scale(1.2);
               -moz-transform: scale(1.2);
                 -o-transform: scale(1.2);
                    transform: scale(1.2);
        }
        .col {
            padding-left: 5px;
            padding-right: 5px;
        }
        .list-group {
            margin-bottom: 5px;
        }
        .chat-li {
            padding: 12px;
        }
        .text-from {
            color: rgba(0,0,0,0.5);
        }
        .text-quote {
            opacity: 0.7;
            font-style: italic;
        }
        #input-box {
            margin-bottom: 15px;
        }
        #input-row {
            position: fixed;
            bottom: 0;
            left: 0;
        }
        .#chat-container {
            height: 80vh;
            overflow-y: scroll;
            overflow-x: auto;
        }
    </style>
{% endblock css %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        RoboTalk
                        <span class="pull-right" title="已运行 {{starttime}}">
                            <span class="glyphicon glyphicon-comment"></span>
                            <span id="counts"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div id="chat-container" class="panel-body">
                <div id="chat-zone">
                </div>
            </div>
        </div><!--.col-->
    </div><!--.row-->
    <div id="input-row" class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div id="input-box" class="input-group">
                <span class="input-group-addon">
                    <span id="loading-icon" class="glyphicon glyphicon-comment"></span>
                </span>
                <input type="text" name="userinput" class="form-control" placeholder="说点儿什么" autofocus="true">
                <span class="input-group-btn">
                    <button id="sendbtn" class="btn btn-success" type="button" onclick="sendmsg()">
                        发送
                    </button>
                </span>
            </div><!-- /input-group -->
        </div><!--.col-->
    </div><!--.row-->
</div>
{% endblock content %}

{% block js %}
<script>
    $(function(){
        $("input[name='userinput']").keydown(function(event){
            if(event.keyCode == 13){ // press enter
                $("#sendbtn").click()
            }
        })
        getResponse("你好")
    })
    function Robo(key, name, style, headimg){
        this.key = key
        this.name = name
        this.style = style
        this.headimg = headimg
    }
    var ROBOS = [
        new Robo("feifei", "菲菲", "info", "fromrobo1.png"),
        new Robo("tuling", "图酱", "warning", "fromrobo2.png"),
        new Robo("simsimi", "Simsimi", "danger", "fromrobo3.png"),
        new Robo("programo", "Program-O", "danger", "fromrobo3.png"),
    ]
    var lastchat = {
        "whotalk": "",  // who gave the latest chat
        "RCTE": false,  // Robo is Chatting To Each other
    }

    function randomNum(){ // 0-100
        return Math.random() * 100
    }

    function randomEvents(){
        // RCTE
        console.debug("randomEvents:")
        var RCTE_rate = lastchat["RCTE"] ? 55 : 30  // 30% chance to start a RCTE, 55% chance to reply a robo
        var isRoboChatToEach = randomNum() < RCTE_rate  // roll the dice to decide
        console.debug("\tRCTE: %s, isRoboChatToEach: %s", lastchat["RCTE"], isRoboChatToEach)
        lastchat["RCTE"] = isRoboChatToEach
        if(isRoboChatToEach){
            roboChatToEachEvent()
        }
    }

    function roboChatToEachEvent(){
        // Robos chat to each other
        console.debug("roboChatToEachEvent: 触发事件：机器人之间对话")
        function randomsort(a, b) {
            // a random sort for randomsorting the ROBOS and qualified_robos
            return Math.random() > 0.5 ? -1 : 1;
        }

        function qualifyTalker(){
            // check who is qualified to be talker
            var qualified_talker = []
            for(i in ROBOS){
                r = ROBOS[i]
                if(lastchat[r.key] && lastchat[r.key].length < 25 && lastchat["whotalk"] != r.key){  // 曾发言，且发言长度小于 25，且不是最后发言者
                    qualified_talker.push(ROBOS[i])
                }
            }
            return qualified_talker
        }

        function qualifyListener(){
            // check who is qualified to be listener
            var qualified_listener = []
            for(i in ROBOS){
                r = ROBOS[i]
                if(lastchat[r.key]){  // 曾发言，且不能是将要发言者
                    qualified_listener.push(ROBOS[i])
                }
            }
            return qualified_listener
        }

        function decideWhoWillTalk(qualified_talkers){
            // decide who is the next talker in RCTE from all qualified talkers
            if(!qualified_talkers.length){  // no qualified talkers
                return null
            }
            return qualified_talkers.sort(randomsort).pop()  // random select one out of all
        }

        function decideWhoWillListen(qualified_listeners, whotalk){
            // decide who will be the listener in RCTE from all qualified listeners
            if(!qualified_listeners.length){  // no qualified listeners
                return null
            }
            listeners = qualified_listeners.sort(randomsort)
            var wholisten = listeners.pop()  // random select one out of all
            if(wholisten == whotalk){
                wholisten = listeners.pop()  // reselect wholisten if talker is the listener
            }
            return wholisten
        }

        var qualified_talkers = qualifyTalker()
        var whotalk = decideWhoWillTalk(qualified_talkers)
        var qualified_listeners = qualifyListener()
        var wholisten = decideWhoWillListen(qualified_listeners, whotalk)
        getResponse(lastchat[wholisten.key], whotalk.key, wholisten.key)  // talk
        console.debug("\t由 %s 对 %s 说", whotalk.name, wholisten.name)
    }

    function showLoading(enable){
        $("#loading-icon").removeClass("glyphicon-refresh").removeClass("glyphicon-comment")
        if(enable){
            $("#loading-icon").addClass("glyphicon-refresh")
            $("#loading-icon").addClass("loading circling text-danger")
        } else {
            $("#loading-icon").addClass("glyphicon-comment")
            $("#loading-icon").removeClass("loading circling text-danger")
        }
    }

    function sendmsg(){

        var input_ele = $("input[name='userinput']")
        var input_txt = input_ele.val()

        if(input_txt != ""){
            addChat(input_txt, "me")  // show this chat on screen
            var to = ""
            for(i in ROBOS){
                if(input_txt.indexOf(ROBOS[i].name) != -1 || input_txt.indexOf(ROBOS[i].key) != -1){
                    console.debug("触发事件：只询问某个机器人：" + ROBOS[i].name)
                    to = ROBOS[i].key
                    break
                }
            }
            to ? getResponse(input_txt, to) : getResponse(input_txt)  // ask for robo responses
        }
        input_ele.val("").focus()
    }

    function getResponse(userinput, from_, to_){
        // get inputs
        if(userinput==""){
            return false
        }
        var from_ = arguments[1] || "all"
        var to_ = arguments[2] || "all"

        showLoading(true)

        var param ={
            "txt": userinput,
        }
        if(from_ != "all" && from_ != "all"){
            param["from"] = from_
        }
        // remote get
        $.ajax({
            type: "GET",
            url: "/robotalk/getresponse",
            data: param,
            success: function(data){
                console.count("/robotalk/getresponse success")
                if(data.error){
                    alert("Error: " + data.error)
                }
                if(data.failed){
                    for(i in data.failed){
                        console.debug("\t机器人 %s 出错", i)
                        for(j in ROBOS){
                            if(ROBOS[j].key == i){
                                console.debug("\t机器人 %s 已被移除", ROBOS[j].name)
                                addChat("呃，我先走了，你们聊～", ROBOS[j].key)
                                ROBOS.splice(j, 1)
                            }
                        }
                    }
                }
                if(data.disabled){
                    for(i in data.disabed){
                        console.debug("\t机器人 %s 被禁用", i)
                        for(i in ROBOS){
                            if(ROBOS[j].key == i){
                                console.debug("\t机器人 %s 已被移除", ROBOS[j].name)
                                addChat("呃，我已被禁用，你们聊～", ROBOS[j].key)
                                ROBOS.splice(j, 1)
                            }
                        }
                    }
                }
                for (robo in data.result){
                    addChat(data.result[robo].txt, robo, to_)
                }
                $("#counts").fadeOut("normal", function(){
                    $("#counts").text(data.count).fadeIn()
                })
                showLoading(false)
                randomEvents()
            },
            dataType: "json",
        })
    }


    function addChat(word, from_, to_){
        if(word == ""){
            return
        }
        lastchat[from_] = word  // remember last words eachone said
        lastchat["whotalk"] = from_
        to_ = arguments[2] || "all"
        /* Create chat html
            <.row>
                <.col>
                    <ul.list-group>
                        <span.list-group-item.chat-li>
                            <span.text-quote></span> 引用的话
                            {{word}} 说的话
                        </span>
                    </ul>
                </.col>
                <.col> ucol
                    <img.user-img> 用户头像
                </.col> ucol
            </.row>
        */
        var crow = $("<div class='row'></div>")  // .row
        var ccol = $("<div></div>").addClass("col-xs-9 col-sm-8 col")  // .row .col
        if(from_=="me"){
            ccol.addClass("col-xs-offset-1 col-sm-offset-3")
        }
        var ucol = $("<div></div>").addClass("col-xs-2 col-sm-1 col")  // (user).col
        var uimg = $("<img>").addClass("user-img ani-fast")  // (user).col img.user-img
        var cul = $("<ul></ul>").addClass("list-group")  // .row .col ul.list-group
        var cele = $("<span></span>").addClass("list-group-item chat-li")  //chat-ele
        for (i in ROBOS){
            if(ROBOS[i].key == from_){
                uimg.attr("title", ROBOS[i].name)
                break
            }
        }
        function styleByFrom(from){
            switch (from) {
                case "me":
                    cul.addClass("text-right")
                    cele.addClass("list-group-item-success")
                    uimg.attr("src", "/static/img/robotalk/fromme.png")
                    return
                case "kyan001.com":
                    cele.addClass("list-group-item-primary")
                    uimg.attr("src", "/static/img/Logo_Robotalk.png")
                    return
            }
            for(i in ROBOS){
                if(from == ROBOS[i].key){
                    cele.addClass("list-group-item-" + ROBOS[i].style)
                    uimg.attr("src", "/static/img/robotalk/" + ROBOS[i].headimg)
                    return
                }
            }
            uimg.attr("src", "/static/img/robotalk/fromunknown.png")
        }
        styleByFrom(from_)
        // Create reply quote
        var cquote = $("<span class='text-quote'></span>")
        if(to_ != "all"){
            cquote.append("“" + lastchat[to_] + "”<br/>")
        }
        // Appends
        cele.append(cquote).append(word)
        ucol.append(uimg)
        cul.append(cele)
        ccol.append(cul)
        // crow.hide()
        if(from_=="me"){
            crow.append(ccol).append(ucol)
        } else {
            crow.append(ucol).append(ccol)
        }
        $("#chat-zone").append(crow)
        crow[0].scrollIntoView()
    }
</script>
{% endblock js %}

{% block footer %}{% endblock %}
