{% extends "base.html" %}

{% load i18n %}
{% block title %}《{{progress.name}}》{% endblock title %}

{% block css %}
    <style>
        body {
            background-image: url("/static/img/backdrop.png");
        }
        .panel {
            overflow: hidden;
            text-align: center;
        }
        .panel .attrname {
            text-align: right;
            color: darkblue;
            white-space: nowrap;
        }
    </style>
{% endblock css %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="qrcode-col" class="col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {% trans "当前页面的二维码" %}
                        <a class="btn btn-primary btn-xs pull-right" onclick="$('#qrcode-col').slideUp('slow')">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                    <div class="panel-body">
                        <img class="img-thumbnail" src="https://api.qrserver.com/v1/create-qr-code/?data={{request.build_absolute_uri}}&size=150x150" title="{% trans '当前页面的二维码' %}">
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-success btn-block {% if cuser.id == progress.userid %}disabled{% endif %}" href="/opus/importfrom?progressid={{ progress.id }}">
                            {% trans "一键添加到我的进度" %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% trans "所有者" %}{% trans "：" %}
                        <a class="no-decoration" href="/user/public?nickname={{ progress.user.nickname }}">
                            <b>@{{ progress.user.nickname }}</b>
                        </a>
                    </div>
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td class="attrname">{% trans "名称" %}</td>
                                <td>
                                    <b>《{{ progress.name }}》</b>
                                </td>
                            </tr>
                            <!-- hide for privacy
                            <tr>
                                <td class="attrname">{% trans "备注" %}</td>
                                <td>{{ progress.comment }}</td>
                            </tr>
                            -->
                            <tr>
                                <td class="attrname">{% trans "总共" %}</td>
                                <td>{{ progress.total }}</td>
                            </tr>
                            <!-- hide for privacy
                            <tr>
                                <td class="attrname">{% trans "当前进度" %}</td>
                                <td>{{ progress.progress.current }} / {{ progress.total }}</td>
                            </tr>
                            -->
                            <tr>
                                <td class="attrname">{% trans "开始时间" %}</td>
                                <td>{{ progress.created|date:"Y-m-d H:i" }}</td>
                            </tr>
                            <tr>
                                <td class="attrname">{% trans "上次更新" %}</td>
                                <td>{{ progress.modified|date:"Y-m-d H:i" }}</td>
                            </tr>
                            <tr>
                                <td class="attrname">{% trans "状态" %}</td>
                                <td>{{ progress.status }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--.panel-->
            </div><!--.col-->
            {% if progress.weblink %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="panel panel-default item-panel">
                        <div class="panel-heading">
                            {% trans "进度链接" %}
                        </div>
                        <table class="table table-hover">
                            <tr>
                                <td class="attrname">
                                    <span>{% trans "链接" %}</span>
                                    <span class="glyphicon glyphicon-link"></span>
                                </td>
                                <td>
                                    {{ progress.weblink|urlizetrunc:40 }}
                                </td>
                            </tr>
                            <tr>
                                <td class="attrname">
                                    <span>{% trans "链接" %}</span>
                                    <span class="glyphicon glyphicon-qrcode"></span>
                                </td>
                                <td>
                                    <img src="https://api.qrserver.com/v1/create-qr-code/?data={{ progress.weblink }}&size=150x150" title="{% trans '进度链接二维码' %}">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div><!--.col-->
            {% endif %}
        </div><!--.row-->
    </div>
{% endblock content %}
