/*!
 * KyanCssUtil.css v1.0
 */

/* Picture alignment */
    .alignleft { display: inline; float: left; }
    .alignright { display: inline; float: right; }
    .aligncenter { clear: both; display: block; margin: auto; }

/* Text alignment */
    .text-alignleft { display: inline-block; width: 100%; text-align: left; }
    .text-alignright { display: inline-block; width: 100%; text-align: right; }
    .text-aligncenter { display: inline-block; width: 100%; text-align: center; }
    .text-primary-dark { color: LightSkyBlue; }

/* Float */
    a.no-decoration { text-decoration: none; }
    .hover-shadow:hover {
        box-shadow: 0 5px 9px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
    }

/* blurs */
    .blur, .hover-notblur, .hover-blur:hover{
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
    }
    .hover-notblur:hover{
        -webkit-filter:  blur(0);
        -moz-filter:  blur(0);
        -o-filter:  blur(0);
        -ms-filter:  blur(0);
        filter:  blur(0);
    }

/* animations */
    .beveryfast {
        transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
    }
    .befast {
        transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }
    .benormal {
        transition: all 1s ease;
        -moz-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
    }
    .beslow {
        transition: all 2s ease;
        -moz-transition: all 2s ease;
        -webkit-transition: all 2s ease;
        -o-transition: all 2s ease;
    }

/* colors */
    .silver { color: silver; }
    .gray { color: gray; }
    .darkgray { color: darkgray; }

