/*!
 * KyanCssUtil.css v1.4.0
 */

/* a */
a.no-decoration,
a.no-decoration:hover,
.no-decoration-container a,
.no-decoration-container a:hover {
    text-decoration: none !important;
}

.fullscreen {
    height: 100% !important;
    width: 100% !important;
    background-size: cover !important;  /*撑开图片*/
    background-position: 50% 50% !important;
}

/* shadow */
.hover-shadow:hover {
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
    -webkit-transform: translateY(-2px);
       -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
         -o-transform: translateY(-2px);
            transform: translateY(-2px);
}

.hover-pointer {
    cursor: pointer;
}

/* blurs */
.blur,
.hover-notblur,
.hover-blur:hover{
    -webkit-filter: blur(2px);
       -moz-filter: blur(2px);
         -o-filter: blur(2px);
        -ms-filter: blur(2px);
            filter: blur(2px);
}
.hover-notblur:hover{
    -webkit-filter: blur(0);
       -moz-filter: blur(0);
         -o-filter: blur(0);
        -ms-filter: blur(0);
            filter: blur(0);
}

/* images */
.img-square {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-square::after {
    display: block;
    padding-top: 100%;
    content: '';
}

/* animations */
.ani-veryfast
.ani-veryfast-container *  {
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
}
.ani-fast,
.ani-fast-container * {
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}
.ani-normal,
.ani-normal-container *  {
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
}
.ani-slow,
.ani-slow-container *  {
    -webkit-transition: all 2s ease;
       -moz-transition: all 2s ease;
         -o-transition: all 2s ease;
            transition: all 2s ease;
}

/* rotate */
@keyframes rotate360 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@-webkit-keyframes rotate360 {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate360 {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
@-ms-keyframes rotate360 {
    from {-ms-transform: rotate(0deg);}
    to {-ms-transform: rotate(360deg);}
}
@-o-keyframes rotate360 {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(360deg);}
}
.circling,
.hover-circling:hover {
    -webkit-animation: rotate360 1s linear infinite;
       -moz-animation: rotate360 1s linear infinite;
        -ms-animation: rotate360 1s linear infinite;
         -o-animation: rotate360 1s linear infinite;
            animation: rotate360 1s linear infinite;
}

@keyframes rotateY360 {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}
@-webkit-keyframes rotateY360 {
    from {-webkit-transform: rotateY(0deg);}
    to {-webkit-transform: rotateY(360deg);}
}
@-moz-keyframes rotateY360 {
    from {-moz-transform: rotateY(0deg);}
    to {-moz-transform: rotateY(360deg);}
}
@-ms-keyframes rotateY360 {
    from {-ms-transform: rotateY(0deg);}
    to {-ms-transform: rotateY(360deg);}
}
@-o-keyframes rotateY360 {
    from {-o-transform: rotateY(0deg);}
    to {-o-transform: rotateY(360deg);}
}
.turning,
.hover-turning:hover,
.hover-turning-container:hover * {
    -webkit-animation: rotateY360 1s linear infinite;
       -moz-animation: rotateY360 1s linear infinite;
        -ms-animation: rotateY360 1s linear infinite;
         -o-animation: rotateY360 1s linear infinite;
            animation: rotateY360 1s linear infinite;
}

/* colors */
.silver { color: silver; }
.gray { color: gray; }
.darkgray { color: darkgray; }


/* flex */
.btn-group.btn-group-flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
.flex-5 {
    flex: 5;
}
.flex-6 {
    flex: 6;
}
.flex-7 {
    flex: 7;
}
.flex-8 {
    flex: 8;
}
.flex-9 {
    flex: 9;
}
.flex-10 {
    flex: 10;
}
.flex-11 {
    flex: 11;
}
.flex-12 {
    flex: 12;
}
