/*!
 * KyanCssUtil.css v1.0
 */

/* Picture alignment */
    .alignleft { display: inline; float: left; }
    .alignright { display: inline; float: right; }
    .aligncenter { clear: both; display: block; margin: auto; }

/* Text alignment */
    .text-alignleft { display: inline-block; width: 100%; text-align: left; }
    .text-alignright { display: inline-block; width: 100%; text-align: right; }
    .text-aligncenter { display: inline-block; width: 100%; text-align: center; }
    .text-right { text-align: right; }
    .text-center { text-align: center; }
    .text-primary-dark { color: LightSkyBlue; }

/* Float */
    .float-right { float: right; }

/* blurs */
    .blur, .hover-notblur, .hover-blur:hover{
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
    }
    .hover-notblur:hover{
        -webkit-filter:  blur(0);
        -moz-filter:  blur(0);
        -o-filter:  blur(0);
        -ms-filter:  blur(0);
        filter:  blur(0);
    }

/* animations */
    .beveryfast {
        transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
    }
    .befast {
        transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }
    .benormal {
        transition: all 1s linear;
        -moz-transition: all 1s linear;
        -webkit-transition: all 1s linear;
        -o-transition: all 1s linear;
    }
    .beslow {
        transition: all 2s linear;
        -moz-transition: all 2s linear;
        -webkit-transition: all 2s linear;
        -o-transition: all 2s linear;
    }

/* colors */
    .silver { color: silver; }
    .gray { color: gray; }
    .darkgray { color: darkgray; }

