{% load parse_msg_content %}
{% load i18n %}

<div class="panel panel-default {% if not chat.isread %}unread{% endif %} chat-record ani-fast hover-shadow" chatid="{{ chat.id }}" {% if chat.receiverid == cuser.id %}onclick="markread(this)"{% endif %}>
    <div class="panel-heading ani-veryfast" data-toggle="collapse" data-target="#chat-{{chat.id}}" data-parent="{{ parent }}">
        {% include "chat/chater.html" with sender=chat.sender receiver=chat.receiver %}
        <span>:</span>
        {% if chat.title %}
            {{ chat.title|striptags }}
        {% else %}
            {{ chat.content|striptags|truncatechars:12 }}
        {% endif %}
        <div class="pull-right text-muted hidden-xs">{{ chat.created|date:"Y-m-d H:i" }}</div>
    </div>
    <div id="chat-{{chat.id}}" class="panel-collapse collapse {% if conversation %}in{% endif %}" role="tabpanel">
        <div class="panel-body">
            <div class="text-muted visible-xs-block">{{ chat.created|date:"Y-m-d H:i" }}</div>
            <div class="chat-content pull-left">
                {% if chat.sender.username == "syschat" %}
                    <p>{{ chat.content|highlightlink:"sys"|safe }}</p>
                {% else %}
                    <p>{{ chat.content|force_escape|highlightlink|safe }}</p>
                {% endif %}
                {% if chat.content|extractlink|length > 2 %}
                    <li style="border-top: 1px dashed silver;">
                        <span class="text-warning">提到了</span>：
                        {% for at in chat.content|extractlink %}
                            {{ at|safe }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                {% endif %}
            </div>
            <div class="pull-right">
                {% if not conversation %}
                    {% if chat.senderid == cuser.id %}
                        <a class="btn btn-primary btn-sm" href="/chat/conversation?receiver={{chat.sender.nickname}}" onclick="disableAllBtn()">
                            <span class="glyphicon glyphicon-envelope"></span> 查看
                        </a>
                    {% elif chat.receiverid == cuser.id %}
                        <a class="btn btn-primary btn-sm" href="/chat/conversation?receiver={{chat.sender.nickname}}&title=回复：{{chat.content|truncatechars:12}}" onclick="disableAllBtn()">
                            <span class="glyphicon glyphicon-envelope"></span> 回复
                        </a>
                    {% endif %}
                {% endif %}
                {% if chat.receiverid == cuser.id %}
                    <a class="btn btn-default btn-sm" href="/chat/delete?id={{chat.id}}" onclick="disableAllBtn()">
                        <span class="glyphicon glyphicon-remove"></span> 删除
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
