
{% load nickname_link %}

<div class="panel panel-default {% if not c.isread %}unread{% endif %} chat-record beveryfast hover-shadow" chatid="{{c.id}}" {%if c.receiverid == user.id%}onclick="markread(this)"{%endif%}>
    <div class="panel-heading beveryfast" data-toggle="collapse" data-target="#chat-{{c.id}}" data-parent="#msg-group">
        {% if c.getSender.username == 'syschat' %}
            <span class="text-danger">
                <span class="glyphicon glyphicon-flag"></span>
                @{{ c.getSender.nickname }}
            </span>
        {% elif c.getSender.username == user.username and c.receiverid == user.id %}
            <span class="glyphicon glyphicon-list-alt"></span>
            <span class="text-muted">
                临时笔记
            </span>
        {% elif c.getSender.username == user.username %}
            <span class="text-primary">
                我
            </span>
        {% else %}
            <span class="text-primary">
                <span class="glyphicon glyphicon-comment"></span>
                @{{ c.getSender.nickname }}
            </span>
        {% endif %}
        ：
        {% if c.title %}
            {{ c.title }}
        {% else %}
            {{ c.content|truncatechars:12 }}
        {% endif %}
        <div class="pull-right text-muted hidden-xs">{{ c.getCreated }}</div>
    </div>
    <div id="chat-{{c.id}}" class="panel-collapse collapse {%if receiver%}in{%endif%}" role="tabpanel">
        <div class="panel-body">
            <div class="text-muted visible-xs-block">{{ c.getCreated }}</div>
            <div class='chat-content pull-left'>
                {% if c.getSender.username == 'syschat' %}
                    <p>{{ c.content|safe }}</p>
                {% else %}
                    {{ c.content|linebreaks }}
                {% endif %}
                {% if c.content|extractnickname %}
                    <li style="border-top: 1px dashed silver;">
                        <span class="text-warning">提到了</span>：
                        {% for at in c.content|extractnickname %}
                            {{ at|safe }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                {% endif %}
            </div>
            <div class="pull-right">
                {% if not receiver %}
                    <a class="btn btn-primary btn-sm" href="/chat/conversation?receiver={{c.getSender.nickname}}&title=回复：{{c.content|truncatechars:12}}">
                        <span class="glyphicon glyphicon-envelope"></span> 回复
                    </a>
                {% endif %}
                {% if c.receiverid == user.id %}
                    <a class="btn btn-default btn-sm" href="/chat/delete?id={{c.id}}">
                        <span class="glyphicon glyphicon-remove"></span> 删除
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
