{% extends "base.html" %}
{% block title %}Inbox{% endblock title %}

{% block css %}
<meta http-equiv=Cache-Control content=no-cache />
<style>
    .container {
        font-family: "微软雅黑","Microsoft Yahei","Helvetica Neue",Helvetica,"Hiragino Sans GB","Segoe UI",Tahoma,Arial,STHeiti,sans-serif !important;
    }
    .page-header {
        margin: 0px;
    }
    .panel-heading {
        cursor: pointer;
    }
    .panel.unread .panel-heading {
        font-weight: bold;
    }
    .chat-content {
        word-break: break-all;
    }
</style>
{% endblock css %}

{% block js %}
<script>
    function markread(ele){
        chatid = $(ele).attr('chatid')
        if(chatid<0){
            return;
        }
        if(!$(ele).hasClass("unread")){
            return;
        }
        $.ajax({
            type: "GET",
            url: "/chat/markread",
            data: {'chatid': chatid},
            async: true,
            dataType: 'json',
            success: function(result) {
                if(result.error){
                    alert(result.error)
                } else {
                    $("div[chatid="+chatid+"]").removeClass('unread')
                }
            }
        });
    }
</script>
{% endblock js %}

{% block nav-btn %}
    <a href="javascript:void(0)" class="btn btn-warning btn-sm" onclick="history.back()">
        <span class="glyphicon glyphicon-arrow-left"></span> 回到上一页
    </a>
{% endblock nav-btn %}

{% block function-btn %}
    <a href="/chat/conversation" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"></span> 发新消息
    </a>
{% endblock function-btn %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12'>
            <div class="page-header">
                <h3>
                    <span class="glyphicon glyphicon-inbox"></span> 收信箱
                    <small>({{chats|length}})</small>
                </h3>
            </div>
            <div class="panel-group" id="msg-group" role="tablist" aria-multiselectable="true">
                {% for c in chats %}
                    {% include 'chat/chatlet.html' %}
                {% empty %}
                <div class="well">
                    你还没有收到任何消息
                </div>
                {% endfor %}
            </div><!--.panel-group-->
        </div><!--.col-->
    </div><!--.row-->
</div><!--.container-->

{% endblock content %}
