{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "收信箱" %}{% endblock title %}

{% block inhead %}
    <meta http-equiv="Cache-Control" content="no-cache" />
{% endblock %}


{% block css %}
<style>
    .page-header {
        margin: 0px;
    }
    .panel-heading {
        cursor: pointer;
    }
    .panel.unread .panel-heading {
        font-weight: bold;
    }
    .chat-content {
        word-break: break-all;
    }
    .dropdown-menu > li > a {
        line-height: 40px;
    }
</style>
{% endblock css %}

{% block js %}
<script>
    $(function(){
        $("[data-toggle='tooltip']").tooltip();
    })
</script>
{% endblock js %}

{% block nav-btn %}
    <a href="javascript:void(0)" class="btn btn-warning btn-sm" onclick="history.back()">
        <span class="glyphicon glyphicon-arrow-left"></span>
        {% trans "回到上一页" %}
    </a>
{% endblock nav-btn %}

{% block function-btn %}
    <a href="/chat/conversation" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hidden-xs">{% trans "发新消息" %}</span>
    </a>
{% endblock function-btn %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="chaters-list-nonmobile" class="col-xs-12 col-sm-3 hidden-xs">
            <div class="page-header">
                <h3>
                    <span class="glyphicon glyphicon-star"></span>
                    {% trans "人" %}
                    <small>({{ chater_and_counts|length }})</small>
                </h3>
            </div><!--.page-header-->
            <div class="list-group">
                {% for chtr, cnt in chater_and_counts %}
                    <a class="list-group-item" href="/chat/conversation?receiver={{chtr.nickname}}" onclick="disableAllBtn()">
                        {% include "chat/chater.html" with sender=chtr receiver=cuser %}
                        <span class="text-muted small">({{ cnt }})</span>
                    </a>
                {% empty %}
                    <div class="well">
                        {% trans "无" %}
                    </div>
                {% endfor %}
            </div>
        </div><!--.col-->
        <div class="col-xs-12 col-sm-9">
            <div class="page-header">
                <h3>
                    <span class="glyphicon glyphicon-inbox"></span>
                    {% trans "收信箱" %}
                    <small>({{ chats.paginator.count }})</small>
                    <span id="show-by-type" class="pull-right">
                        <div id="chaters-list-mobile" class="visible-xs-inline-block">
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-star"></span>
                                    {% trans "人" %}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    {% for chtr, cnt in chater_and_counts %}
                                        <li>
                                            <a href="/chat/conversation?receiver={{chtr.nickname}}" onclick="disableAllBtn()">
                                                {% include "chat/chater.html" with sender=chtr receiver=cuser %}
                                                <span class="text-muted small">({{ cnt }})</span>
                                            </a>
                                        </li>
                                    {% empty %}
                                        <li class="dropdown-header">{% trans "无" %}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div id="show-by-type-mobile" class="visible-xs-inline-block">
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-filter"></span>
                                    {{ msg_filters.thiszh }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    {% for fltr_typ, fltr_name in msg_filters.all.items %}
                                        {% if forloop.last %}
                                            <li role="separator" class="divider"></li>
                                        {% endif %}
                                        <li class="{% if msg_filters.this == fltr_typ %}active{% endif %}">
                                            <a href="?type={{ fltr_typ }}">
                                                <span class="glyphicon glyphicon-filter"></span>
                                                {{ fltr_name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div id="show-by-type-nonmobile" class="hidden-xs">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group" role="group">
                                    {% for fltr_typ, fltr_name in msg_filters.all.items %}
                                        {% if forloop.last %}
                                </div>
                                <div class="btn-group" role="group">
                                        {% endif %}
                                        <a class="btn btn-sm {% if msg_filters.this == fltr_typ %}btn-primary{% else %}btn-default{% endif %}" href="?type={{ fltr_typ }}">
                                            <span class="glyphicon glyphicon-filter"></span>
                                            {{ fltr_name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </span>
                </h3>
            </div><!--.page-header-->
            <div id="msgs-panel" class="panel-group" role="tablist" aria-multiselectable="true">
                {% for chat in chats %}
                    {% include "chat/chatlet.html" with chat=chat parent="#msgs-panel" %}
                {% empty %}
                    <div class="well">
                        {% trans "没有任何消息" %}
                    </div>
                {% endfor %}
            </div><!--.panel-group-->
            <nav id="paginator_for_chats">
                <ul class="pager">
                    {% if chats.has_previous %}
                        <li>
                            <a href="?type={{ msg_filters.this }}&page={{ chats.previous_page_number }}">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                        </li>
                    {% endif %}
                    {% if chats.has_other_pages %}
                        <li title="{% trans '跳到最后一页/第一页' %}">
                            {% if chats.has_previous %}
                                <a href="?type={{ msg_filters.this }}&page=1">
                                    <span>{{ chats.number }} / {{ chats.paginator.num_pages }}</span>
                                </a>
                            {% else %}
                                <a href="?type={{ msg_filters.this }}&page={{ chats.paginator.num_pages }}">
                                    <span>{{ chats.number }} / {{ chats.paginator.num_pages }}</span>
                                </a>
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if chats.has_next %}
                        <li>
                            <a href="?type={{ msg_filters.this }}&page={{ chats.next_page_number }}">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div><!--.col-->
    </div><!--.row-->
</div><!--.container-->

{% endblock content %}
