{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "超级管理员" %}{% trans "：" %}{% trans "广播系统消息" %}{% endblock title %}


{% block css %}
<style>
    .page-header {
        margin: 0px;
    }
    .chat-record .panel-heading {
        cursor: pointer;
    }
    .panel.unread .panel-heading {
        font-weight: bold;
    }
    .chat-content {
        word-break: break-all;
    }
    #nickname-group .input-group-addon {
        padding-right: 1px;
    }
</style>
{% endblock css %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <div class="page-header">
                <h3>
                    {% trans "所有人" %}
                    <small><span class="glyphicon glyphicon-transfer"></span> @系统消息</small>
                </h3>
            </div>

            <form id="form-send" action="/superuser/sendbroadcast" method="post">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input id="input-title"
                                      type="text"
                                      name="title"
                                      class="form-control"
                                      autocomplete="off"
                                      placeholder="{% trans '标题（选填）' %}"
                                      tabindex="3"
                                      {% if title %}value="{{ title }}"{% endif %}>
                                </div><!--.form-group-->
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <div id="nickname-group" class="input-group">
                                        <div class="input-group-addon">@</div>
                                        <input type="text" class="form-control" value="{% trans '所有人' %}" readonly>
                                        <div class="input-group-btn">
                                            <a id="send-btn" class="btn btn-success btn-block" onclick="submitSend()" disabled tabindex="4">
                                                <span class="glyphicon glyphicon-send"></span>
                                                <span>{% trans "发送" %}</span>
                                            </a>
                                        </div>
                                    </div><!--.input-group-->
                                </div><!--.form-group-->
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <textarea name="content" class="form-control" rows="6" placeholder="{% trans '消息内容' %}" autocomplete="off" oninput="validateContent()" tabindex="2"></textarea>
                                </div><!--.form-group-->
                            </div><!--.col-->
                        </div><!--.row-->
                    </div><!--.panel-body-->
                </div>
            </form>

            <hr/>

            <div class="panel-group">
                {% for chat in chats %}
                    {% include "chat/chatlet.html" with chat=chat cuser=sysuser %}
                {% empty %}
                    <div class="well">
                        @系统消息 {% trans "尚未收到任何消息" %}
                    </div>
                {% endfor %}
            </div><!--.panel-group-->
        </div><!--.col-->
    </div><!--.row-->
</div><!--.container-->
{% endblock content %}

{% block js %}
<script>
    var isContentOk = false
    function validateContent(){
        isContentOk = false
        var content = $.trim($("textarea[name='content']").val())
        if(content==""){
            isContentOk = false
        } else {
            isContentOk = true
        }
        isSendOk()
        return isContentOk
    }

    function isSendOk(){
        if(isContentOk){
            $("#send-btn").removeAttr("disabled")
            return true
        } else {
            $("#send-btn").attr("disabled","disabled")
            return false
        }
    }

    function submitSend(){
        $("#send-btn").attr("disabled","disabled")
        var content = $.trim($("textarea[name='content']").val())
        var title = $.trim($("input[name='title']").val())
        if(!isContentOk) {
            $.danger("{% trans '错误：消息内容不能为空' %}")
            $("textarea[name='content']").focus()
            return
        }
        $("input[name='title']").val(title)
        $("textarea[name='content']").val(content)
        disableAllBtn()
        $("#form-send").submit()
    }
</script>
{% endblock js %}
