{% extends "base.html" %}
{% block title %}徽章：{{badge.category|capfirst}}{% endblock title %}

{% block css %}
<style>
    .container {
        font-family: 'Microsoft YaHei';
    }
    .userbadge {
        width: 100%;
        max-width: 300px;
    }
</style>
{% endblock %}

{% block nav-btn %}
<a href="/badge/list" class="btn btn-warning btn-sm">
    <span class="glyphicon glyphicon-arrow-left"></span> 回到徽章列表
</a>
{% endblock nav-btn %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class='panel-heading'>
                    <span class="panel-title">
                        {% if not badge.isallowed %}
                            <span class='glyphicon glyphicon-ban-circle'></span>
                        {% endif %}
                        {{badge.category|upper}}
                    </span>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 text-center">
                        <img class='userbadge' src='{{badge.image}}'>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <table class='table'>
                            <tr>
                                <td>设计师：</td>
                                <td>
                                    <a href="/user/public?nickname={{badge.designernname}}">
                                        @{{badge.designernname}}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>加入时间：</td>
                                <td>{{badge.created|date:'Y-m-d H:i'}}</td>
                            </tr>
                            <tr>
                                <td>拥有人数：</td>
                                <td>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>{{badge.userCount}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel-body">
                    <h4 class='text-info'>{{badge.description}}</h4>
                    <li>{{badge.requirement|linebreaks}}</li>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
