{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "徽章详情" %}{% endblock title %}

{% block css %}
<style>
    .userbadge {
        width: 100%;
        max-width: 300px;
    }
</style>
{% endblock %}

{% block nav-btn %}
    <a href="/badge/list" class="btn btn-warning btn-sm">
        <span class="fas fa-arrow-left"></span>
        {% trans "徽章列表" %}
    </a>
{% endblock nav-btn %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="panel-title">
                        {% if not badge.isallowed %}
                            <span class="fas fa-ban"></span>
                        {% endif %}
                        {{badge.category|upper}}
                    </span>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 text-center">
                        <img class="userbadge" src="{{ badge.image }}">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <table class="table">
                            <tr>
                                <td>{% trans "设计师" %}{% trans "：" %}</td>
                                <td>
                                    <a href="/user/public?nickname={{ badge.designernname }}">
                                        @{{ badge.designernname }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans "加入时间" %}{% trans "：" %}</td>
                                <td>{{badge.created|date:"Y-m-d H:i"}}</td>
                            </tr>
                            <tr>
                                <td>{% trans "拥有人数" %}{% trans "：" %}</td>
                                <td>
                                    <span class="fas fa-user"></span>
                                    <span>{{ badge.userCount }}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel-body">
                    <h4 class="text-info">{{ badge.description }}</h4>
                    <li>{{ badge.requirement }}</li>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
