{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "徽章列表" %}{% endblock title %}

{% block css %}
<style>
    .userbadge {
        width: 100%;
        max-width: 300px;
    }
    .badge-desc {
        white-space: nowrap;
        overflow: hidden;
    }
</style>
{% endblock %}

{% block nav-btn %}
<a href="javascript:void(0)" class="btn btn-warning btn-sm" onclick="history.back()">
    <span class="glyphicon glyphicon-arrow-left"></span>
    {% trans "回到上一页" %}
</a>
{% endblock nav-btn %}

{% block content %}
<div class="container">
    <div class="row">
        {% for badge in upbs %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <a class="no-decoration" href="/badge/detail?id={{badge.id}}" title="{{badge.description}}">
                    <div class="panel panel-default hover-shadow">
                        <div class="panel-heading">
                            <span class="panel-title">
                                {% if not badge.isallowed %}
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                {% endif %}
                                {{ badge.category|upper|truncatechars:17 }}
                            </span>
                            <span class="pull-right">
                                <span class="glyphicon glyphicon-user"></span>
                                <span>{{ badge.userCount }}</span>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <img class="userbadge" src="{{ badge.image }}"/>
                            </div>
                        </div>
                        <div class="panel-body">
                            <h5 class="text-info badge-desc">
                                {{ badge.description }}
                            </h5>
                            <li hidden>{{ badge.requirement|linebreaks }}</li>
                            <li class="text-muted">
                                {% trans "设计师" %}{% trans "：" %}
                                <span class="text-primary">@{{ badge.designernname }}</span>
                            </li>
                            <li class="text-muted">
                                {% trans "加入时间" %}{% trans "：" %}{{ badge.created|date:"Y-m-d H:i" }}
                            </li>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
