{% extends "base.html" %}
{% block title %}{{ userexp.get_category_display }}{% endblock title %}

{% block css %}
<style>
    .table {
        font-size: 15px;
        margin-bottom: 1px;
    }
    .view-full-btn {
        width: 100%;
    }
    .page-header {
        margin: 0;
    }
</style>
{% endblock css %}

{% block nav-btn %}
    <a href="javascript:void(0)" class="btn btn-warning btn-sm" onclick="history.back()">
        <span class="glyphicon glyphicon-arrow-left"></span> 回到上一页
    </a>
{% endblock nav-btn %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <div class="page-header">
                <h3>
                    {{ userexp.get_category_display }}
                    <small>@{{ cuser.nickname }}</small>
                </h3>
            </div>
            <table class="table table-condensed table-striped table-hover">
            {% for eh in exphistorys %}
                <tr>
                    <td>#{{ forloop.counter }}</td>
                    <td>
                        {% ifchanged eh.created|date:'Y-m-d H:i' %}
                            {{ eh.created|date:'Y-m-d H:i' }}
                        {% endifchanged %}
                    </td>
                    <th>+{{ eh.change }}</th>
                    <td>{{ eh.operation }}</td>
                </tr>
            {% endfor %}
            </table>
            {% if view != "full" %}
            <a class="btn btn-default view-full-btn" href="exphistory?category={{userexp.category}}&view=full" title="查看完整记录">
                <span class="glyphicon glyphicon-resize-full"></span> 查看完整记录
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
