{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "找回密码或答案" %}{% endblock title %}

{% block theme %}
    <link rel="stylesheet" href="/static/3rd/bootstrap/css/bootstrap.min.css">
{% endblock %}

{% block nav-btn %}
    {% include 'user/signindropdown.html' %}
{% endblock nav-btn %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-xs-12">
            <div class="jumbotron">
                <h1>{% trans "找回密码或答案" %}</h1>
                <h3>{% trans "请用注册邮箱发信至：" %}</h3>
                <a class="btn btn-primary btn-lg" href="mailto:kai@kyan001.com">kai@kyan001.com</a>
                <h4>{% trans "提供越详细的信息，找回密码或答案的机会越大" %}</h4>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
