{% extends "base.html" %}
{% block title %}{{ user.nickname }}{% endblock title %}

{% block css %}
<style type="text/css">
    .container {
        padding-top: 50px;
        padding-bottom: 80px;
    }
</style>
{% endblock css %}

{% block content %}
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>属性</th>
                    <th>值</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>头像</td>
                    <td>
                        <a href="/user/avatar/{{user.email}}" title="from gravatar.com">
                            <img src="{{ headimg }}">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>用户名</td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td>昵称</td>
                    <td>{{ user.nickname }}</td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>问题</td>
                    <td>{{ user.question }}</td>
                </tr>
                <tr>
                    <td>答案1</td>
                    <td>{{ user.answer1 }}</td>
                </tr>
                <tr>
                    <td>答案2</td>
                    <td>{{ user.answer2 }}</td>
                </tr>
                <tr>
                    <td>提示</td>
                    <td>{{ user.tip }}</td>
                </tr>
                <tr>
                    <td>创建时间</td>
                    <td>{{ user.created }}</td>
                </tr>
                <tr>
                    <td>操作</td>
                    <td>
                        <a href="/user/user?id={{ user.id }}" class="btn btn-success">
                            我的公开信息
                        </a>
                        <a href="/user/avatar/{{ user.email }}" class="btn btn-warning">
                            我的头像地址
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block footer %}
    {{ block.super }}
    <style>
    #footer-div {
        position: fixed;
        bottom: 0;
    }
    </style>
{% endblock footer %}
