{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ cuser.nickname }}{% endblock title %}

{% block inhead %}
    <meta http-equiv="Cache-Control" content="no-cache" />
{% endblock %}

{% block css %}
<style>
    #headimg {
        width: 100%;
    }

    .table {
        font-size: 15px;
    }
    /* main-info */
    /* exp-info */
    .progress {
        margin: 0;
    }
    .panel:hover .progress {
        height: 25px;
        line-height: 25px;
    }
    .panel .progress .progress-bar {
        line-height: inherit;
    }
    #exp-info .category {
        font-size: 15px;
        font-weight: bold;
    }
    #headimg-form {
        display: none;
    }
</style>
{% endblock css %}


{% block content %}
<div class="container">
    <div class="row">
        <div id="gravatar" class="hidden-xs col-sm-4 col-md-3 col-md-offset-1">
            <div class="panel panel-primary ani-fast hover-shadow">
                <div class="panel-body">
                    <a href="javascript:;" role="button" onclick="changeHeadimg()" title="{% trans '修改头像' %}">
                        <div id="headimg" class="img-square img-rounded" style="background-image: url('{{ cuser.headimg_url }}')"></div>
                    </a>

                    <form id="headimg-form" action="/user/headimgupdate" method="post" role="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" accept="image/*" name="headimg" onchange="$('#headimg-form').submit();"/>
                    </form>
                </div>
            </div>
        </div>
        <div id="main-info" class="col-xs-12 col-sm-8 col-md-7">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#personal-info" aria-controls="personal-info" role="tab" data-toggle="tab">{% trans "个人信息" %}</a>
                </li>
                <li role="presentation">
                    <a href="#register-info" aria-controls="register-info" role="tab" data-toggle="tab">{% trans "注册信息" %}</a>
                </li>
                <li role="presentation">
                    <a href="#progress-info" aria-controls="progress-info" role="tab" data-toggle="tab">{% trans "进度信息" %}</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="personal-info">
                    <table class="table table-condensed table-hover">
                        <tr>
                            <th>ID{% trans "：" %}</th>
                            <td>{{ cuser.id }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "用户名" %}{% trans "：" %}</th>
                            <td>{{ cuser.username }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "昵称" %}{% trans "：" %}</th>
                            <td>
                                <a href="/user/public?nickname={{ cuser.nickname }}">
                                    @<abbr title="{% trans '我的公开页，任何人都可以查看' %}" data-toggle="tooltip" data-placement="right">{{ cuser.nickname }}</abbr>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans "邮箱" %}{% trans "：" %}</th>
                            <td>{{ cuser.email }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "活跃等级" %}{% trans "：" %}</th>
                            <td>
                                <abbr title="{% trans '根据“总活跃度”计算' %}" data-toggle="tooltip" data-placement="right">Lv.{{ cuser.level }}</abbr>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="register-info" class="tab-pane" role="tabpanel">
                    <table class="table table-condensed table-hover">
                        <tr>
                            <th>{% trans "问题" %}{% trans "：" %}</th>
                            <td>{{ cuser.question }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "答案1" %}{% trans "：" %}</th>
                            {% if cuser.answer1 %}
                                <td><i>{% trans "[已加密]" %}</i></td>
                            {% else %}
                                <td>{% trans "无" %}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>{% trans "答案2" %}{% trans "：" %}</th>
                            {% if cuser.answer2 %}
                                <td><i>{% trans "[已加密]" %}</i></td>
                            {% else %}
                                <td>{% trans "无" %}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>{% trans "提示" %}{% trans "：" %}</th>
                            {% if cuser.tip %}
                                <td>{{ cuser.tip }}</td>
                            {% else %}
                                <td>{% trans "无" %}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>{% trans "创建时间" %}{% trans "：" %}</th>
                            <td>{{ cuser.created|date:'Y-m-d H:i' }}</td>
                        </tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="progress-info">
                    <table class="table table-condensed table-hover">
                    {% trans '出错' as t_error %}
                    {% trans "已完成" as t_done %}
                    {% trans "冻结中" as t_deactivated %}
                    {% trans "进行中" as t_inprogress %}
                    {% trans "待阅读" as t_todo %}
                    {% trans "追剧中" as t_follow %}
                    {% for p in prgstatics %}
                        {% if p.name != t_error %}
                            <tr>
                                <th class="text-right">{{ p.name }}{% trans "：" %}</th>
                                <td>{{ p.count }}</td>
                                {% if p.name == t_done %}
                                    <th class="text-right">{% trans "平均花费" %}{% trans "：" %}</th>
                                    <td>{{ p.average_created_modified }}</td>
                                {% endif %}
                                {% if p.name == t_deactivated %}
                                    <th class="text-right">{% trans "平均尝试" %}{% trans "：" %}</th>
                                    <td>{{ p.average_created_modified }}</td>
                                {% endif %}
                                {% if p.name == t_inprogress %}
                                    <th class="text-right">{% trans "平均已用" %}{% trans "：" %}</th>
                                    <td>{{ p.average_created_modified }}</td>
                                {% endif %}
                                {% if p.name == t_todo %}
                                    <th class="text-right">{% trans "平均等待" %}{% trans "：" %}</th>
                                    <td>{{ p.average_created_now }}</td>
                                {% endif %}
                                {% if p.name == t_follow %}
                                    <th class="text-right">{% trans "平均待更" %}{% trans "：" %}</th>
                                    <td>{{ p.average_modified_now }}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div><!--.col-->
    </div><!--.row-->
    {% include "user/badges.html" with user=cuser %}
    <div class="row">
        <div id="exp-info" class="col-xs-12 col-sm-12 col-md-12 col-md-offset-0">
            {% for exp, exphistory in exps %}
            <div class="col-xs-12 col-sm-12 col-md-4">
                <a class="no-decoration" href="/user/exphistory?category={{exp.category}}">
                    <div class="panel panel-primary ani-fast hover-shadow">
                        <div class="panel-heading">
                            <span>
                                <b>{{ exp.get_category_display }}</b>: {{ exp.exp }}
                            </span>
                            <span class="pull-right">Lv.<b>{{ exp.level }}</b></span>
                        </div>
                        <div class="panel-body">
                            <div class="progress progress-striped ani-fast">
                                <div class="progress-bar active" style="width: {{ exp.persent }}%; min-width: 5em">
                                    {{ exp.persent }}%
                                </div>
                            </div>
                            <table class="table table-condensed">
                            {% for eh in exphistory %}
                                <tr>
                                    <th>+{{ eh.change }}</th>
                                    <td>{{ eh.operation }}</td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div><!--.col-->
    </div><!--.row-->
</div><!--.container-->
{% endblock content %}

{% block js %}
<script>
    $(function(){
        $("[data-toggle='tooltip']").tooltip()
    })
    function changeHeadimg(){
        $("#headimg-form input[name='headimg']").click()
    }
</script>
{% endblock js %}
