{% extends "base.html" %}
{% load i18n %}

{% block title %}@{{ user.nickname }} {% trans "的公开页" %}{% endblock title %}

{% block css %}
<style>
    #headimg {
        width: 100%;
    }
    .userbadge {
        width: 100%;
    }
    .table {
        margin-bottom: 0;
        font-size: 15px;
    }
    /* main-info */
    .progress-status {
        width: 30%;
    }
    /* exp-info */
    .progress {
        margin: 0;
    }
    .panel:hover .progress {
        height: 25px;
    }
    #exp-info .category {
        font-size: 15px;
        font-weight: bold;
    }

</style>
{% endblock css %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="hidden-xs col-sm-4 col-md-3 col-md-offset-1">
            <div class="panel panel-primary ani-veryfast hover-shadow">
                <div class="panel-body">
                    {% with head_img=user.headimg_url|default:"/static/img/user/default_headimg.jpg" %}
                        <a href="{{ head_img }}">
                            <div id="headimg" class="img-square img-rounded" style="background-image: url('{{ head_img }}')"></div>
                        </a>
                    {% endwith %}
                </div>
            </div>
        </div>
        <div id="main-info" class="col-xs-12 col-sm-8 col-md-7">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#personal-info" aria-controls="personal-info" role="tab" data-toggle="tab">{% trans "个人信息" %}</a>
                </li>
                <li role="presentation">
                    <a href="#progress-info" aria-controls="progress-info" role="tab" data-toggle="tab">{% trans "进度信息" %}</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="personal-info">
                    <table class="table table-condensed table-hover">
                        <tr>
                            <th>{% trans "昵称" %}</th>
                            <td>
                                @{{ user.nickname }}
                                <a class="pull-right btn btn-success btn-sm" href="/chat/conversation?receiver={{user.nickname}}">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    {% trans "发消息" %}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans "活跃等级" %}</th>
                            <td>
                                Lv.{{ user.level }}
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans "创建时间" %}</th>
                            <td>{{ user.created|date:'Y-m-d' }}</td>
                        </tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="progress-info">
                     <table class="table table-condensed table-hover">
                    {% for name, count in prgcounts %}
                        {% trans "出错" as t_error %}
                        {% if name != t_error %}
                            <tr>
                                <th class="progress-status">{{ name }}:</th>
                                <td>{{ count }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div><!--.col-->
    </div><!--.row-->
    {% include 'user/badges.html' with user=user %}
</div><!--.container-->
{% endblock content %}
