{% extends "base.html" %}
{% block title %}个人设置{% endblock %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    进度相关设置
                </div>
                <div class="panel-body">
                    <form id='ical-form' action="/progress/setical" method="post">
                        {% csrf_token %}
                        <div class='checkbox'>
                            <label>
                                <input type="checkbox" name='useical' value='on' {%if icalon%}checked{%endif%} onchange='$("#ical-form").submit()'/>
                                公开进度日历
                            </label>
                            <span class='text-muted'>（公开时私人仍可用）</span>
                            {% if icalon %}
                                <a class='pull-right' href='/progress/icalendar?userid={{ user.id }}'>
                                    「进度日历」地址（公开）
                                </a>
                            {% else %}
                                <a class='pull-right' href='/progress/icalendar?userid={{ user.id }}&private={{ privatekey }}'>
                                    「进度日历」地址（私人）
                                </a>
                            {% endif %}
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
