{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "个人设置" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {% trans "进度日历设置" %}
                </div>
                <div class="panel-body">
                    <form id="ical-form" action="/progress/setical" method="post">
                        {% csrf_token %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="enable" value="on" {% if cuser.ical_on %}checked{% endif %} onchange="$('#ical-form').submit()"/>
                                {% trans "公开进度日历" %}
                            </label>
                            {% if cuser.ical_on %}
                                <a class="pull-right" href="/progress/ical?userid={{ cuser.id }}">
                                    {% trans "「进度日历」地址（公开）" %}
                                </a>
                            {% else %}
                                <a class="pull-right" href="/progress/ical?userid={{ cuser.id }}&private={{ privatekey }}">
                                    {% trans "「进度日历」地址（私人）" %}
                                </a>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {% trans "离线缓存设置" %}
                </div>
                <div class="panel-body">
                    <form id="sw-form" action="/progress/setserviceworker" method="post">
                        {% csrf_token %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="enable" value="on" {% if cuser.serviceworker_on %}checked{% endif %} onchange="$('#sw-form').submit()"/>
                                {% trans "启用进度缓存" %}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
