{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "用户注册" %}{% endblock title %}

{% block theme %}
    <link rel="stylesheet" href="/static/3rd/bootstrap-3.4.1/css/bootstrap.min.css">
{% endblock %}

{% block nav-btn %}
    <div id="mode-toggle" class="btn btn-warning btn-sm" mode="old" onclick="modeToggle()">
        <span class="glyphicon glyphicon-retweet"></span>
        {% trans "切换到" %}「<b id="mode-toggle-text">{% trans "问答" %}</b>」{% trans "模式" %}
    </div>
{% endblock nav-btn %}

{% block css %}
<style>
    .container {
        background: url('/static/img/user/signup.jpg');
        display: table;
    }
    body {
        background-color: gray;
    }
    #form-wrap {
        display: table-cell;
        vertical-align: middle;
    }
    .input-group {
        margin-top: 10px;
    }
    #form-div {
        padding: 5%;
        background-color: rgba(0,0,0,.0);
    }
    .tips {
        cursor: help;
    }
    .xs-tips {
        color: white;
        text-shadow: 0 0 1px silver;
        display: none;
    }
    #submit-button{
        margin-top: 10px;
        pointer-events: auto;
    }
</style>
{% endblock css %}
{% block js %}
<script>
    $(function(){
        $('.tips').each(function(){
            $(this).attr('data-toggle',"popover");
            $(this).attr('data-container',"body");
            $(this).attr('data-placement',"right");
            $(this).attr('data-trigger',"hover click");
            $(this).attr('data-html',true);
        });
        $('.input-group').on('input','.needverify', disableSubmit)   // 输入、修改需要验证的字段时，禁止提交
        $('.input-group').on('input','.needverify', function(){ // 输入、修改需要验证的字段时，消除错误、正确的样式
            clearHasClass($(this).parent())
        })
        $('[data-toggle="popover"]').popover();
        $('.input-group').on('focus','input', showTips);
        $('.input-group').on('blur','input', hideTips);
        $('.oldmode').hide()
        $('.newmode').hide()
        modeToggle('old')
        disableSubmit()
    });
    function showLoading(mode){
        var ele = $('#submit-button')
        if('off'==mode){
            ele.text("{% trans '提交注册' %}")
            ele.addClass('btn-success')
            ele.removeClass('btn-warning')
        } else {
            ele.text('LOADING ...')
            ele.removeClass('btn-success')
            ele.addClass('btn-warning')
        }
    }

    function showSubmitting(mode){
        var ele = $('#submit-button')
        if('off'==mode){
            ele.text("{% trans '提交注册' %}")
        } else {
            ele.text("{% trans '提交中' %}")
        }
    }

    function disableSubmit(){
        $("#submit-button").attr('disabled','disabled');
        $('#submit-button').css('pointer-events','none');
    }
    function enableSubmit(){
        $("#submit-button").removeAttr('disabled');
        $('#submit-button').css('pointer-events','auto');
    }
    function modeToggle(mode){
        switch(mode){
            case 'old':
                $('#mode-toggle').attr('mode','old');
                $('#mode-toggle-text').text("{% trans '问答' %}");
                $('.oldmode').fadeIn()
                $('.newmode').fadeOut()
                $('input[name="question"]').val("{% trans '请输入密码' %}");
                $('input[name="tip"]').val('')
                $('input[name="answer1"]').attr('placeholder', "{% trans '密码' %}")
                $('input[name="answer1"]').attr('type','password')
                break;
            case 'new':
                $('#mode-toggle').attr('mode','new');
                $('#mode-toggle-text').text("{% trans '传统' %}");
                $('input[name="question"]').val('');
                $('input[name="tip"]').val('')
                $('input[name="answer1"]').attr('placeholder', "{% trans '答案' %}")
                $('input[name="answer1"]').attr('type','text')
                $('.oldmode').fadeOut()
                $('.newmode').fadeIn()
                break;
            default:
                if($('#mode-toggle').attr('mode') =='new'){
                    modeToggle('old')
                } else {
                    modeToggle('new')
                }
        }
    }

    function showTips(){
        if($('#mode-toggle').attr('mode') =='new'){  // 只在“问答”模式下给出提示
            if($('.hidden-xs').css('display') != 'none'){
                $(this).siblings('span.tips').popover('show');
            } else {
                $(this).parent().siblings('span.xs-tips').slideDown();
            }
        }
    }
    function hideTips(){
        if($('#mode-toggle').attr('mode') =='new'){  // 只在“问答”模式下给出提示
            if($('.hidden-xs').css('display') != 'none'){
                $(this).siblings('span.tips').popover('hide');
            } else {
                $(this).parent().siblings('span.xs-tips').slideUp();
            }
        }
    }
    function generateTip(){
        var answer = $('input[name="answer1"]').val()
        if(!answer){
            $('input[name="tip"]').val('')
            return
        }
        var tips = new Array()
        var stat = {}
        var pattern = {}
        pattern["{% trans '英文字母' %}"] = /[a-zA-Z]/g
        pattern["{% trans '汉字' %}"] = /[\u4e00-\u9fa5]/g
        pattern["{% trans '数字' %}"] = /[0-9]/g
        /* 不常用
        pattern["空格"] = / /g
        */
        // generate counts
        var count = {}
        for(k in pattern){
            count[k] = answer.match(pattern[k]) ? answer.match(pattern[k]).length : 0
        }
        // generate tip words
        random_i = Math.floor(Math.random()*(answer.length))
        for(k in pattern){
            if(random_i < (answer.length / 2)){
                var nth = "{% trans '正数第' %}" + " " + (random_i + 1) + " " + "{% trans '位字符' %}"
            } else if(random_i == answer.length) {
                var nth = "{% trans '最后一位字符' %}"
            } else {
                var nth = "{% trans '倒数第' %}" + " " + (answer.length - random_i) + " " + "{% trans '位字符' %}"
            }
            var translated_k = "{% trans '“' %}" + k + "{% trans '”' %}"
            var translated_nth = "{% trans '“' %}" + nth + "{% trans '”' %}"
            if(answer[random_i].match(pattern[k])){
                stat['nth_has_' + k] = translated_nth + "{% trans '是' %}" + translated_k
            }
            stat['has_' + k] = count[k] == 0 ? "{% trans '不包含' %}" + translated_k: "{% trans '包含' %}" + " " + count[k] + " " + "{% trans '个' %}" + translated_k
        }
        stat['nth_is'] = translated_nth + "{% trans '是' %}" + "{% trans '“' %}" + answer[random_i] + "{% trans '”' %}"
        stat['count_all'] = "{% trans '一共' %}" + " " + answer.length + " " + "{% trans '个字符' %}"
        for(k in stat){
            tips.push(stat[k])
        }
        // get 2 random tip words
        function randomsort(a, b) {
            return Math.random() > 0.5 ? -1 : 1;
        }
        tips = tips.sort(randomsort)
        tip1 = tips.pop()
        tips = tips.sort(randomsort)
        tip2 = tips.pop()
        var conjs = ["{% trans '、' %}", "{% trans '并且' %}", "{% trans '且' %}", "{% trans '而且' %}", "{% trans '同时' %}"]
        var tip = "{% trans '答案中' %}" + "{% trans '：' %}" + tip1 + conjs[Math.floor(Math.random()*conjs.length)] + tip2
        // write tip input
        if($('#mode-toggle').attr('mode') == 'new'){  // only show in new mode
            $('input[name="tip"]').val(tip)
        }
    }
    function clearHasClass(ele){
        ele.removeClass('has-warning');
        ele.removeClass('has-success');
        ele.removeClass('has-error');
    }
    var timer_vUn
    function validateUsername(){
        clearHasClass($('#username-group .input-group'));
        if( $('input[name="username"]').val() == '' ){
            $('#username-group .input-group').addClass('has-warning');
            return
        }
        showLoading('off')
        clearTimeout(timer_vUn)
        timer_vUn = setTimeout(function(){
            showLoading('on')
            $.ajax({
                type: "GET",
                url: "/user/validateusername",
                data: {
                    'username':$('input[name="username"]').val()
                },
                success: function (data) {
                    showLoading('off')
                    var result = data;
                    if(result.error){
                        $.danger(result.error);
                        return
                    }
                    if (result.exist) {
                        $('#username-group .input-group').addClass('has-error');
                        $.danger("{% trans '用户名' %}" + "{% trans '“' %}" + $('input[name="username"]').val() + "{% trans '”' %}" + "{% trans '已存在' %}")
                        $('input[name="username"]').focus()
                        disableSubmit()
                    } else {
                        $('#username-group .input-group').addClass('has-success');
                        enableSubmit()
                    }
                },
            });
        }, 500)
    }
    var timer_vNn
    function validateNickname(){
        clearHasClass($('#nickname-group .input-group'));
        if( $('input[name="nickname"]').val() == '' ){
            enableSubmit()
            return
        }
        clearTimeout(timer_vUn)
        showLoading('off')
        timer_vNn = setTimeout(function(){
            showLoading('on')
            $.ajax({
                type: "GET",
                url: "/user/validatenickname",
                data: {
                    'nickname':$('input[name="nickname"]').val()
                },
                success: function (data) {
                    showLoading('off')
                    var result = data;
                    if(result.error){
                        $.danger(result.error);
                        return
                    }
                    if (result.exist) {
                        $('#nickname-group .input-group').addClass('has-error');
                        $.danger("{% trans '昵称' %}" + "{% trans '“' %}" + $('input[name="nickname"]').val() + "{% trans '”' %}" + "{% trans '已存在' %}")
                        disableSubmit()
                    } else {
                        $('#nickname-group .input-group').addClass('has-success');
                        enableSubmit()
                    }
                },
            });
        }, 500);
    }
    var timer_vE
    function validateEmail(){
        clearHasClass($('#email-group .input-group'));
        if( $('input[name="email"]').val() == '' ){
            $('#email-group .input-group').addClass('has-warning');
            return
        }
        clearTimeout(timer_vE)
        showLoading('off')
        timer_vE = setTimeout(function(){
            showLoading('on')
            $.ajax({
                type: "GET",
                url: "/user/validateemail",
                data: {
                    'email':$('input[name="email"]').val()
                },
                success: function (data) {
                    showLoading('off')
                    var result = data;
                    if(result.error){
                        $.danger(result.error);
                        return
                    }
                    if (result.exist) {
                        $('#email-group .input-group').addClass('has-error');
                        $.danger("{% trans '邮箱' %}" + "{% trans '“' %}" + $('input[name="email"]').val() + "{% trans '”' %}" + "{% trans '已存在' %}")
                        disableSubmit()
                    } else {
                        $('#email-group .input-group').addClass('has-success');
                        enableSubmit()
                    }
                },
            });
        }, 500)
    }
    function submitForm(){
        function checkIsEmpty(selector, word){
            if( $(selector).find('input').val() == '' ){
                $(selector).addClass('has-error');
                $.danger(word + "{% trans '不能为空' %}")
                return false;
            }
            return true;
        }
        var checklist = {
            '#username-group .input-group': "{% trans '用户名' %}",
            '#question-group .input-group': "{% trans '问题' %}",
            '#answer1-group .input-group': "{% trans '密码或答案' %}",
            '#email-group .input-group': "{% trans '邮箱' %}",
        }
        for (var k in checklist) {
            if (checkIsEmpty(k, checklist[k])){
                continue
            } else {
                return false;
            }
        }
        disableAllBtn()
        showSubmitting()
        $("#the-form").submit();
    }
</script>
{% endblock js %}


{% block content %}
<div class="container fullscreen">
    <div id="form-wrap" class="row">
        <div id="form-div" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-xs-12">
            <form id="the-form" action="/user/newuser" method="post" autocomplete="off">
                {% csrf_token %}
                <div id="username-group">
                    <div class="input-group">
                        <span class="input-group-addon text-muted">
                            <span class="glyphicon glyphicon-user" title="{% trans '必填' %}{% trans '，' %}{% trans '只能包含“英文字母”、“数字”和“英文句号”' %}" data-toggle="tooltip" data-placement="top"></span>
                        </span>
                        <input type="text" name="username" class="form-control needverify" placeholder="{% trans '用户名' %}" autofocus="autofocus" onblur="validateUsername()">
                        <span class="input-group-addon tips hidden-xs"
                            title="{% trans '用户名' %} <span class='label label-primary'>{% trans '必填' %}</span>"
                            data-content="<li class='text-primary'>{% trans '登录时的凭证之一' %}</li>
                            <li class='text-danger'>{% trans '只能包含“英文字母”、“数字”和“英文句号”' %}</li>
                            <li class='text-danger'>{% trans '不能同其他人的用户名重复' %}</li>">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </span>
                    </div>
                    <span class="xs-tips">
                        <li><ins>{% trans "登录时的凭证之一" %}</ins></li>
                        <li>{% trans "只能包含“英文字母”、“数字”和“英文句号”" %}</li>
                        <li>{% trans "不能同其他人的用户名重复" %}</li>
                    </span>
                </div>
                <div id="question-group">
                    <div class="input-group newmode">
                        <span class="input-group-addon text-muted">
                            <span class="glyphicon glyphicon-comment"></span>
                        </span>
                        <input type="text" name="question" class="form-control" placeholder="{% trans '问题' %}">
                        <span class="input-group-addon tips hidden-xs"
                            title="问题 / Question <span class='label label-primary'>{% trans '必填' %}</span>"
                            data-content="<li class='text-primary'>{% trans '登录时会问您的问题' %}</li>
                            <li class='text-success'>{% trans '我们用 “问题+回答” 来代替传统密码' %}</li>
                            <li>{% trans '一些常用的问题包括：' %}</li>
                            <ul>
                            <li>{% trans '“最常用的8位密码”' %}</li>
                            <li>{% trans '“最想获得的超能力”' %}</li>
                            <li>{% trans '“家里保险柜的数量”' %}</li>
                            </ul>">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </span>
                    </div>
                    <span class="xs-tips">
                        <li><ins>{% trans "登录时会问您的问题" %}</ins></li>
                        <li>{% trans "在这里写下问题，在下面写下答案" %}</li>
                        <li>{% trans "尽量不要包含空格或标点符号" %}</li>
                    </span>
                </div>
                <div id="answer1-group">
                    <div class="input-group">
                        <span class="input-group-addon text-muted">
                            <span class="glyphicon glyphicon-asterisk" title="{% trans '必填' %}{% trans '，' %}{% trans '回答 “答案” 或 “备选答案” 均可正常登录' %}" data-toggle="tooltip" data-placement="top"></span>
                        </span>
                        <input type="text" name="answer1" class="form-control" placeholder="{% trans '密码' %}" onchange="generateTip()">
                        <span class="input-group-addon tips hidden-xs"
                            title="{% trans '答案' %} / {% trans '密码' %} <span class='label label-primary'>{% trans '必填' %}</span>"
                            data-content="<li>{% trans '问答模式时：</li>
                            <ul>
                            <li class='text-primary'>{% trans '登录时您需要回答的内容' %}</li>
                            <li class='text-danger'>{% trans '回答 “答案” 或 “备选答案” 均可正常登录' %}</li>
                            <li class='text-success'>{% trans '一般应与上面的问题相对应' %}</li>
                            <li class='text-success'>{% trans '中英文、标点、数字均可' %}</li>
                            <li class='text-warning'>{% trans '任何人（包括管理员）均无法查看您的回答' %}</li>
                            </ul>
                            <li>{% trans '传统模式时：' %}</li>
                            <ul>
                            <li class='text-danger'>{% trans '请输入密码' %}{% trans '，' %}{% trans '长度、字符不限' %}</li>
                            </ul>
                            ">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </span>
                    </div>
                    <span class="xs-tips">
                        <li><ins>{% trans "登录时您需要回答的内容" %}</ins></li>
                        <li>{% trans "一般应与上面的问题相对应" %}</li>
                        <li>{% trans "中英文、标点、数字均可" %}</li>
                        <li><em>{% trans "任何人（包括管理员）均无法查看您的回答" %}</em></li>
                    </span>
                </div>
                <div id="answer2-group">
                    <div class="input-group newmode">
                        <span class="input-group-addon text-muted">
                            <span class="glyphicon glyphicon-asterisk" title="{% trans '必填' %}{% trans '，' %}{% trans '回答 “答案” 或 “备选答案” 均可正常登录' %}" data-toggle="tooltip" data-placement="top"></span>
                        </span>
                        <input type="text" name="answer2" class="form-control" placeholder="{% trans '备选答案' %}">
                        <span class="input-group-addon tips hidden-xs"
                            title="{% trans '备选答案' %} <span class='label label-success{% trans '选填' %}</span>"
                            data-content="<li class='text-primary'>{% trans '同样作为正常答案生效' %}</li>
                            <li class='text-danger'>{% trans '回答 “答案” 或 “备选答案” 均可正常登录' %}</li>
                            <li>{% trans '常见的 “答案” 与 “备选答案” 的组合有：' %}</li>
                            <ul>
                            <li><span style='color:brown'>{% trans '中文答案 + 英文答案' %}</span>
                            <div>{% trans '（北京 vs. beijing）' %}</div></li>
                            <li><span style='color:brown'>{% trans '容易混淆的答案' %}</span>
                            <div>{% trans '（8月15日 vs. 08-15）' %}</div></li>
                            <li><span style='color:brown'>{% trans '自己也拿不准的答案' %}</span>
                            <div>{% trans '（炸鸡 vs. 烧烤）' %}</div></li>
                            </ul>
                            ">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </span>
                    </div>
                    <span class="xs-tips">
                        <li><ins>{% trans "同样作为正常答案生效" %}</ins></li>
                        <li>{% trans "回答 “答案” 或 “备选答案” 均可正常登录" %}</li>
                        <li>{% trans "不需要与 “答案” 相同" %}</li>
                    </span>
                </div>
                <div id="tip-group">
                    <div class="input-group newmode">
                        <span class="input-group-addon text-muted">
                            <span class="glyphicon glyphicon-magnet"></span>
                        </span>
                        <input type="text" name="tip" class="form-control" placeholder="{% trans '答案提示' %}">
                        <span class="input-group-addon btn btn-default" onclick="generateTip()" title="{% trans '生成提示' %}">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </span>
                        <span class="input-group-addon tips hidden-xs"
                            title="{% trans '答案提示' %}<span class='label label-success'>{% trans '选填' %}</span>"
                            data-content="<li class='text-primary'>{% trans '登录时，问题答案的提示信息' %}</li>
                            <li class='text-success'>{% trans '在登录界面您需要时自动显示' %}</li>
                            <li class='text-warning'>{% trans '请不要将答案直接放在这里' %}</li>
                            ">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </span>
                    </div>
                    <span class="xs-tips">
                        <li><ins>{% trans "登录时，问题答案的提示信息" %}</ins></li>
                        <li>{% trans "在登录界面您需要时自动显示" %}</li>
                        <li>{% trans "请不要将答案直接放在这里" %}</li>
                    </span>
                </div>
                <hr/>
                <div id="email-group">
                    <div class="input-group">
                        <span class="input-group-addon text-muted">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </span>
                        <input type="email" name="email" class="form-control needverify" placeholder="{% trans '邮箱' %}" onblur="validateEmail()">
                        <span class="input-group-addon tips hidden-xs"
                            title="{% trans '邮箱' %} <span class='label label-primary'>{% trans '必填' %}</span>"
                            data-content="<li class='text-primary'>{% trans '用于找回密码或答案' %}</li>
                            <li class='text-danger'>{% trans '邮箱验证通过后方可生效' %}</li>
                            <li class='text-danger'>{% trans '邮箱验证生效前，无法找回密码或答案' %}</li>">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </span>
                    </div>
                    <span class="xs-tips">
                        <li><ins>{% trans "用于找回密码或答案" %}</ins></li>
                        <li><em>{% trans "邮箱验证通过后方可生效" %}</em></li>
                        <li><em>{% trans "邮箱验证生效前，无法找回密码或答案" %}</em></li>
                    </span>
                </div>
                <div id="nickname-group">
                    <div class="input-group">
                        <span class="input-group-addon text-muted">
                            <span class="glyphicon glyphicon-music"></span>
                        </span>
                        <input type="text" name="nickname" class="form-control needverify" placeholder="{% trans '昵称' %}" onblur="validateNickname()">
                        <span class="input-group-addon tips hidden-xs"
                        title="{% trans '昵称' %} <span class='label label-success'>{% trans '选填' %}</span>"
                        data-content="<li class='text-primary'>{% trans '你希望他人看到的名称' %}</li>
                        <li class='text-danger'>{% trans '昵称只能是 “汉字” 和 “字母”' %}</li>
                        <li class='text-danger'>{% trans '昵称不可与他人重复' %}</li>
                        <li>{% trans '昵称为空时，我们将自动帮您生成' %}</li>">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </span>
                </div>
                <span class="xs-tips">
                    <li><ins>{% trans "你希望他人看到的名称" %}</ins></li>
                    <li>{% trans "昵称只能是 “汉字” 和 “字母”" %}</li>
                    <li>{% trans "昵称不可与他人重复" %}</li>
                    <li><em>{% trans "昵称为空时，我们将自动帮您生成" %}</em></li>
                </span>
            </div>
                {% if next %}
                    <input type="hidden" value="{{next}}">
                {% endif %}
            </form>
            <button id="submit-button" class="btn btn-success btn-block" onclick="submitForm()">
                {% trans "提交注册" %}
            </button>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
