{% extends "base.html" %}
{% block title %}用户登入{% endblock title %}

{% block theme %}{% endblock %}

{% block css %}
<style>
    .container {
        height: 100%;
        width: 100%;
        background: url('/static/img/user/signin.jpg');
        background-size: cover !important;/*撑开图片*/
        background-position: 50% 50% !important;
        display: table;
    }
    #form-wrap {
        display: table-cell;
        vertical-align: middle;
    }
    #form-div {
        padding: 25px;
        background-color: rgba(0,0,0,0.5);
    }
    .input-group {
        width: 100%;
    }
    .input-group input {
        color: white;
    }
    .input-group-addon {
        color: silver;
        font-size: x-large;
    }
    .tips {
        cursor: help;
    }
    #question-content {
        border-bottom: 0;
    }
    #tip-content {
        border-bottom: 0;
        color: silver;
        text-align: right;
        font-size: small;
    }
    #buttons {
        margin-top: 10px;
        width: 100%;
    }
    #submit-button{
        pointer-events: auto;
    }
    input[name='password'] {
        display: none;
    }
</style>
{% endblock css %}
{% block js %}
<script>
    $(function(){
        $('.tips').each(function(){
            $(this).attr('data-toggle',"popover")
            $(this).attr('data-container',"body")
            $(this).attr('data-placement',"right")
            $(this).attr('data-trigger',"hover click")
            $(this).attr('data-html',true)
        })
        $('#rememberme').attr('data-html',true)
        $('[data-toggle="popover"]').popover()
        $('#question-group').hide()
        $('#answer-group').hide()
        $('#tip-group').hide()
    });
    function clearHasClass(ele){
        ele.removeClass('has-warning')
        ele.removeClass('has-success')
        ele.removeClass('has-error')
    }
    function foldOptions(){
        $('#question-content').val('')
        $('#tip-content').val('')
        $('input[name="answer"]').val('')
        $('#question-group').fadeOut('fast')
        $('#tip-group').fadeOut('fast')
        $('#answer-group').fadeOut('fast')
        $('#submit-button').attr('disabled','disabled')
    }
    function unfoldOptions(option){
        $.ajax({
            type: "GET",
            url: "/user/getquestionandtip",
            data: {
                'username':$('input[name="username"]').val()
            },
            success: function (data) {
                var result = data;
                if( result.error ){
                    $.danger(result.error)
                } else {
                    $('#question-content').val(result.question)
                    if(result.question.indexOf('密码')>=0){
                        $('input[name="answer"]').attr('placeholder','密码 / Password')
                        $('input[name="answer"]').attr('type','password')
                    } else {
                        $('input[name="answer"]').attr('placeholder','答案 / Answer')
                        $('input[name="answer"]').attr('type','text')
                    }
                    $('#question-group').fadeIn('fast')
                    $('#answer-group').fadeIn('fast')
                    if(result.tip){
                        $('#tip-content').val('提示：'+result.tip)
                        $('#tip-group').fadeIn('fast')
                    } else {
                        $('#tip-content').val('')
                        $('#tip-group').fadeOut('fast')
                    }
                    $('#submit-button').removeAttr('disabled')
                    if(option == 'unique'){
                        $('input[name="answer"]').focus()
                    }
                }
            },
        })
    }

    function showLoading(mode){
        var ele = $('#submit-button')
        if('off'==mode){
            ele.text('登入 / Login')
            ele.addClass('btn-success')
            ele.removeClass('btn-warning')
        } else {
            ele.text('LOADING ...')
            ele.removeClass('btn-success')
            ele.addClass('btn-warning')
        }
    }

    function showSubmitting(mode){
        var ele = $('#submit-button')
        if('off'==mode){
            ele.text('登入 / Login')
        } else {
            ele.text('登入中 ...')
        }
    }

    var timer_vUn
    function validateUsername(option){
        clearHasClass($('#username-group'));
        if( $('input[name="username"]').val() == '' ){
            $('#username-group').addClass('has-warning')
            foldOptions()
            return
        }
        showLoading('off')
        clearTimeout(timer_vUn)
        timer_vUn = setTimeout(function(){
            showLoading('on')
            $.ajax({
                type: "GET",
                url: "/user/validateusername",
                data: {
                    'username':$('input[name="username"]').val()
                },
                success: function (data) {
                    showLoading('off')
                    var result = data
                    if(result.error){
                        $.danger(result.error)
                        foldOptions()
                        return
                    }
                    if (result.exist) {
                        if(result.unique){
                            unfoldOptions('unique')
                        } else {
                            unfoldOptions('normal')
                        }
                    } else {
                        if(option=='onblur' || option=='onchange'){
                            $('#username-group').addClass('has-error')
                            $.danger('用户 “'+ $('input[name="username"]').val() +'” 不存在')
                        }
                        foldOptions()
                    }
                },
            })
        }, 500)
    }
    function submitForm(){
        if( $('input[name="answer"]').val() == '' ){
            $('#answer-group').addClass('has-error')
            $.danger('答案不能为空')
            return false
        }
        if( $('input[name="username"]').val() == '' ){
            $('#username-group').addClass('has-error')
            $.danger('用户名不能为空')
            return false
        }
        disableAllBtn()
        showSubmitting()
        $("#login-form").submit()
    }
    function keydownAnswer(){
        if(event.keyCode==13){
            $('#submit-button').click()
            return false
        }
    }
</script>
{% endblock js %}

{% block nav-btn %}
<a href="/user/forgetanswer" class="btn btn-warning btn-sm">
    <span class="glyphicon glyphicon-exclamation-sign"></span> 忘记密码/答案
</a>
{% endblock nav-btn %}

{% block content %}
<div class="container">
    <div id="form-wrap" class="aligncenter row">
        <div id="form-div" class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-xs-12'>
            <form id="login-form" action="/user/checklogin/" method="post">
                <div class="input-group" id="username-group">
                    <span class="input-group-addon">
                        <input id="rememberme" type="checkbox"
                            data-container="body"
                            data-toggle="popover"
                            data-placement="top"
                            data-title="记住我 / Remember me"
                            data-content="<li class='text-primary'>2周内免登入</li><li class='text-danger'>公共电脑请勿勾选此项</li>"
                            data-trigger='hover'
                            name='rememberme'
                            value='on'
                            checked>
                    </span>
                    <input type="text" name="username" class="form-control" placeholder="用户名 / Username" autofocus="autofocus" onblur="validateUsername('onblur')" oninput="validateUsername('oninput')" autocomplete="off"/>
                    <span class="input-group-addon tips hidden-xs"
                        title="用户名 / Username <span class='label label-primary'>必填</span>"
                        data-content="<li class='text-primary'>请输入注册时的用户名</li>
                        <li class='text-danger'>只能包含“英文字母”、“数字”和“英文句号 .”</li>
                        <li>输入结束后，点击其他地方</li>">
                        ?
                    </span>
                </div>
                <input type="password" name='password' value="fakepasswordzone">
                <div class="input-group" id='question-group'>
                    <span class="input-group-addon">
                        <span class='glyphicon glyphicon-comment'></span>
                    </span>
                    <input id='question-content' type="question" name='question' class="form-control" value="" readonly/>
                </div>
                <div class="input-group" id='answer-group'>
                    <input type="text"
                        name="answer"
                        class="form-control"
                        placeholder="答案 / Answer"
                        onkeydown="keydownAnswer()"
                        autocomplete="off"
                        />
                    <span class="input-group-addon tips hidden-xs"
                        title="答案 / Answer <span class='label label-primary'>必填</span>"
                        data-content="<li class='text-primary'>注册时您填写的内容</li>
                        <li class='text-danger'>回答 “答案” 或 “备选答案” 均可正常登入</li>
                        <li class='text-success'>中英文、标点、数字均可</li>
                        ">
                        ?
                    </span>
                </div>
                <div class="input-group" id="tip-group">
                    <input id='tip-content' type='tip' name='tip' class="form-control" value="" readonly autocomplete="off">
                </div>
                {% if redirect %}
                <input type="hidden" name='redirect' value="{{redirect}}">
            </form>
            <div id="buttons row">
                <button id="submit-button" class="btn btn-success col-lg-12 col-md-12 col-sm-12 col-xs-12" onclick="submitForm()" disabled>
                    登入 / Login
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
