{% extends "base.html" %}
{% block title %}用户注册{% endblock title %}
{% block css %}
<style>
    .container {
        height: 100%;
        width: 100%;
        background: url('/static/img/user/signup.jpg');
        background-size: cover !important;/*撑开图片*/
        background-position: 50% 50% !important;
        display: table;
    }
    #form-wrap {
        width: 40%;
        display: table-cell;
        vertical-align: middle;
    }
    #form-div {
        padding: 25px;
        background-color: rgba(0,0,0,0.5);
    }

    .input-group input {
        color: white;
    }
    .input-group-addon {
        color: silver;
        font-size: x-large;
    }
    .tips {
        cursor: help;
    }
    #submit-button {
        margin-top: 10px;
        width: 100%;
    }
</style>
<script type="text/javascript">
$(function(){
    $('.tips').each(function(){
        $(this).attr('data-toggle',"popover");
        $(this).attr('data-container',"body");
        $(this).attr('data-placement',"right");
        $(this).attr('data-trigger',"hover click");
        $(this).attr('data-html',true);
    });
    $('[data-toggle="popover"]').popover();
    $('.input-group').on('focus','input', showTips);
    $('.input-group').on('blur','input', hideTips);
});
function showTips(){
    $(this).siblings('span.tips').popover('show');
}
function hideTips(){
    $(this).siblings('span.tips').popover('hide');
}
function clearHasClass(ele){
    ele.removeClass('has-warning');
    ele.removeClass('has-success');
    ele.removeClass('has-error');
}
function validateUsername(){
    clearHasClass($('#username-group'));
    if( $('input[name="username"]').val() == '' ){
        $('#username-group').addClass('has-warning');
        return
    }
    $.ajax({
        type: "GET",
        url: "/user/validateusername",
        data: {
            'username':$('input[name="username"]').val()
        },
        success: function (data) {
            var result = data;
            if (result.result == 'notexist') {
                $('#username-group').addClass('has-success');
                $("#submit-button").removeAttr('disabled');
            } else if (result.result == 'exist') {
                $('#username-group').addClass('has-error');
                $.danger('用户名 “'+ $('input[name="username"]').val() +'” 已存在')
                $("#submit-button").attr('disabled','');
            } else {
                $.danger(result.error);
            }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            console.log("Ajax Error, XMLHttpRequest:");
            console.log("status: " + XMLHttpRequest.status);
            console.log("readyState: " + XMLHttpRequest.readyState);
            console.log("textStatus: " + textStatus);
        },
    });
}
function validateNickname(){
    clearHasClass($('#nickname-group'));
    if( $('input[name="nickname"]').val() == '' ){
        $('#nickname-group').addClass('has-warning');
        return
    }
    $.ajax({
        type: "GET",
        url: "/user/validatenickname",
        data: {
            'nickname':$('input[name="nickname"]').val()
        },
        success: function (data) {
            var result = data;
            if (result.result == 'notexist') {
                $('#nickname-group').addClass('has-success');
                $("#submit-button").removeAttr('disabled');
            } else if (result.result == 'exist') {
                $('#nickname-group').addClass('has-error');
                $.danger('昵称 “'+ $('input[name="nickname"]').val() +'” 已存在')
                $("#submit-button").attr('disabled','');
            } else {
                $.danger(result.error);
            }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            console.log("Ajax Error, XMLHttpRequest:");
            console.log("status: " + XMLHttpRequest.status);
            console.log("readyState: " + XMLHttpRequest.readyState);
            console.log("textStatus: " + textStatus);
        },
    });
}
function validateEmail(){
    clearHasClass($('#email-group'));
    if( $('input[name="email"]').val() == '' ){
        $('#email-group').addClass('has-warning');
        return
    }
    $.ajax({
        type: "GET",
        url: "/user/validateemail",
        data: {
            'email':$('input[name="email"]').val()
        },
        success: function (data) {
            var result = data;
            if (result.result == 'notexist') {
                $('#email-group').addClass('has-success');
                $("#submit-button").removeAttr('disabled');
            } else if (result.result == 'exist') {
                $('#email-group').addClass('has-error');
                $.danger('邮箱 “'+ $('input[name="email"]').val() +'” 已存在')
                $("#submit-button").attr('disabled','');
            } else {
                $.danger(result.error);
            }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            console.log("Ajax Error, XMLHttpRequest:");
            console.log("status: " + XMLHttpRequest.status);
            console.log("readyState: " + XMLHttpRequest.readyState);
            console.log("textStatus: " + textStatus);
        },
    });
}
function submitForm(){
    if( $('input[name="username"]').val() == '' ){
        $('#username-group').addClass('has-error');
        $.danger('用户名不能为空')
        return false;
    }
    if( $('input[name="question"]').val() == '' ){
        $('#question-group').addClass('has-error');
        $.danger('问题不能为空')
        return false;
    }
    if( $('input[name="answer1"]').val() == '' ){
        $('#answer1-group').addClass('has-error');
        $.danger('答案不能为空')
        return false;
    }
    if( $('input[name="nickname"]').val() == '' ){
        $('#nickname-group').addClass('has-error');
        $.danger('昵称不能为空')
        return false;
    }
    if( $('input[name="email"]').val() == '' ){
        $('#email-group').addClass('has-error');
        $.danger('邮箱不能为空')
        return false;
    }
    $("#the-form").submit();
}
</script>
{% endblock css %}

{% block content %}
<div class="container">
    <div id="form-wrap" class="aligncenter">
        <div id="form-div">
            <form action="/user/newuser/" method="post" id="the-form">
                <div class="input-group" id='username-group'>
                    <input type="text" name="username" class="form-control" placeholder="用户名 / Username" autofocus="autofocus" oninput="clearHasClass($('#username-group'))" onchange='validateUsername()'>
                    <span class="input-group-addon tips"
                        title="用户名 / Username <span class='label label-primary'>必填</span>"
                        data-content="<li class='text-primary'>登入时的凭证之一</li>
                        <li class='text-danger'>用户名只能包含“英文字母”、“数字”和“英文句号 .”</li>
                        <li>不能同其他人的用户名重复。</li>">
                        ?
                    </span>
                </div>
                <div class="input-group" id="question-group">
                    <input type="text" name="question" class="form-control" placeholder="问题 / Question" oninput="clearHasClass($('#question-group'))">
                    <span class="input-group-addon tips"
                        title="问题 / Question <span class='label label-primary'>必填</span>"
                        data-content="<li class='text-primary'>会在登入时进行提问的私密问题</li>
                        <li class='text-success'>我们用 “问题+回答” 的形式来代替密码。</li>
                        <li>一些常用的问题包括：</li>
                        <ul>
                        <li>“最常用的8位密码”</li>
                        <li>“最想获得的超能力”</li>
                        <li>“家里保险柜的数量”</li>
                        </ul>">
                        ?
                    </span>
                </div>
                <div class="input-group" id="answer1-group">
                    <input type="text" name="answer1" class="form-control" placeholder="答案 / Answer" oninput="clearHasClass($('#answer1-group'))">
                    <span class="input-group-addon tips"
                        title="答案 / Answer <span class='label label-primary'>必填</span>"
                        data-content="<li class='text-primary'>登入时您需要回答的内容</li>
                        <li class='text-danger'>回答 “答案” 或 “备选答案” 均可正常登入</li>
                        <li class='text-success'>一般应与上面的问题相对应。</li>
                        <li class='text-success'>中英文、标点、数字均可</li>
                        <li class='text-warning'>任何人（包括管理员）均无法查看您的回答。</li>
                        <li class=''>加密储存，数据库被攻破时仍能保证安全。</li>
                        ">
                        ?
                    </span>
                </div>
                <div class="input-group" id="answer2-group">
                    <input type="text" name="answer2" class="form-control" placeholder="备选答案 / Alternative Answer">
                    <span class="input-group-addon tips"
                        title="备选答案 / Alternative Answer <span class='label label-success'>选填</span>"
                        data-content="<li class='text-primary'>同样作为正常答案生效</li>
                        <li class='text-danger'>回答 “答案” 或 “备选答案” 均可正常登入</li>
                        <li class=''>常见的 “答案” 与 “备选答案” 的组合有：</li>
                        <ul>
                        <li><span style='color:brown'>中文答案 + 英文答案</span>
                        <div>（北京 vs. beijing）</div></li>
                        <li><span style='color:brown'>容易混淆的答案</span>
                        <div>（8月15日 vs. 08-15）</div></li>
                        <li><span style='color:brown'>自己也拿不准的答案</span>
                        <div>（炸鸡 vs. 烧烤）</div></li>
                        </ul>
                        ">
                        ?
                    </span>
                </div>
                <div class="input-group" id="tip-group">
                    <input type="text" name="tip" class="form-control" placeholder="回答提示 / Tip">
                    <span class="input-group-addon tips"
                        title="回答提示 / Tip <span class='label label-success'>选填</span>"
                        data-content="<li class='text-primary'>登入时，问题答案的提示信息</li>
                        <li class='text-success'>在登入界面您需要时自动显示</li>
                        <li class='text-warning'>请不要将答案直接放在这里</li>
                        <li class=''>常见的 “回答提示” 有：</li>
                        <ul>
                        <li>答案是2个汉字</li>
                        <li>答案1块钱一串</li>
                        <li>答案是正常回答的回文</li>
                        </ul>
                        ">
                        ?
                    </span>
                </div>
                <div class="input-group" id="nickname-group">
                    <input type="text" name="nickname" class="form-control" placeholder="昵称 / Nickname" oninput="clearHasClass($('#nickname-group'))" onchange='validateNickname()'>
                    <span class="input-group-addon tips"
                        title="昵称 / Nickname <span class='label label-success'>选填</span>"
                        data-content="<li class='text-primary'>你希望他人看到的名称</li>
                        <li class='text-danger'>昵称只能是 “汉字” 和 “字母”</li>
                        <li class='text-danger'>昵称不可与他人重复</li>
                        <li class='text-success'>昵称可随时修改</li>
                        <li class=''>昵称为空时，我们将自动帮您生成</li>
                        ">
                        ?
                    </span>
                </div>
                <div class="input-group" id="email-group">
                    <input type="email" name="email" class="form-control" placeholder="邮箱 / Email" oninput="clearHasClass($('#email-group'))" onchange='validateEmail()'>
                    <span class="input-group-addon tips"
                        title="邮箱 / Email <span class='label label-primary'>必填</span>"
                        data-content="<li class='text-primary'>用于找回密码</li>
                        <li class='text-danger'>邮箱验证通过后方可生效</li>
                        <li class='text-danger'>邮箱验证生效前，无法找回密码</li>
                        <li class=''>用户头像将显示您邮箱绑定的 Gravatar™</li>
                        ">
                        ?
                    </span>
                </div>
                {% if redirect %}
                <input type="hidden" value="{{redirect}}">
                {% endif %}
            </form>
            <button id="submit-button" class="btn btn-success" onclick="submitForm()">
                提交注册 / Submit
            </button>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
