{% extends "base.html" %}
{% block title %}用户登入{% endblock title %}

{% block theme %}{% endblock %}

{% block css %}
<style>
    .container {
        background: url('/static/img/user/signin.jpg');
        display: table;
    }
    #form-wrap {
        display: table-cell;
        vertical-align: middle;
    }
    #form-div {
        padding: 5%;
        background-color: rgba(0,0,0,.0);
    }
    .one-group {
        margin-bottom: 10px;
    }
    #tip-group {
        margin-top: -10px;
    }
    #rememberme-content {
        font-size: small;
    }
    #submit-button{
        pointer-events: auto;
    }
</style>
{% endblock css %}
{% block js %}
<script>
    $(function(){
        $('#rememberme').attr('data-html',true)
        $('[data-toggle="tooltip"]').tooltip()
        $('#question-group').hide()
        $('#tip-group').hide()
    });
    function clearHasClass(ele){
        ele.removeClass('has-warning')
        ele.removeClass('has-success')
        ele.removeClass('has-error')
    }
    function foldOptions(){
        $('#question-content').val('')
        $('#tip-content').text('')
        $('input[name="answer"]').val('')
        $('#question-group').fadeOut('fast')
        $('#tip-group').fadeOut('fast')
    }
    function unfoldOptions(option){
        $.ajax({
            type: "GET",
            url: "/user/getquestionandtip",
            data: {
                'username':$('input[name="username"]').val()
            },
            success: function (data) {
                var result = data;
                if( result.error ){
                    $.danger(result.error)
                } else {
                    $('#question-content').val(result.question)
                    if(result.question.indexOf('密码')>=0){
                        $('input[name="answer"]').attr('placeholder','密码 / Password')
                        $('input[name="answer"]').attr('type','password')
                    } else {
                        $('input[name="answer"]').attr('placeholder','答案 / Answer')
                        $('input[name="answer"]').attr('type','text')
                    }
                    $('#question-group').fadeIn('fast')
                    if(result.tip){
                        $('#tip-content').text('提示：'+result.tip)
                        $('#tip-group').fadeIn('fast')
                    } else {
                        $('#tip-content').text('')
                        $('#tip-group').fadeOut('fast')
                    }
                    if(option == 'unique'){
                        $('input[name="answer"]').focus()
                    }
                }
            },
        })
    }

    function showStatus(mode, word){
        var ele = $('#submit-button')
        if('off'==mode){
            ele.text('登入 / Login')
            ele.addClass('btn-success')
            ele.removeClass('btn-warning')
            ele.removeClass('disabled')
        } else {
            ele.text(word)
            ele.removeClass('btn-success')
            ele.addClass('btn-warning')
            ele.addClass('disabled')
        }
    }

    var timer_vUn
    function validateUsername(option){
        clearHasClass($('#username-group'));
        if( $('input[name="username"]').val() == '' ){
            $('#username-group').addClass('has-warning')
            foldOptions()
            return
        }
        showStatus('off', 'LOADING ...')
        clearTimeout(timer_vUn)
        timer_vUn = setTimeout(function(){
            showStatus('on'), 'LOADING ...'
            $.ajax({
                type: "GET",
                url: "/user/validateusername",
                data: {
                    'username':$('input[name="username"]').val()
                },
                success: function (data) {
                    showStatus('off', 'LOADING ...')
                    var result = data
                    if(result.error){
                        $.danger(result.error)
                        foldOptions()
                        return
                    }
                    if (result.exist) {
                        if(result.unique){
                            unfoldOptions('unique')
                        } else {
                            unfoldOptions('normal')
                        }
                    } else {
                        if(option=='onblur' || option=='onchange'){
                            $('#username-group').addClass('has-error')
                            $.danger('用户 “'+ $('input[name="username"]').val() +'” 不存在')
                        }
                        foldOptions()
                    }
                },
            })
        }, 500)
    }
    function submitForm(){
        if( $('input[name="answer"]').val() == '' ){
            $('#answer-group').addClass('has-error')
            $.danger('密码/答案不能为空')
            return false
        }
        if( $('input[name="username"]').val() == '' ){
            $('#username-group').addClass('has-error')
            $.danger('用户名不能为空')
            return false
        }
        clearTimeout(timer_vUn)
        disableAllBtn()
        showStatus('on', '登入中 ...')
        $("#login-form").submit()
    }
    function keydownAnswer(){
        if(event.keyCode==13){
            $('#submit-button').click()
            return false
        }
    }
    function keydownUsername(){
        if(event.keyCode==13){
            $('input[name="answer"]').focus()
            return false
        }
    }
</script>
{% endblock js %}

{% block nav-btn %}
    {% include 'user/signindropdown.html' %}
{% endblock nav-btn %}

{% block content %}
<div class="container fullscreen">
    <div id="form-wrap" class="row">
        <div id="form-div" class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-xs-12'>
            <form id="login-form" action="/user/checklogin/" method="post">
                {% csrf_token %}
                <div class="one-group input-group" id="username-group">
                    <span class="input-group-addon text-muted" title='必填，只能包含“英文字母”、“数字”和“英文句号' data-toggle="tooltip" data-placement="top">
                        <span class='glyphicon glyphicon-user'></span>
                    </span>
                    <input type="text" class="form-control" name="username"
                        placeholder="用户名 / Username"
                        autofocus="autofocus" autocomplete="off"
                        onblur="validateUsername('onblur')" onkeydown="keydownUsername()">
                </div>
                <div class="one-group input-group" id='question-group'>
                    <span class="input-group-addon text-muted">
                        <span class='glyphicon glyphicon-comment'></span>
                    </span>
                    <input id='question-content' type="question" name='question' class="form-control" value="" readonly='readonly' autocomplete="off">
                </div>
                <div class="one-group input-group" id='answer-group'>
                    <span class="input-group-addon text-muted" title='必填，回答 “答案” 或 “备选答案” 均可正常登入' data-toggle="tooltip" data-placement="top">
                        <span class='glyphicon glyphicon-credit-card'></span>
                    </span>
                    <input type="password" class="form-control" name="answer"
                        placeholder="密码 / Password"
                        autocomplete="off"
                        onkeydown="keydownAnswer()" onfocus='$(this).val("")'>
                </div>
                <div class="one-group well well-sm" id="tip-group">
                    <div id='tip-content' class='small'></div>
                </div>
                <div class="one-group input-group" id="rememberme-group">
                    <span class="input-group-addon" title='两周内免登入，公共电脑请勿勾选此项' data-toggle="tooltip" data-placement="top">
                        <input id="rememberme" type="checkbox" name='rememberme' value='on' checked>
                    </span>
                    <input id='rememberme-content' type='text' class="form-control" value="记住我 / Remember me" readonly='readonly' autocomplete="off">
                </div>
                <input type="hidden" name="from" value="{{from}}">
            </form>
            <div class='row'>
                <div class='col-xs-12'>
                    <button id="submit-button" class="btn btn-success btn-block" onclick="submitForm()">
                        登入 / Login
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
