{% extends "base.html" %}
{% block title %}用户注册{% endblock title %}

{% block theme %}{% endblock %}

{% block css %}
<style>
    .container {
        background: url('/static/img/user/signup.jpg');
        display: table;
    }
    body {
        background-color: gray;
    }
    #form-wrap {
        display: table-cell;
        vertical-align: middle;
    }
    .input-group {
        margin-top: 10px;
    }
    #form-div {
        padding: 5%;
        background-color: rgba(0,0,0,.0);
    }
    .tips {
        cursor: help;
    }
    .xs-tips {
        color: white;
        text-shadow: 0 0 1px silver;
        display: none;
    }
    #submit-button{
        margin-top: 10px;
        pointer-events: auto;
    }
</style>
{% endblock css %}
{% block js %}
<script>
    $(function(){
        $('.tips').each(function(){
            $(this).attr('data-toggle',"popover");
            $(this).attr('data-container',"body");
            $(this).attr('data-placement',"right");
            $(this).attr('data-trigger',"hover click");
            $(this).attr('data-html',true);
        });
        $('.input-group').on('input','.needverify', disableSubmit)   // 输入、修改需要验证的字段时，禁止提交
        $('.input-group').on('input','.needverify', function(){ // 输入、修改需要验证的字段时，消除错误、正确的样式
            clearHasClass($(this).parent())
        })
        $('[data-toggle="popover"]').popover();
        $('.input-group').on('focus','input', showTips);
        $('.input-group').on('blur','input', hideTips);
        $('.oldmode').hide()
        $('.newmode').hide()
        modeToggle('new')
        disableSubmit()
    });
    function showLoading(mode){
        var ele = $('#submit-button')
        if('off'==mode){
            ele.text('提交注册 / Submit')
            ele.addClass('btn-success')
            ele.removeClass('btn-warning')
        } else {
            ele.text('LOADING ...')
            ele.removeClass('btn-success')
            ele.addClass('btn-warning')
        }
    }

    function showSubmitting(mode){
        var ele = $('#submit-button')
        if('off'==mode){
            ele.text('提交注册 / Submit')
        } else {
            ele.text('提交中 / Submitting')
        }
    }

    function disableSubmit(){
        $("#submit-button").attr('disabled','disabled');
        $('#submit-button').css('pointer-events','none');
    }
    function enableSubmit(){
        $("#submit-button").removeAttr('disabled');
        $('#submit-button').css('pointer-events','auto');
    }
    function modeToggle(mode){
        switch(mode){
            case 'old':
                $('#mode-toggle').attr('mode','old');
                $('#mode-toggle-text').text('问答');
                $('.oldmode').fadeIn()
                $('.newmode').fadeOut()
                $('input[name="question"]').val('请输入密码');
                $('input[name="tip"]').val('')
                $('input[name="answer1"]').attr('placeholder','密码 / Password')
                $('input[name="answer1"]').attr('type','password')
                break;
            case 'new':
                $('#mode-toggle').attr('mode','new');
                $('#mode-toggle-text').text('传统');
                $('input[name="question"]').val('');
                $('input[name="tip"]').val('')
                $('input[name="answer1"]').attr('placeholder','答案 / Answer')
                $('input[name="answer1"]').attr('type','text')
                $('.oldmode').fadeOut()
                $('.newmode').fadeIn()
                break;
            default:
                if($('#mode-toggle').attr('mode') =='new'){
                    modeToggle('old')
                } else {
                    modeToggle('new')
                }
        }
    }

    function showTips(){
        if($('#mode-toggle').attr('mode') =='new'){  // 只在“问答”模式下给出提示
            if($('.hidden-xs').css('display') != 'none'){
                $(this).siblings('span.tips').popover('show');
            } else {
                $(this).parent().siblings('span.xs-tips').slideDown();
            }
        }
    }
    function hideTips(){
        if($('#mode-toggle').attr('mode') =='new'){  // 只在“问答”模式下给出提示
            if($('.hidden-xs').css('display') != 'none'){
                $(this).siblings('span.tips').popover('hide');
            } else {
                $(this).parent().siblings('span.xs-tips').slideUp();
            }
        }
    }
    function generateTip(){
        var answer = $('input[name="answer1"]').val()
        if(!answer){
            $('input[name="tip"]').val('')
            return
        }
        var tips = new Array()
        var stat = {}
        var pattern = {}
        pattern["英文字母"] = /[a-zA-Z]/g
        pattern["汉字"] = /[\u4e00-\u9fa5]/g
        pattern["数字"] = /[0-9]/g
        /* 不常用
        pattern["空格"] = / /g
        */
        // generate counts
        var count = {}
        for(k in pattern){
            count[k] = answer.match(pattern[k]) ? answer.match(pattern[k]).length : 0
        }
        // generate tip words
        random_i = Math.floor(Math.random()*(answer.length))
        for(k in pattern){
            if(random_i < (answer.length / 2)){
                var nth = "第 " + (random_i + 1) + ' 位'
            } else if(random_i == answer.length) {
                var nth = "最后一位"
            } else {
                var nth = "倒数第 " + (answer.length - random_i) + ' 位'
            }
            if(answer[random_i].match(pattern[k])){
                stat['nth_has_' + k] = nth + "是" + k
            }
            stat['has_' + k] = count[k] == 0 ? '不包含' + k : '包含 ' + count[k] + ' 个' + k
        }
        stat['nth_is'] = nth + "是「" + answer[random_i] + "」"
        stat['count_all'] = '一共 ' + answer.length + ' 个字符'
        for(k in stat){
            tips.push(stat[k])
        }
        // get 2 random tip words
        function randomsort(a, b) {
            return Math.random() > 0.5 ? -1 : 1;
        }
        tips = tips.sort(randomsort)
        tip1 = tips.pop()
        tips = tips.sort(randomsort)
        tip2 = tips.pop()
        var conjs = ['、', '并且', '且', '而且', '同时']
        var tip = "答案中" + tip1 + conjs[Math.floor(Math.random()*conjs.length)] + tip2
        // write tip input
        if($('#mode-toggle').attr('mode') == 'new'){  // only show in new mode
            $('input[name="tip"]').val(tip)
        }
    }
    function clearHasClass(ele){
        ele.removeClass('has-warning');
        ele.removeClass('has-success');
        ele.removeClass('has-error');
    }
    var timer_vUn
    function validateUsername(){
        clearHasClass($('#username-group .input-group'));
        if( $('input[name="username"]').val() == '' ){
            $('#username-group .input-group').addClass('has-warning');
            return
        }
        showLoading('off')
        clearTimeout(timer_vUn)
        timer_vUn = setTimeout(function(){
            showLoading('on')
            $.ajax({
                type: "GET",
                url: "/user/validateusername",
                data: {
                    'username':$('input[name="username"]').val()
                },
                success: function (data) {
                    showLoading('off')
                    var result = data;
                    if(result.error){
                        $.danger(result.error);
                        return
                    }
                    if (result.exist) {
                        $('#username-group .input-group').addClass('has-error');
                        $.danger('用户名 “'+ $('input[name="username"]').val() +'” 已存在')
                        $('input[name="username"]').focus()
                        disableSubmit()
                    } else {
                        $('#username-group .input-group').addClass('has-success');
                        enableSubmit()
                    }
                },
            });
        }, 500)
    }
    var timer_vNn
    function validateNickname(){
        clearHasClass($('#nickname-group .input-group'));
        if( $('input[name="nickname"]').val() == '' ){
            enableSubmit()
            return
        }
        clearTimeout(timer_vUn)
        showLoading('off')
        timer_vNn = setTimeout(function(){
            showLoading('on')
            $.ajax({
                type: "GET",
                url: "/user/validatenickname",
                data: {
                    'nickname':$('input[name="nickname"]').val()
                },
                success: function (data) {
                    showLoading('off')
                    var result = data;
                    if(result.error){
                        $.danger(result.error);
                        return
                    }
                    if (result.exist) {
                        $('#nickname-group .input-group').addClass('has-error');
                        $.danger('昵称 “'+ $('input[name="nickname"]').val() +'” 已存在')
                        disableSubmit()
                    } else {
                        $('#nickname-group .input-group').addClass('has-success');
                        enableSubmit()
                    }
                },
            });
        }, 500);
    }
    var timer_vE
    function validateEmail(){
        clearHasClass($('#email-group .input-group'));
        if( $('input[name="email"]').val() == '' ){
            $('#email-group .input-group').addClass('has-warning');
            return
        }
        clearTimeout(timer_vE)
        showLoading('off')
        timer_vE = setTimeout(function(){
            showLoading('on')
            $.ajax({
                type: "GET",
                url: "/user/validateemail",
                data: {
                    'email':$('input[name="email"]').val()
                },
                success: function (data) {
                    showLoading('off')
                    var result = data;
                    if(result.error){
                        $.danger(result.error);
                        return
                    }
                    if (result.exist) {
                        $('#email-group .input-group').addClass('has-error');
                        $.danger('邮箱 “'+ $('input[name="email"]').val() +'” 已存在')
                        disableSubmit()
                    } else {
                        $('#email-group .input-group').addClass('has-success');
                        enableSubmit()
                    }
                },
            });
        }, 500)
    }
    function submitForm(){
        function checkIsEmpty(selector, word){
            if( $(selector).find('input').val() == '' ){
                $(selector).addClass('has-error');
                $.danger(word + '不能为空')
                return false;
            }
            return true;
        }
        var checklist = {
            '#username-group .input-group': '用户名',
            '#question-group .input-group': '问题',
            '#answer1-group .input-group': '答案 / 密码',
            '#email-group .input-group': '邮箱',
        }
        for (var k in checklist) {
            if (checkIsEmpty(k, checklist[k])){
                continue
            } else {
                return false;
            }
        }
        disableAllBtn()
        showSubmitting()
        $("#the-form").submit();
    }
</script>
{% endblock js %}

{% block nav-btn %}
<div id="mode-toggle" class="btn btn-warning btn-sm" mode="old" onclick='modeToggle()'>
    <span class="glyphicon glyphicon-retweet"></span> 切换到「<b id="mode-toggle-text">问答</b>」模式
</div>
{% endblock nav-btn %}

{% block content %}
<div class="container fullscreen">
    <div id="form-wrap" class="row">
        <div id="form-div" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-xs-12">
            <form id="the-form" action="/user/newuser/" method="post" autocomplete="off">
                {% csrf_token %}
                <div id='username-group'>
                    <div class="input-group">
                        <span class="input-group-addon text-muted">
                            <span class='glyphicon glyphicon-user' title='必填，只能包含“英文字母”、“数字”和“英文句号' data-toggle="tooltip" data-placement="top"></span>
                        </span>
                        <input type="text" name="username" class="form-control needverify" placeholder="用户名 / Username" autofocus="autofocus" onblur='validateUsername()'>
                        <span class="input-group-addon tips hidden-xs"
                            title="用户名 / Username <span class='label label-primary'>必填</span>"
                            data-content="<li class='text-primary'>登入时的凭证之一</li>
                            <li class='text-danger'>只能包含“英文字母”、“数字”和“英文句号”</li>
                            <li class='text-danger'>不能同其他人的用户名重复。</li>">
                            <span class='glyphicon glyphicon-question-sign'></span>
                        </span>
                    </div>
                    <span class="xs-tips">
                        <li><ins>登入时的凭证之一</ins></li>
                        <li>只能包含“英文字母”、“数字”和“英文句号”</li>
                        <li>不能同其他人的用户名重复。</li>
                    </span>
                </div>
                <div id="question-group">
                    <div class="input-group newmode">
                        <span class="input-group-addon text-muted">
                            <span class='glyphicon glyphicon-comment'></span>
                        </span>
                        <input type="text" name="question" class="form-control" placeholder="问题 / Question">
                        <span class="input-group-addon tips hidden-xs"
                            title="问题 / Question <span class='label label-primary'>必填</span>"
                            data-content="<li class='text-primary'>登入时会问您的问题</li>
                            <li class='text-success'>我们用 “问题+回答” 来代替传统密码。</li>
                            <li>一些常用的问题包括：</li>
                            <ul>
                            <li>“最常用的8位密码”</li>
                            <li>“最想获得的超能力”</li>
                            <li>“家里保险柜的数量”</li>
                            </ul>">
                            <span class='glyphicon glyphicon-question-sign'></span>
                        </span>
                    </div>
                    <span class="xs-tips">
                        <li><ins>登入时会问您的问题</ins></li>
                        <li>在这里写下问题，在下面写下答案</li>
                        <li>尽量不要包含空格或标点符号</li>
                    </span>
                </div>
                <div id="answer1-group">
                    <div class="input-group">
                        <span class="input-group-addon text-muted">
                            <span class='glyphicon glyphicon-credit-card' title='必填，回答 “答案” 或 “备选答案” 均可正常登入' data-toggle="tooltip" data-placement="top"></span>
                        </span>
                        <input type="text" name="answer1" class="form-control" placeholder="答案 / Answer" onchange='generateTip()'>
                        <span class="input-group-addon tips hidden-xs"
                            title="答案 / 密码 <span class='label label-primary'>必填</span>"
                            data-content="<li>问答模式时：</li>
                            <ul>
                            <li class='text-primary'>登入时您需要回答的内容</li>
                            <li class='text-danger'>回答 “答案” 或 “备选答案” 均可正常登入</li>
                            <li class='text-success'>一般应与上面的问题相对应。</li>
                            <li class='text-success'>中英文、标点、数字均可</li>
                            <li class='text-warning'>任何人（包括管理员）均无法查看您的回答。</li>
                            </ul>
                            <li>传统模式时：</li>
                            <ul>
                            <li class='text-danger'>请输入密码，长度、字符不限</li>
                            </ul>
                            ">
                            <span class='glyphicon glyphicon-question-sign'></span>
                        </span>
                    </div>
                    <span class="xs-tips">
                        <li><ins>登入时您需要回答的内容</ins></li>
                        <li>应与上面的问题相对应</li>
                        <li>中英文、标点、数字均可</li>
                        <li><em>任何人（包括管理员）均无法查看您的回答。</em></li>
                    </span>
                </div>
                <div id="answer2-group">
                    <div class="input-group newmode">
                        <span class="input-group-addon text-muted">
                            <span class='glyphicon glyphicon-credit-card' title='必填，回答 “答案” 或 “备选答案” 均可正常登入' data-toggle="tooltip" data-placement="top"></span>
                        </span>
                        <input type="text" name="answer2" class="form-control" placeholder="备选答案 / Alternative Answer">
                        <span class="input-group-addon tips hidden-xs"
                            title="备选答案 / Alternative Answer <span class='label label-success'>选填</span>"
                            data-content="<li class='text-primary'>同样作为正常答案生效</li>
                            <li class='text-danger'>回答 “答案” 或 “备选答案” 均可正常登入</li>
                            <li>常见的 “答案” 与 “备选答案” 的组合有：</li>
                            <ul>
                            <li><span style='color:brown'>中文答案 + 英文答案</span>
                            <div>（北京 vs. beijing）</div></li>
                            <li><span style='color:brown'>容易混淆的答案</span>
                            <div>（8月15日 vs. 08-15）</div></li>
                            <li><span style='color:brown'>自己也拿不准的答案</span>
                            <div>（炸鸡 vs. 烧烤）</div></li>
                            </ul>
                            ">
                            <span class='glyphicon glyphicon-question-sign'></span>
                        </span>
                    </div>
                    <span class="xs-tips">
                        <li><ins>同样作为正常答案生效</ins></li>
                        <li><em>回答 “答案” 或 “备选答案” 均可正常登入</em></li>
                        <li><b>常见的 “答案” 与 “备选答案” 的组合有：</b></li>
                        <ul>
                            <li>
                                <span>中文答案 + 英文答案</span>
                                <div>（北京 vs. beijing）</div>
                            </li>
                            <li>
                                <span>容易混淆的答案</span>
                                <div>（8月15日 vs. 08-15）</div>
                            </li>
                            <li>
                                <span>自己也拿不准的答案</span>
                                <div>（炸鸡 vs. 烧烤）</div>
                            </li>
                        </ul>
                    </span>
                </div>
                <div id="tip-group">
                    <div class="input-group newmode">
                        <span class="input-group-addon text-muted">
                            <span class='glyphicon glyphicon-magnet'></span>
                        </span>
                        <input type="text" name="tip" class="form-control" placeholder="回答提示 / Tip">
                        <span class="input-group-addon btn btn-default" onclick='generateTip()' title='生成提示'>
                            <span class='glyphicon glyphicon-refresh'></span>
                        </span>
                        <span class="input-group-addon tips hidden-xs"
                            title="回答提示 / Tip <span class='label label-success'>选填</span>"
                            data-content="<li class='text-primary'>登入时，问题答案的提示信息</li>
                            <li class='text-success'>在登入界面您需要时自动显示</li>
                            <li class='text-warning'>请不要将答案直接放在这里</li>
                            <li>常见的 “回答提示” 有：</li>
                            <ul>
                                <li>答案是2个汉字</li>
                                <li>答案1块钱一串</li>
                                <li>答案是正常回答的回文</li>
                            </ul>
                            ">
                            <span class='glyphicon glyphicon-question-sign'></span>
                        </span>
                    </div>
                    <span class="xs-tips">
                        <li><ins>登入时，问题答案的提示信息</ins></li>
                        <li><em>在登入界面您需要时自动显示</em></li>
                        <li><em>请不要将答案直接放在这里</em></li>
                        <li><b>常见的 “回答提示” 有：</b></li>
                        <ul>
                            <li>答案是2个汉字</li>
                            <li>答案1块钱一串</li>
                            <li>答案是正常回答的回文</li>
                        </ul>
                    </span>
                </div>
                <hr/>
                <div id="email-group">
                    <div class="input-group">
                        <span class="input-group-addon text-muted">
                            <span class='glyphicon glyphicon-envelope'></span>
                        </span>
                        <input type="email" name="email" class="form-control needverify" placeholder="邮箱 / Email" onblur='validateEmail()'>
                        <span class="input-group-addon tips hidden-xs"
                            title="邮箱 / Email <span class='label label-primary'>必填</span>"
                            data-content="<li class='text-primary'>用于找回密码</li>
                            <li class='text-danger'>邮箱验证通过后方可生效</li>
                            <li class='text-danger'>邮箱验证生效前，无法找回密码</li>
                            <li>用户头像将显示您邮箱绑定的 Gravatar™</li>">
                            <span class='glyphicon glyphicon-question-sign'></span>
                        </span>
                    </div>
                    <span class="xs-tips">
                        <li><ins>用于找回密码</ins></li>
                        <li><em>邮箱验证通过后方可生效</em></li>
                        <li><em>邮箱验证生效前，无法找回密码</em></li>
                        <li>用户头像将显示您邮箱绑定的 Gravatar™</li>
                    </span>
                </div>
                <div id="nickname-group">
                    <div class="input-group">
                        <span class="input-group-addon text-muted">
                            <span class='glyphicon glyphicon-music'></span>
                        </span>
                        <input type="text" name="nickname" class="form-control needverify" placeholder="昵称 / Nickname" onblur='validateNickname()'>
                        <span class="input-group-addon tips hidden-xs"
                        title="昵称 / Nickname <span class='label label-success'>选填</span>"
                        data-content="<li class='text-primary'>你希望他人看到的名称</li>
                        <li class='text-danger'>昵称只能是 “汉字” 和 “字母”</li>
                        <li class='text-danger'>昵称不可与他人重复</li>
                        <li class='text-success'>昵称可随时修改</li>
                        <li>昵称为空时，我们将自动帮您生成</li>">
                        <span class='glyphicon glyphicon-question-sign'></span>
                    </span>
                </div>
                <span class="xs-tips">
                    <li><ins>你希望他人看到的名称</ins></li>
                    <li><em>昵称只能是 “汉字” 和 “字母”</em></li>
                    <li><em>昵称不可与他人重复</em></li>
                    <li>昵称可随时修改</li>
                    <li>昵称为空时，我们将自动帮您生成</li>
                </span>
            </div>
                {% if redirect %}
                    <input type="hidden" value="{{redirect}}">
                {% endif %}
            </form>
            <button id="submit-button" class="btn btn-success btn-block" onclick="submitForm()">
                提交注册 / Submit
            </button>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
