.container {
    font-family: 'Microsoft YaHei';
}
/* page-header */
.page-header:hover .glyphicon {
    color: red;
}
.row .page-header {
    padding-bottom: 1px;
    cursor: pointer;
}
.prg-counts {
    color: inherit;
}
.btn.weblink {
    line-height: 1.22;
}
@media (min-width: 992px) {
    .right-bordered {
        border-right: 1px solid #eeeeee;
    }
}
