.container {
    font-family: 'Microsoft YaHei';
}
/* page-header */
.page-header:hover .glyphicon {
    color: red;
}
.page-header {
    padding-bottom: 2px !important;
    cursor: pointer;
    margin-top: 0 !important;
}
.prg-counts {
    color: inherit;
}
@media (min-width: 992px) {
    .right-bordered {
        border-right: 1px solid #eeeeee;
    }
}

/* timeline */
#hide-timeline {
    text-align: center;
    font-size: 16px;
    margin-bottom: -26px;
}
#hide-timeline span.glyphicon-chevron-up {
    z-index: 2;
    border-radius: 100%;
}
#hide-timeline span.glyphicon-chevron-up:hover {
    color: red;
    -webkit-transform: rotate(360deg) scale(1.2);
       -moz-transform: rotate(360deg) scale(1.2);
        -ms-transform: rotate(360deg) scale(1.2);
         -o-transform: rotate(360deg) scale(1.2);
            transform: rotate(360deg) scale(1.2);
}
.animate-hide {
    -webkit-transition: all 0.7s linear;
       -moz-transition: all 0.7s linear;
        -ms-transition: all 0.7s linear;
         -o-transition: all 0.7s linear;
            transition: all 0.7s linear;
}
