/*!
 * common.css v2.1.1
 */
/* page-header */
.page-header:hover .glyphicon {
    color: red;
}
.page-header {
    margin-top: 20px;
}
.row .page-header {
    padding-bottom: 1px;
    cursor: pointer;
}
.prg-counts {
    color: inherit;
}
@media (min-width: 992px) {
    .right-bordered {
        border-right: 1px solid #eeeeee;
    }
}
