{% extends "base.html" %}
{% load i18n %}

{% block userbar %}{% endblock userbar %}
{% block title %}500{% endblock title %}

{% block nav-btn %}{% endblock nav-btn %}


{% block css %}
    <style>
        .container {
            padding-top: 100px;
        }
        .panel-body {
            min-height: 140px;
        }
    </style>
{% endblock css %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {% trans "服务器出现了一个小问题" %}
                    </h3>
                </div>
                <div class="panel-body">
                    {% trans "服务器内部错误，请联系服务器管理员" %}
                </div>
                <div class="panel-footer text-right">
                    <a href="javascript:history.back()" class="btn btn-primary">
                        <span class="fas fa-arrow-left"></span>
                        {% trans "点此回到上个页面" %}
                    </a>
                </div>
            </div>
        </div><!--.col-->
    </div><!--.row-->
</div>
{% endblock content %}
