{% load i18n %}

<style>
    #the-very-div {
        height: 100%;
    }
    .container {
        padding-top: 51px;
    }
    .container-fluid {
        padding-top: 51px;
    }
    #user-bar {
        position: fixed;
        top: 10px;
        right: 5%;
        z-index: 800;
        font-size: 15px;
    }
    #user-bar img {
        max-height: 19px;
        max-width: 19px;
    }
    #user-bar a {
        text-decoration: none;
    }
    #user-bar .dropdown-menu {
        max-height: 80vh;
        overflow-y: auto;
    }
    #user-bar .dropdown-menu > li > a {
        line-height: 40px;
    }
</style>
<nav id="user-bar">
    {% if not cuser %}
        <span class="pull-right">
            <a href="/" class="btn btn-info btn-sm" title="Home Page" data-toggle="tooltip" data-placement="left">
                <span class="fas fa-home"></span>
            </a>
            <a href="/user/signup" class="btn btn-primary btn-sm">{% trans "注册" %}</a>
            <a href="/user/signin" class="btn btn-default btn-sm">
                <span class="fas fa-sign-in-alt"></span>
                {% trans "登录" %}
            </a>
            {% include "i18nbtn.html" %}
        </span>
    {% else %}
        <span class="pull-right">
            <a href="/" class="btn btn-info btn-sm hidden-xs" title="Home Page" data-toggle="tooltip" data-placement="left">
                <span class="fas fa-home"></span>
            </a>
            <a id="inbox-btn" class="btn btn-default btn-sm" href="/chat/inbox">
                <span class="fas fa-envelope"></span>
                <b id="unread-count"></b>
            </a>
            <div class="btn-group">
                <a type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if cuser.has_headimg %}
                        <img src="{{ cuser.headimg_url }}" title="{{ cuser.nickname }}">
                    {% else %}
                        <span class="fas fa-user" title="{{ cuser.nickname }}"></span>
                    {% endif %}
                    <span class="profile-nikename hidden-xs">
                        @<b>{{ cuser.nickname }}</b>
                    </span>
                    <span class="fas fa-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="/user/profile">
                            <span class="fas fa-id-card"></span> {% trans "个人信息" %}
                        </a>
                    </li>
                    <li>
                        <a href="/user/setting">
                            <span class="fas fa-user-cog"></span> {% trans "个人设置" %}
                        </a>
                    </li>
                    <li>
                        <a href="/user/logout" data-no-instant>
                            <span class="fas fa-sign-out-alt"></span>
                            <span class="text-danger">{% trans "注销" %}</span>
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li class="visible-xs-block">
                        <a href="/">
                            <span class="fas fa-home"></span>
                            <span class="text-info">{% trans "首页" %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/progress/list">
                            <span class="fas fa-th-list"></span>
                            <span class="text-primary">{% trans "我的进度" %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/robotalk">
                            <span class="fas fa-comment-alt"></span>
                            <span>{% trans "智械聊天" %}</span>
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:void(0)" role="button" onclick="$('#i18n-btn').fadeIn()">
                            <span class="fas fa-globe"></span>
                            <span>Languages</span>
                        </a>
                    </li>
                    <li>
                        <a href="/badge/list">
                            <span class="fas fa-award"></span>
                            <span>{% trans "徽章列表" %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" role="button" onclick="$('#bootswatch-btn').fadeIn()">
                            <span class="fas fa-brush"></span>
                            <span>{% trans "切换主题" %}</span>
                            <span class="btn btn-link innerlink" href="/index/settheme?mode=random">
                                <span class="fas fa-random"></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            {% include "i18nbtn.html" with hidden=True %}
            <div id="bootswatch-btn" class="btn-group" style="display:none;">
                <a class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" role="button">
                    <span class="fas fa-brush"></span>
                    {% if request.COOKIES.theme %}
                        {{ request.COOKIES.theme|capfirst }}
                    {% else %}
                        {% trans "默认主题" %}
                    {% endif %}
                    <span class="fas fa-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="/index/settheme">
                            <span class="far fa-window-restore"></span>
                            <span>{% trans "默认主题" %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/index/settheme?mode=system">
                            <span class="fas fa-window-restore"></span>
                            <span>{% trans "跟随系统" %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/index/settheme?mode=random">
                            <span class="fab fa-rev"></span>
                            <span>{% trans "随机主题" %}</span>
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">{% trans "浅色" %}</li>
                    <li><a href="/index/settheme?name=cerulean">{% trans "蔚蓝" %}</a></li>
                    <li><a href="/index/settheme?name=cosmo">{% trans "宇宙" %}</a></li>
                    <li><a href="/index/settheme?name=flatly">{% trans "扁平" %}</a></li>
                    <li><a href="/index/settheme?name=journal">{% trans "日志" %}</a></li>
                    <li><a href="/index/settheme?name=lumen">{% trans "流明" %}</a></li>
                    <li><a href="/index/settheme?name=paper">{% trans "纸" %}</a></li>
                    <li><a href="/index/settheme?name=readable">{% trans "易读" %}</a></li>
                    <li><a href="/index/settheme?name=sandstone">{% trans "砂岩" %}</a></li>
                    <li><a href="/index/settheme?name=simplex">{% trans "简约" %}</a></li>
                    <li><a href="/index/settheme?name=spacelab">{% trans "空间站" %}</a></li>
                    <li><a href="/index/settheme?name=united">{% trans "统一" %}</a></li>
                    <li><a href="/index/settheme?name=yeti">{% trans "雪人" %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">{% trans "深色" %}</li>
                    <li><a href="/index/settheme?name=cyborg">{% trans "半机械" %}</a></li>
                    <li><a href="/index/settheme?name=darkly">{% trans "暗色" %}</a></li>
                    <li><a href="/index/settheme?name=slate">{% trans "页岩" %}</a></li>
                    <li><a href="/index/settheme?name=superhero">{% trans "英雄" %}</a></li>
                </ul>
            </div>
        </span>
    {% endif %}
</nav>
<script>
    $(document).ready(function(){
        $("#user-bar [data-toggle='tooltip']").tooltip();
        updateUnreadCount();
    });
    function updateUnreadCount(){
        $.ajax({
            type: "GET",
            url: "/user/getunreadcount",
            data: {},
            success: function (data) {
                var result = data;
                if (result.error) {
                    alert(result.error);
                } else if (result.unreadcount > 0) {
                    var msg_prvw_container = $("<div></div>")
                    for (i in result.msgs){
                        var msg_prvw_sender = $("<span></span>").addClass("text-primary").text("@" + result.msgs[i].sender)
                        var msg_prvw_word = $("<span></span>").text("：" + result.msgs[i].words)
                        $("<div></div>").append(msg_prvw_sender).append(msg_prvw_word).appendTo(msg_prvw_container)
                    }
                    $("#user-bar #unread-count").text(result.unreadcount);
                    $("#user-bar #inbox-btn").popover({
                        "container": "body",
                        "html": "true",
                        "placement": "bottom",
                        //"title": "未读消息：",
                        "content": msg_prvw_container.html(),
                        "trigger": "hover",
                    });
                    //force refresh the content
                    $("#user-bar #inbox-btn").data("bs.popover").options.content = msg_prvw_container.html()
                } else if (result.unreadcount == 0) {
                    $("#user-bar #unread-count").text("")
                    $("#user-bar #inbox-btn").popover("destroy")
                }
            },
        });
    }
</script>
