.container {
    font-family: 'Microsoft YaHei';
}
/* page-header */
.page-header:hover span.glyphicon {
    color: red;
}
.page-header {
    padding-bottom: 2px;
    cursor: pointer;
}

/* progress-card */
/*.progress-card .panel{
    cursor: pointer;
}*/
.progress-card .panel-heading.progress-title {
    overflow-x: auto;
    overflow-y: hidden;
    word-break: keep-all;
    white-space: nowrap;
}
.progress-card .panel-body {
    padding: 0px;
}
.progress-card .progress {
    height: 25px;
    line-height: 25px;
    margin: 0;
}
.progress-card .progress .progress-bar {
    line-height: inherit;
}
.progress-card .div-table {
    padding: 2px;
    font-size: 12.9px;
    color: white;
    border-radius: 0;
}
.progress-card .persent,
.progress-card .subtitle,
.progress-card .weblink {
    font-size: 15px;
}
