/*!
 * progresscard.css v2.0.3
 */
/* progress-card */
.progress-card {
    opacity: 0.80;
}
.collapse:hover .progress-card {
    opacity: 1;
}
.no-bottom-border {
    border-bottom: 0 !important;
}
.progress-card .progress-title {
    overflow-x: hidden;
    overflow-y: hidden;
    word-break: keep-all;
}
@media (max-width: 768px) {
    .progress-card .progress-title {
        overflow-x: auto;
    }
}
.progress-card .progress {
    margin-bottom: 0;
    border-radius: 0;
}
.progress-card .progress:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.progress-card .progress .progress-bar {
    line-height: inherit;
}
.progress-card .plus-one {
    display: none;
    margin-left: 2px;
    margin-right: 2px;
}
@media (min-width: 768px) {
    .progress-card .plus-one {
        display: none;
    }
    .progress-card:hover .plus-one {
        display: inline-block;
    }
}
