/*!
 * progresscard.css v2.1.1
 */
/* progress-card */
.progress-card {
    opacity: 0.80;
}
.collapse:hover .progress-card {
    opacity: 1;
}
.no-bottom-border {
    border-bottom: 0 !important;
}
.progress-card .progress-title {
    overflow-x: hidden;
    overflow-y: hidden;
    word-break: keep-all;
}
@media (max-width: 768px) {
    .progress-card .progress-title {
        overflow-x: auto;
    }
}
.progress-card .progress {
    margin-bottom: 0;
    border-radius: 0;
}
.progress-card .progress:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.progress-card .line-height-anti-small {
    line-height: 167%;
}

.overflow-x-auto {
    overflow-x: auto;
}

.btn-xs.btn-xs-progress {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0 0 4px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
